<form #submitterForm="ngForm" id="submitterForm" class="form-horizontal" novalidate role="form">
    <p [hidden]="!formErrors" class="help-block bg-danger">
        {{formErrors}}
    </p>

    <div class="form-group row" [ngClass]="{ 'has-error' : !firstName.valid && !firstName.pristine}">
        <label for="firstName" class="col-sm-3 col-form-label">First Name:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="firstName" name="firstName"
                   placeholder="Please enter your first name"
                   [(ngModel)]="registrationService.newSubmitter.firstName" #firstName = "ngModel"
                   required/>

            <p *ngIf="!firstName.valid && !firstName.pristine" class="help-block">
                Your first name is required.</p>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-error' : !lastName.valid && !lastName.pristine}">
        <label for="lastName" class="col-sm-3 col-form-label">Last Name:</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="lastName" name="lastName"
                   placeholder="Please enter your last name" [(ngModel)]="registrationService.newSubmitter.lastName"
                   #lastName = "ngModel" required/>

            <p *ngIf="!lastName.valid && !lastName.pristine" class="help-block">
                Your last name is required.</p>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-error' : !institution.valid && !institution.pristine}">
        <label for="institution" class="col-sm-3 col-form-label">Institution:</label>
        <div class="col-sm-9">
            <input type="institution" class="form-control" placeholder="Please enter your institution" id="institution"
                   name="institution" [(ngModel)]="registrationService.newSubmitter.institution"
                   #institution = "ngModel" required/>

            <p *ngIf="!institution.valid && !institution.pristine" class="help-block">
                Please enter a valid institution.</p>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-error' : !email.valid && !email.pristine}">
        <label for="email" class="col-sm-3 col-form-label">Email Address:</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" placeholder="Please enter your email address" id="email"
                   name="email" [(ngModel)]="registrationService.newSubmitter.emailAddress"
                   #email = "ngModel" required/>
            <p *ngIf="!email.valid && !email.pristine" class="help-block">
                Please enter a valid email.</p>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-error' : !password.valid && !password.pristine}">
        <label for="password" class="col-sm-3 col-form-label">Password:</label>
        <div class="col-sm-9">
            <input  class="form-control" placeholder="Please enter your password" id="password"
                   name="password" type="password" [(ngModel)]="registrationService.newSubmitter.password"
                    #password = "ngModel" required
                    pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{6,30})"/>

            <p *ngIf="!password.valid && !password.pristine" class="text-danger">
                Please enter a valid password! (See requirements above)</p>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-error' : (!passwordMatch.valid &&
        !passwordMatch.pristine) || registrationService.newSubmitter.password != registrationService.newSubmitter.passwordMatch}">
        <label for="passwordMatch" class="col-sm-3 col-form-label">Re-enter Password:</label>
        <div class="col-sm-9">
            <input  class="form-control" type="password"  placeholder="Please re-enter your password" id="passwordMatch"
                    name="passwordMatch" [(ngModel)]="registrationService.newSubmitter.passwordMatch"
                    #passwordMatch = "ngModel" required/>

            <p *ngIf="(!passwordMatch.valid && !passwordMatch.pristine) ||
                registrationService.newSubmitter.password != registrationService.newSubmitter.passwordMatch" class="text-danger">Passwords do not match!</p>
        </div>
    </div>
    <input type="hidden" #id = "ngModel" name="id" [(ngModel)]="registrationService.newSubmitter.id" value="{{registrationService.newSubmitter.id}}"/>
</form>
