<div class="btn-group top5" ngbDropdown>
    <button type="button" class="btn dropdown-toggle btn-sm" ngbDropdownToggle
            [ngClass]="{'btn-info': !submitted, 'btn-success': submitted}"
            [disabled]="submitting || submitted ">
        <fa-icon *ngIf ="!submitted" [icon]="faComments"></fa-icon>
        <fa-icon *ngIf="submitted" [icon]="faCheck"></fa-icon>
        <span *ngIf="hasSubmitted">Re-Review Spectrum Quality</span>
        <span *ngIf="!hasSubmitted">Review Spectrum Quality</span>
    </button>

    <div ngbDropdownMenu>
        <li><button *ngIf="hasSubmitted" [ngClass]="existingFeedback.value === 'clean' ? 'bg-success text-white': ''" ngbDropdownItem (click)="rate('clean')">Clean Spectrum</button></li>
        <li><button *ngIf ="hasSubmitted" [ngClass]="existingFeedback.value === 'noisy' ? 'bg-danger text-white': ''" ngbDropdownItem (click)="rate('noisy')">Noisy Spectrum</button></li>
        <li><button *ngIf ="!hasSubmitted" ngbDropdownItem (click)="rate('clean')">Clean Spectrum</button></li>
        <li><button *ngIf = "!hasSubmitted" ngbDropdownItem (click)="rate('noisy')">Noisy Spectrum</button></li>
    </div>
</div>
