<span *ngIf="curatedFeedback !== null">
  <strong>
    <span *ngIf="curatedFeedback.value === 'noisy'" class="text-danger">
      {{curatedFeedback.value.toUpperCase()}} <span><a style="color: inherit" [routerLink]="['/documentation/entropy']"><fa-icon [icon]="faFlask" ngbTooltip="Calculated by MoNA Auto Curation. Noisy rating is (normalized entropy)&#8308; >= 0.8 AND spectral entropy >= 3.0"></fa-icon></a></span>
    </span>
    <span *ngIf="curatedFeedback.value === 'clean'" class="text-success">
      {{curatedFeedback.value.toUpperCase()}} <span><a style="color: inherit" [routerLink]="['/documentation/entropy']"><fa-icon [icon]="faFlask" ngbTooltip="Calculated by MoNA Auto Curation. Clean rating is (normalized entropy)&#8308; <= 0.8 AND spectral entropy <= 3.0"></fa-icon></a></span>
    </span>
  </strong>
</span>

<span *ngIf="communityFeedback !== null">
  <strong><span [ngClass]="communityFeedback.value === 'noisy' ? 'text-danger' : (communityFeedback.value === 'neutral' ? 'text-secondary' : 'text-success')">
    {{communityFeedback.value.toUpperCase()}} <span><fa-icon [icon]="faUserCircle" ngbTooltip="Reviewed by MoNA Users"></fa-icon></span>
  </span></strong>
</span>
