<h3>Quick Search</h3>

<form (ngSubmit)="submitQuery()" #searchForm="ngForm">
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table header-fixed table-borderless">
                    <thead>
                    <tr>
                        <th>Compound</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <input type="text" [(ngModel)]="query.name"
                                   name="queryName"
                                   class="form-control"
                                   placeholder="Name or InChIKey">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" [(ngModel)]="query.classification"
                                   name="queryClassification"
                                   class="form-control"
                                   placeholder="Compound Class"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" [(ngModel)]="query.formula"
                                   name="queryFormula"
                                   class="form-control"
                                   placeholder="Molecular Formula">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" [(ngModel)]="query.exactMass"
                                   name="queryExactMass"
                                   class="form-control"
                                   placeholder="Exact Mass">
                        </td>
                        <td>
                            <div class="input-group">
                              <div class="input-group-prepend"><span class="input-group-text">&#177;</span></div>
                                <input type="number" [(ngModel)]="query.exactMassTolerance"
                                       name="queryMassTolerance"
                                       class="form-control"
                                       value="0.5"
                                       placeholder="0.5">
                                <div class="input-group-prepend"><span class="input-group-text">Da</span></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br/>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ion Mode</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td *ngFor="let x of ionMode">
                                    <label class="clickable">
                                        <input type="checkbox" name="ionSelected" [(ngModel)]="x.selected"> {{x.name}}
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table header-fixed">
                            <thead>
                            <tr>
                                <th>Source Introduction</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                     <div *ngFor="let x of sourceIntroduction">
                                        <label class="clickable">
                                          <input type="checkbox" name="sourceIntro" [(ngModel)]="x.selected"> {{x.name}} ({{x.abv}})
                                        </label>
                                     </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- MS Type -->
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>MS Level</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <!-- Align ms levels with equal spacing (style.width...) -->
                                <td *ngFor="let x of msType" [style.width.%]="100 / msType.length">
                                    <label class="clickable">
                                        <input type="checkbox" name="msSelected" [(ngModel)]="x.selected"> {{x.name}}
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Library tags -->
            <div class="form-group row" *ngIf="libraryTags && libraryTags.length > 0">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>
                                  Libraries
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <!-- Show first 3 libraries or all based on expandedLibraries toggle -->
                                    <div *ngFor="let x of (expandedLibraries ? libraryTags : (libraryTags | slice:0:3))">
                                        <label class="clickable" ngbTooltip="{{x.count | number: '1.0-0'}} spectra" placement="right">
                                            <input type="checkbox" name="libraryTag" [(ngModel)]="x.selected"> {{x.text}}
                                        </label>
                                    </div>
                                    <button *ngIf="libraryTags.length > 3" type="button" class="btn btn-link btn-sm text-decoration-none davis-blue" (click)="toggleLibraryExpansion()">{{expandedLibraries ? 'Show less' : 'Show more'}}</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- Additional tags -->
  <div class="row mb-2">
    <div class="col-md-12 h-auto">
      <ngb-accordion #acc>
        <ngb-panel id="additionalTags">
          <ng-template ngbPanelTitle>
          <span class="accordion-title">
            Additional Tags
            <fa-icon *ngIf="acc.isExpanded('additionalTags')" [icon]="faCaretDown" class="ml-2"></fa-icon>
            <fa-icon *ngIf="!acc.isExpanded('additionalTags')" [icon]="faCaretRight" class="ml-2"></fa-icon>
          </span>
          </ng-template>
          <ng-template ngbPanelContent>
            <tag-display [tags]="queryTags"></tag-display>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>

  <br />

  <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="col-sm-2 ml-3">
                    <button type="button" class="btn btn-secondary" (click)="searchForm.resetForm(); resetForm();">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>

