<h3 class="mb-4"><fa-icon [icon]="faSearch"></fa-icon> Metadata Search</h3>

<form (ngSubmit)="submitQuery()">
  <div class="row mb-4">
    <div class="col-md-4 input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-metadata">Metadata</label>
      </div>
      <select class="form-control" id="select-metadata" name="select-metadata" [(ngModel)]="metadataCurrentSelection"
        (change)="queryValues()">
        <option *ngFor="let m of metadataResults" [ngValue]="m">{{m.name}} ({{m.count}} count)</option>
      </select>
    </div>
    <div class="col-md-3 input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-metadata-operator">Operator</label>
      </div>
      <select class="form-control" name="select-metadata-operator" id="select-metadata-operator" [(ngModel)]="metadataOperatorSelection">
        <option *ngFor="let o of metadataOperators" [ngValue]="o">{{o.display}}</option>

      </select>
    </div>
    <div class="col-md-3 input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="metadata-value">Value</label>
      </div>
      <input
        id="metadata-value"
        type="text"
        class="form-control"
        name="metadata-value"
        [(ngModel)]="metadataValueSelection"
        [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        (keyup)="queryValues()"
        #instance="ngbTypeahead"
      />
    </div>
    <div class="col-md-2 input-group">
      <button name="addButton" type="button" class="btn btn-info" ngbTooltip="Add to search table" (click)="addQuery()">
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-12 mb-2">
      <div class="card align-items-center" *ngIf="metadataQueries.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Metadata Field</th>
              <th scope="col">Operator</th>
              <th scope="col">Value</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let q of metadataQueries; index as i">
              <td>{{q.metadata.name}}</td>
              <td>{{q.operator.display}}</td>
              <td>{{q.value}}</td>
              <td>
                <button class="btn btn-danger" type="button" ngbTooltip="Remove from search table" (click)="removeQuery(i)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="metadataQueries.length === 0">
    <div class="col-md-6">
      <div class="form-group row">
        <div class="col-sm-2 mr-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-secondary" (click)="resetQueries()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</form>
