<h3 class="mb-4"><fa-icon [icon]="faSearch"></fa-icon> Advanced Search</h3>

<form (ngSubmit)="submitQuery()">
  <h4>MetaData</h4>
  <hr/>
  <div class="row mb-4">
    <div class="col-md-4 input-group" ngbTooltip="Select name of metaData field from dropdown">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-metadata">Name</label>
      </div>
      <select class="form-control" id="select-metadata" name="select-metadata" [(ngModel)]="metadataCurrentSelection"
        (change)="queryValues()">
        <option *ngFor="let m of metadataResults" [ngValue]="m">{{m.name}} ({{m.count}} count)</option>
      </select>
    </div>
    <div class="col-md-3 input-group" ngbTooltip="Select the operator to use for comparison from dropdown">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-metadata-operator">Operator</label>
      </div>
      <select class="form-control" name="select-metadata-operator" id="select-metadata-operator" [(ngModel)]="metadataOperatorSelection">
        <option *ngFor="let o of metadataOperators" [ngValue]="o">{{o.display}}</option>

      </select>
    </div>
    <div class="col-md-3 input-group" ngbTooltip="Enter value or Select value from dropdown to search for">
      <div class="input-group-prepend">
        <label class="input-group-text" for="metadata-value">Value</label>
      </div>
      <input
        id="metadata-value"
        type="text"
        class="form-control"
        name="metadata-value"
        [(ngModel)]="metadataValueSelection"
        [ngbTypeahead]="searchMetadata"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        (keyup)="queryValues()"
        #instance="ngbTypeahead"
      />
    </div>
    <div class="col-md-2 input-group">
      <button name="addButton" type="button" class="btn btn-info" ngbTooltip="Add to search table" (click)="addQuery()">
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </button>
    </div>
  </div>
  <h4>Compound MetaData</h4>
  <hr/>
  <div class="row mb-4">
    <div class="col-md-4 input-group" ngbTooltip="Select name of compound metaData field from dropdown">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-metadata">Name</label>
      </div>
      <select class="form-control" id="select-compound-metadata" name="select-compound-metadata" [(ngModel)]="compoundMetadataCurrentSelection"
              (change)="queryCompoundValues()">
        <option *ngFor="let m of compoundMetadataResults" [ngValue]="m">{{m.name}} ({{m.count}} count)</option>
      </select>
    </div>
    <div class="col-md-3 input-group" ngbTooltip="Select the operator to use for comparison from dropdown">
      <div class="input-group-prepend">
        <label class="input-group-text" for="select-compound-metadata-operator">Operator</label>
      </div>
      <select class="form-control" name="select-compound-metadata-operator" id="select-compound-metadata-operator" [(ngModel)]="compoundMetadataOperatorSelection">
        <option *ngFor="let o of metadataOperators" [ngValue]="o">{{o.display}}</option>
      </select>
    </div>
    <div class="col-md-3 input-group" ngbTooltip="Enter value or Select a value from dropdown to search for">
      <div class="input-group-prepend">
        <label class="input-group-text" for="compound-metadata-value">Value</label>
      </div>
      <input
        id="compound-metadata-value"
        type="text"
        class="form-control"
        name="compound-metadata-value"
        [(ngModel)]="compoundMetadataValueSelection"
        [ngbTypeahead]="searchCompoundMetadata"
        (focus)="focus2$.next($any($event).target.value)"
        (click)="click2$.next($any($event).target.value)"
        (keyup)="queryCompoundValues()"
        #instance2="ngbTypeahead"
      />
    </div>
    <div class="col-md-2 input-group">
      <button name="addButton" type="button" class="btn btn-info" ngbTooltip="Add to search table" (click)="addCompoundQuery()">
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </button>
    </div>
  </div>
  <ngb-accordion #optionalTags activeIds="libraryAccordion,tagsAccordion,filtersAccordion" ngbTooltip="Select additional libraries, tags, and filters to limit your search">
    <ngb-panel id="libraryAccordion">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0" placement="right">Library</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="col-md-12 mb-2 align-items-center">
          <div class="form-check form-check-inline mr-2" *ngFor="let l of libraryTags">
            <input class="form-check-input" type="checkbox" [(ngModel)]="l.selected" name="libraryTag" id="libraryTag">
            <label class="form-check-label" for="libraryTag">
              {{l.text}}
            </label>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="tagsAccordion">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Additional Tags</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="col-md-12 mb-2 align-items-center">
          <div class="form-check form-check-inline mr-2" *ngFor="let q of queryTags">
            <input class="form-check-input" type="checkbox" [(ngModel)]="q.selected" name="queryTag" id="queryTag">
            <label class="form-check-label" for="queryTag">
              {{q.text}}
            </label>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="filtersAccordion">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Additional Filters</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="col-md-12 mb-2 align-items-center">
          <div class="form-check form-check-inline mr-2" *ngIf="auth.isLoggedIn()">
            <input class="form-check-input" type="checkbox" [(ngModel)]="submitterToggle" id="submitterToggle" name="submitterToggle">
            <label class="form-check-label" for="submitterToggle">
              My Submissions
            </label>
          </div>
          <div class="form-check form-check-inline mr-2">
            <input class="form-check-input" type="checkbox" [disabled]="cleanToggle" [(ngModel)]="noisyToggle" id="noisyToggle" name="noisyToggle">
            <label class="form-check-label" for="noisyToggle">
              Only Noisy Spectra
            </label>
          </div>
          <div class="form-check form-check-inline mr-2">
            <input class="form-check-input" type="checkbox" [disabled]="noisyToggle" [(ngModel)]="cleanToggle" id="cleanToggle" name="cleanToggle">
            <label class="form-check-label" for="cleanToggle">
              Only Clean Spectra
            </label>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <br/>
  <div class="bor-bot"></div>
  <br/>
  <ngb-accordion #queryTables activeIds="" ngbTooltip="Displays table of current metaData queries">
    <ngb-panel id="metadataQueryTable">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">MetaData Query Table</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="col-md-12 mb-2">
          <div class="card align-items-center">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Operator</th>
                <th scope="col">Value</th>
                <th scope="col">Remove</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let q of metadataQueries; index as i">
                <td>{{q.metadata.name}}</td>
                <td>{{q.operator.display}}</td>
                <td>{{q.value}}</td>
                <td>
                  <button class="btn btn-danger" type="button" ngbTooltip="Remove from search table" (click)="removeQuery(i)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="compoundMetadataQueryTable">
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Compound MetaData Query Table</button>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="col-md-12 mb-2">
          <div class="card align-items-center">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Operator</th>
                <th scope="col">Value</th>
                <th scope="col">Remove</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let q of compoundMetadataQueries; index as i">
                <td>{{q.metadata.name}}</td>
                <td>{{q.operator.display}}</td>
                <td>{{q.value}}</td>
                <td>
                  <button class="btn btn-danger" type="button" ngbTooltip="Remove from search table" (click)="removeCompoundQuery(i)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <br/>
  <div class="bor-bot"></div>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <div class="col-sm-2 mr-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-secondary" (click)="resetQueries()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</form>
