<form (ngSubmit)="search(minSimilarity, precursorMZ, precursorMZTolerance, precursorToleranceUnit)">
    <div class="row">
        <div class="col-md-12">
          <h3>Similarity Search</h3>
            <br />

            <!-- Spectrum selection page -->
            <div *ngIf="page === 0">
                <p class="lead">
                    <small>
                        Please provide a mass spectrum to search against. You may upload a file (from which only the first spectrum would be
                        loaded), or paste a mass spectrum in text format.
                    </small>
                </p>
                <br />

                <label><strong>Upload a File:</strong></label>
                <p class="help-block" *ngIf="uploadError"><strong>{{uploadError}}</strong></p>
                <div class="input-group" [ngClass]="{'has-error': uploadError}">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" accept=".msp, .mgf, .txt" name="upload" [(ngModel)]="fileUpload" (change)="parseFiles($event)" />
                        </span>
                    </span>
                    <input placeholder="Supports MSP, MGF, and MassBank Records Format (.txt)" id="spectrumFile" type="text" class="form-control" name="filenames" [(ngModel)]="filenames" readonly />
                </div>

                <br />

                <div class="input-group" [ngClass]="{'has-error': pasteError}">
                  <div class="input-group">
                    <label><strong>Paste a Mass Spectrum:</strong></label>
                    <p class="help-block" [hidden]="pasteError"><strong>{{pasteError}}</strong></p>
                  </div>
                    <textarea placeholder="Supports single-line and multi-line spectra formats:

[m/z]:[intensity] [m/z]:[intensity] ...

OR

[m/z] [intensity]
[m/z] [intensity]
..."
                    class="form-control" [rows]="9" name="pastedSpectrum" [(ngModel)]="pastedSpectrum"></textarea>
                </div>
                <br />
                <button class="btn btn-primary" (click)="parsePastedSpectrum(pastedSpectrum)">Search</button>
            </div>

            <!-- Loading page -->
            <div *ngIf="page === 1">
                <span class="spinner">
                  <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                    Please wait while your file is loaded and processed... This shouldn't take lon
                </span>
            </div>

            <!-- Viewer + submit page -->
            <div *ngIf="page === 2">
                <p class="lead">
                    <small>
                        Please verify your mass spectrum and set your search parameters.  Note that this search returns
                        only the 25 highest similarity matches.
                    </small>
                </p>
                <br />

                <div class="masspec-modal">
                    <lib-ng-mass-spec-plotter [spectrum]="spectrum" [id]="'massspec-plot'"></lib-ng-mass-spec-plotter>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Minimum Similarity (default 500):</label>
                    <input type="text" [(ngModel)]="minSimilarity"
                           name="minSimilarity"
                           class="form-control"
                           placeholder="500">
                </div>


                <label class="control-label">Precursor m/z (optional):</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" name="precursorMZ" [(ngModel)]="precursorMZ" class="form-control" placeholder="Precursor m/z">
                    </div>

                    <div class="col-sm-6">
                        <div class="input-group">
                          <div class="input-group-prepend"><span class="input-group-text">&#177;</span></div>
                            <input type="number" name="precursorMZTolerance" [(ngModel)]="precursorMZTolerance" class="form-control">
                            <div class="input-group-prepend" ngbDropdown>
                                <button type="button" class="btn btn-outline-secondary" ngbDropdownToggle>
                                    {{precursorToleranceUnit}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" ngbDropdownMenu>
                                    <li><button ngbDropdownItem (click)="precursorToleranceUnit = 'PPM'">PPM</button></li>
                                    <li><button ngbDropdownItem (click)="precursorToleranceUnit = 'Da'">Da</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <button class="btn btn-danger mr-1" (click)="fileUpload = null; filenames = null; page = 0">Reset</button>
                <button class="btn btn-primary ml-1" type="submit">
                    Search for Similar Spectra
                </button>
            </div>
        </div>
    </div>
</form>
