<div class="btn-group" uib-tooltip-placement="top" uib-tooltip="Click to view download options"
     uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2' uib-dropdown>
    <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle >
        <i class="fa fa-2x fa-cloud-download fa-fw"></i>
    </button>

    <ul class="uib-dropdown-menu dropdown-menu-right">
        <li>
            <a ng-click="downloadAsJSON()" target="_blank">as JSON (Internal MoNA Format)</a>
            <a ng-click="downloadAsMSP()" target="_blank">as MSP (NIST-compatible)</a>
        </li>
    </ul>
</div>
