<form role="form" name="authentication" autocomplete="off" novalidate (ngSubmit)="submitLogin()">
    <div class="modal-header" *ngIf="state === 'login' || state === 'success'">
        <h3 class="modal-title text-center">Log into MoNA</h3>
        <button type="button" class="close" (click)="cancelDialog()" aria-hidden="true">×</button>
    </div>
    <div class="modal-header" *ngIf="state === 'logging in'">
        <h3 class="modal-title text-center">Log into MoNA</h3>
    </div>


    <div class="modal-body" *ngIf="state === 'login'">
        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errors.length > 0">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span>Error:</span>
            <span *ngIf="errors.length === 1">{{errors[0]}}</span>
            <ul *ngIf="errors.length > 1">
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>
        </div>

        <div class="form-group align-items-center row" *ngIf="state === 'login'">
          <div class="col">
            <input type="text" id="email" [(ngModel)]="credentials.email" name="email" class="form-control" placeholder="Email Address" />
          </div>
        </div>
        <div class="form-group align-items-center row" *ngIf="state === 'login'">
          <div class="col">
            <input type="password" id="password" [(ngModel)]="credentials.password" name="password" class="form-control" placeholder="Password" />
          </div>
        </div>
    </div>
    <div class="modal-body text-center" *ngIf="state === 'logging in'">
        <h4><span class="spinner">Logging in... <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> </span></h4>
    </div>
    <div class="modal-body text-center text-success" *ngIf="state === 'success'">
      <h4><fa-icon [icon]="faCheck"></fa-icon> Success!</h4>
    </div>


    <div class="modal-footer" *ngIf="state === 'login'">
        <button class="btn btn-primary btn-block" type="submit">Log In</button>
    </div>
</form>
