
<div class="modal-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="modal-title">Create a MoNA Account</h3>
        </div>
        <div class="col-sm-12">
          <p class="model-title" *ngIf="state === 'register'">
            To download large queries and to submit spectra, an account is required.
            Please sign up for a free account!
          </p>
          <p class="modal-title">
            <strong>Password requirements:</strong>
          </p>
          <p class="modal-title">
            1) 1 Lower Case Letter
          </p>
          <p class="modal-title">
            2) 1 Upper Case Letter
          </p>
          <p class="modal-title">
            3) 1 Number
          </p>
          <p class="modal-title">
            4) 1 Special Character
          </p>
          <p class="modal-title">
            5) Minimum length of 6, Maximum of 30
          </p>
        </div>
      </div>
      <button class="float right" type="button" class="close" (click)="cancelDialog()" aria-hidden="true"
          *ngIf="state === 'register' || state === 'success' || state === 'fail'"><span aria-hidden="true">&times;</span></button>
</div>


<div class="modal-body" >
    <div class="alert alert-danger .alert-dismissible" role="alert" *ngIf="errors.length">
        <div class="text-left" *ngIf="errors.length === 1">
          <strong><h4>{{errors[0].status}} {{errors[0].name}}</h4></strong><br />
          <strong>Error:</strong> {{errors[0].error}}<br />
          <strong>Exception:</strong> {{errors[0].exception}}<br />
          <strong>Message:</strong> {{errors[0].message}}<br />
        </div>
        <ul *ngIf="errors.length > 1">
            <li *ngFor="let error of errors">
              <div class="text-left">
                <strong><h4>{{error.status}} {{error.name}}</h4></strong><br />
                <strong>Error:</strong> {{error.error}}<br />
                <strong>Exception:</strong> {{error.exception}}<br />
                <strong>Message:</strong> {{error.message}}<br />
              </div>
            </li>
        </ul>
    </div>

    <!--<div submitter-form ng-show="state == 'register'"></div>-->
    <submitter-form (formStatus)="submitterFormStatus = $event" *ngIf="state ==='register'"></submitter-form>

    <div *ngIf="state === 'registering'">
        <h4><span class="spinner"><fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Registering account...</span></h4>
    </div>

    <div *ngIf="state === 'success'" class="text-success text-center">
        <div><span class="h2"><fa-icon [icon]="faCheck"></fa-icon></span> <span class="h4">Success! You may now log in.</span></div>
        <br />
        <div><button class="btn btn-success btn-lg" (click)="logIn()">Log In</button></div>
    </div>

    <div *ngIf="state === 'fail'" class="text-danger text-center">
      <div>
        <h4><fa-icon [icon]="faExclamationTriangle"></fa-icon> An Error Occurred During Registration </h4>
      </div>
    </div>
</div>

<div class="modal-footer" *ngIf="state !== 'success'">
    <button class="btn btn-primary"
            (click)="submitRegistration()"
            [disabled]="!submitterFormStatus"
            *ngIf="state === 'register'">Register</button>
  <button class="btn btn-primary"
          (click)="resetState()"
          *ngIf="state === 'fail'">Try Again</button>

    <button class="btn btn-default" (click)="cancelDialog()">Close</button>
</div>

