<div ng-value="error"></div>

<div class="row">
    <li>
        <a ng-click="querySpectraDialog()"><i class="fa fa-search fa-fw"></i>Query Spectra</a>
    </li>
</div>
<div class="row">
    <div class="col-md-9">
        <table class="table table-hover" style="table-layout: fixed;" infinite-scroll="loadMoreSpectra()">
            <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">Bio. Structure</th>
                <th class="text-center">Chem. Structure</th>
                <th class="text-center">Spectrum</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="spectra.length == 0">
            </tr>
            <tr ng-repeat="spectrum in spectra | spectraQuery:this" ng-click="viewSpectrum($index)">
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="name in spectrum.chemicalCompound.names">{{name.name}}</li>
                    </ul>
                </td>
                <td class="text-center">
                    <div chemical-sketcher readonly="true" width="100" height="100" id="bioSketch_{{spectrum.id}}"
                         ng-model="spectrum.biologicalCompound"></div>
                </td>
                <td class="text-center">
                    <div chemical-sketcher readonly="true" width="100" height="100" id="chemSketch_{{spectrum.id}}"
                         ng-model="spectrum.chemicalCompound"></div>
                </td>
                <td class="text-center">
                    <chart id="massSpec_{{spectrum.id}}" mini class="mini" ng-model="spectrum"></chart>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="col-md-3">
        <form name="spectraQuery" role="form" class="form-vertical">
            <fieldset>
                <legend>Filter</legend>

                <div class="form-group" ng-class="{ 'has-error': spectraQuery.newNameFilter.$invalid }">
                    <label class="control-label" for="newNameFilter">Filter by Name</label>

                    <input id="newNameFilter" name="newNameFilter" ng-model="newNameFilter" placeholder="Compound Name"
                           class="form-control" ng-keyup="$event.keyCode == 13 ? addNameFilter() : null">

                    <ul class="list-unstyled">
                        <li ng-repeat="(name, _) in nameFilters">
                            <span class="label label-primary" ng-click="removeNameFilter(name)">{{name}}</span>
                        </li>
                    </ul>
                </div>

                <div class="form-group" ng-class="{ 'has-error': spectraQuery.newInchiFilter.$invalid }">
                    <label class="control-label" for="newInchiFilter">Filter by InChI Key</label>

                    <input id="newInchiFilter" name="newInchiFilter" ng-model="newInchiFilter"
                           placeholder="InChIKey"
                           class="form-control" ng-keyup="$event.keyCode == 13 ? addInchiFilter() : null"
                           ng-pattern="/^([A-Z]{14}-[A-Z]{10}-[A-Z,0-9])+$/">

                    <ul class="list-unstyled">
                        <li ng-repeat="(inchi, _) in inchiFilters">
                            <span class="label label-primary" ng-click="removeInchiFilter(inchi)">{{inchi}}</span>
                        </li>
                    </ul>
                </div>

                <div class="form-group" ng-class="{ 'has-error': spectraQuery.newInchiPartialFilter.$invalid }">
                    <label class="control-label" for="newInchiPartialFilter">Filter by Partial InChI Key</label>

                    <input id="newInchiPartialFilter" name="newInchiPartialFilter" ng-model="newInchiPartialFilter"
                           placeholder="InChIKey"
                           class="form-control" ng-keyup="$event.keyCode == 13 ? addPartialInchiFilter() : null"
                           ng-pattern="/^[A-Z,0-9,-]+$/">

                    <ul class="list-unstyled">
                        <li ng-repeat="(inchi, _) in partialInchiFilters">
                            <span class="label label-primary"
                                  ng-click="removePartialInchiFilter(inchi)">{{inchi}}</span>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="tags-select" class=" control-label">Filter By Tags</label>

                    <select id="tags-select" name="tags-select" data-placeholder="Select Tags"
                            ng-model="tagsSelection"
                            ng-options="tag.text for tag in tags" multiple ng-multiple="true"
                            multiselect-dropdown class="form-control"></select>
                </div>

                <div class="form-group">
                    <label for="tags-select" class=" control-label">Filter By MetaData</label>

                </div>
            </fieldset>
        </form>
    </div>
</div>
