<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-cloud-upload"></i> Basic Uploader</h3>

        <div class="h5">Upload single mass spectra using a simple, guided wizard</div>
        <br />


        <!-- Select files to upload -->
        <div data-ng-if="page == 0" class="panel panel-default">
            <div class="panel-heading"><strong style="font-size: 1.2em;">Submit a Mass Spectrum to Upload</strong></div>

            <div class="panel-body">
                <p class="lead">
                    <small>Please choose a mass spectrum to upload.  You may choose to upload a file, which the uploader
                    will parse and populate all available compound information and metadata, or you may paste a spectrum
                    and fill in these data in the wizard.</small>
                </p>
                <br />

                <label>Upload a File:</label>
                <p class="help-block" data-ng-show="uploadError" data-ng-class="{'has-error': uploadError}"><strong>{{uploadError}}</strong></p>
                <div class="input-group" data-ng-class="{'has-error': uploadError}">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" data-ng-file-select="parseFiles($files)" />
                        </span>
                    </span>

                    <input id="spectrumFile" type="text" class="form-control" data-ng-model="filenames" readonly />
                </div>

                <span class="help-block">Supports MSP, MGF and MassBank Records Format (.txt) mass spectral data files</span>

                <br /><br />

                <div class="input-group" data-ng-class="{'has-error': pasteError}">
                    <label>Paste a Mass Spectrum:</label>
                    <p class="help-block" data-ng-show="pasteError"><strong>{{pasteError}}</strong></p>
                    <textarea class="form-control" rows="10" data-ng-model="pastedSpectrum"></textarea>
                    <span class="help-block">
                        Supports spectra in the single-line format <code>[m/z]:[intensity] [m/z]:[intensity] ...</code> or in multi-line:<br />
                        <code>[m/z] [intensity]</code><br />
                        <code>[m/z] [intensity]</code><br />
                        <code>...</code>
                    </span>

                    <a class="btn btn-primary" data-ng-click="parsePastedSpectrum(pastedSpectrum)">Load Spectrum</a>
                </div>
            </div>
        </div>


        <!-- Loading message -->
        <div ng-if="page == 1" class="panel panel-default">
            <div class="panel-heading"><strong style="font-size: 1.2em;">Loading...</strong></div>
            <div class="panel-body text-center">
                <span class="spinner">
                    <i class="fa fa-refresh fa-spin"></i>
                    Please wait while your file is loaded and processed...
                </span>
            </div>
        </div>


        <!-- Error message if no spectra are found -->
        <div ng-if="page == 2 && currentSpectrum === null" class="panel panel-default">
            <div class="panel-heading"><strong style="font-size: 1.2em;">Loading...</strong></div>
            <div class="panel-body text-center"><strong>No valid mass spectra found in the uploaded file(s)!</strong></div>
        </div>


        <!-- Display spectrum -->
        <div ng-if="page == 2 && currentSpectrum !== null" class="panel panel-default">
            <div class="panel-heading">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="restart()">&larr; Restart</a></li>
                        <li><strong style="font-size: 1.2em;">Spectrum Viewer</strong></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>

            <div class="panel-body">
                <p class="lead">
                    <small>Below is your submitted mass spectrum.  Please verify that it appears as
                    you expect <br /> You may also add annotations to specific peaks in the ion table below.</small>
                </p>

                <p class="lead" ng-if="fileHasMultipleSpectra">
                    <small><strong>Note: </strong> The file you uploaded contains multiple mass spectral records.  The basic
                    uploader is only designed to process a single spectrum, and so only the first spectrum in your file
                    will be displayed.</small>
                </p>

                <div class="masspec-modal">
                    <mass-spec ng-model="currentSpectrum.ions"></mass-spec>
                </div>
                <br />

                <div style="margin-top: 10px;" ng-if="!showIonTable">
                    <p><strong>This mass spectrum is very large!</strong></p>
                    <p>It contains {{currentSpectrum.ions.length}} individual ions. Loading them all automatically can slow down your browser, but you can manually build the ion table:</p>
                    <br />
                    <p class="text-center"><a class="btn btn-primary" ng-click="$parent.showIonTable = true">Build Ion Table</a></p>
                </div>

                <div style="height: 500px; overflow: auto; margin-top: 10px;" ng-if="showIonTable">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th><a href="" ng-click="sortIonTable('ion')">Ion</a></th>
                            <th><a href="" ng-click="sortIonTable('intensity')">Intensity</a></th>
                            <th><a href="" ng-click="sortIonTable('relativeIntensity')">Relative Intensity</a></th>
                            <th><a href="" ng-click="sortIonTable('annotation')">Annotation</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ion in currentSpectrum.ions | orderBy:ionTableSort:ionTableSortReverse">
                            <td><input type="checkbox" ng-model="ion.selected" /></td>
                            <td>{{ion.ion}}</td>
                            <td>{{ion.intensity}}</td>
                            <td>{{ion.relativeIntensity | number:0}}</td>
                            <td>
                                <input type="text" ng-model="ion.annotation" placeholder="Annotation" class="form-control" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-footer">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="restart()">&larr; Restart</a></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>


        <!-- Compound information -->
        <div ng-if="page == 3" class="panel panel-default">
            <div class="panel-heading">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li><strong style="font-size: 1.2em;">Compound Information</strong></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>

            <div class="panel-body">
                <p class="lead">
                    <small>
                        MoNA requires that every spectrum has an associated compound.  Please enter an InChI, InChIKey,
                        SMILES, compound name, a MOL/SDF file, or draw a structure yourself.  Then, click on
                        "Update Compound" to automatically pull the remaining fields from the
                        <a href="http://cts.fiehnlab.ucdavis.edu" target="_blank">Chemical Translation Service</a>.
                        Please note that some names or InChIKeys do not exist in compound databases, and so the CTS
                        may not find anything - in this case, using a full structure such as InChI, SMILES or MOL is preferred.</small>
                </p>
                <br />

                <div ng-if="currentSpectrum.molFile" style="text-align: center;">
                    <div chemical-sketcher readonly="true"
                         id="compoundViewer"
                         ng-model="currentSpectrum.molFile"></div>
                </div>
                <br />

                <div class="row form-group">
                    <div class="col-lg-3"><label>Names:</label></div>
                    <div class="col-lg-9">
                        <input type="text"
                               ng-repeat="name in currentSpectrum.names track by $index"
                               ng-model="currentSpectrum.names[$index]"
                               placeholder="Name"
                               class="form-control" />
                        <button type="button" class="btn btn-default btn-xs" ng-click="addName()">+</button>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3 col-lg-3"><label>InChIKey:</label></div>
                    <div class="col-md-9 col-lg-9">
                        <input type="text"
                               ng-model="currentSpectrum.inchiKey"
                               placeholder="InChIKey"
                               class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3 col-lg-3"><label>InChI:</label></div>
                    <div class="col-md-9 col-lg-9">
                        <input type="text"
                               ng-model="currentSpectrum.inchi"
                               placeholder="InChI"
                               class="form-control" />
                    </div>
                </div>

                <!--
                <div class="row form-group">
                    <div class="col-md-3 col-lg-3"><label>SMILES</label></div>
                    <div class="col-md-9 col-lg-9">
                        <input type="text"
                               ng-model="currentSpectrum.smiles"
                               placeholder="SMILES"
                               class="form-control" />
                    </div>
                </div>
                -->

                <div class="form-group text-center">
                    <button ng-click="retrieveCompoundData()" class="btn btn-primary">Update Compound</button>
                    <button ng-click="resetCompound()" class="btn btn-danger">Reset Compound</button>
                </div>

                <div class="row form-group">
                    <uib-accordion class="col-sm-12 col-lg-12">
                        <uib-accordion-group>
                            <uib-accordion-heading>Import MOL/SDF File</uib-accordion-heading>

                            <div>
                                Load a MOL file to attach to thisd spectrum record.  Please note that the MOL data must contain explicit hydrogens to
                                Convert a MOL file to an InChI Code and InChIKey.  If uploading to MoNA, the provided MOL file
                                will be attached; however the full MOL file cannot be included in an MSP export.  Please note that
                                using this tool will overwrite any existing MOL file, InCHI code or InChIKey.
                            </div>
                            <hr />

                            <div class="form-group">
                                <label>Copy and paste a molecular structure or upload a MOL/SDF file.</label>
                                <textarea class="form-control" ng-model="currentSpectrum.molFile" rows="10"></textarea>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">
                                            Browse&hellip; <input type="file" ng-file-select="parseMolFile($files)" />
                                        </span>
                                    </span>

                                    <input id="molFile" type="text" class="form-control" ng-model="filenames" readonly />
                                </div>
                                <div class="input-group">

                                </div>
                            </div>

                            <span class="help-block">Import a MOL or SDF file.  Note that if you upload an SDF
                                file with multiple structures, only the first structure will be read.</span>

                            <div class="form-group text-center">
                                <button ng-click="convertMolToInChI()" class="btn btn-primary">Convert to InChI Code and InChIKey</button>
                            </div>
                        </uib-accordion-group>

                        <uib-accordion-group>
                            <uib-accordion-heading>Draw a Molecular Structure</uib-accordion-heading>

                            <div>
                                Draw a structure with the ChemDoodle drawing tool to generate a MOL file.  If uploading to MoNA, the provided MOL file
                                will be attached; however the full MOL file cannot be included in an MSP export.  Please note that
                                using this tool will overwrite any existing MOL file, InCHI code or InChIKey.
                            </div>
                            <hr />

                            <div class="text-center" chemical-sketcher id="molSketcher" ng-model="currentSpectrum.molFile"></div>

                            <div class="form-group text-center">
                                <button ng-click="convertMolToInChI()" class="btn btn-primary">Convert to InChI Code and InChIKey</button>
                            </div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>

            <div class="panel-footer">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>


        <!-- Recommended spectrum metadata -->
        <div ng-if="page == 4 && currentSpectrum !== null" class="panel panel-default">
            <div class="panel-heading">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li><strong style="font-size: 1.2em;">Spectrum Metadata</strong></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>

            <div class="panel-body">
                <div class="lead">
                    <small>
                        Metadata provides a more complete view of a mass spectrum and allows users to more easily find
                        spectra of importance.  It also improves the accuracy of the MoNA auto-curation and can boost
                        the score of this spectrum record.  The following are a list of <b>strongly recommended</b>
                        metadata to provide.
                    </small>
                </div>
                <br />

                <div style="margin-top: 10px;">
                    <div>
                        <label>Source Introduction / Chromatography Type:</label> <br />
                        <select class="form-control" name="chromatography" ng-model="metadata.chromatography">
                            <option value="" selected="selected">Select One</option>
                            <option value="Liquid Chromatography (LC)">Liquid Chromatography (LC)</option>
                            <option value="Gas Chromatography (GC)">Gas Chromatography (GC)</option>
                            <option value="Direct Infusion (DI)">Direct Injection/Infusion (DI)</option>
                            <option value="Capillary Electrophoresis (CE)">Capillary Electrophoresis (CE)</option>
                        </select>
                    </div>
                    <br />

                    <div>
                        <label>MS Type / Level:</label> <br />
                        <select class="form-control" name="mslevel" ng-model="metadata.mslevel">
                            <option value="" selected="selected">Select One</option>
                            <option value="MS">MS</option>
                            <option value="MS2">MS2</option>
                            <option value="MS3">MS3</option>
                            <option value="MS4">MS4</option>
                            <option value="MS5">MS5</option>
                        </select>
                    </div>
                    <br />

                    <div ng-if="metadata.mslevel && metadata.mslevel != 'Select One' && metadata.mslevel != 'MS'">
                        <label>Precursor m/z:</label> <br />
                        <input type="text" class="form-control" name="precursormz" ng-model="metadata.precursormz" />
                        <br />

                        <label>Precursor Type:</label> <br />
                        <input type="text" class="form-control" name="precursortype" ng-model="metadata.precursortype"  />
                        <br />
                    </div>

                    <div>
                        <label>Ionization Method:</label> <br />
                        <select class="form-control" name="ionization" ng-model="metadata.ionization">
                            <option value="" selected="selected">Select One</option>
                            <option value="Atmospheric Pressure Chemical Ionization (APCI)">Atmospheric Pressure Chemical Ionization (APCI)</option>
                            <option value="Electron Impact (EI)">Electron Impact (EI)</option>
                            <option value="Chemical Ionization (CI)">Chemical Ionization (CI)</option>
                            <option value="Electrospray Ionization (ESI)">Electrospray Ionization (ESI)</option>
                            <option value="Fast Atom Bombardment (FAB)">Fast Atom Bombardment (FAB)</option>
                            <option value="Matrix Assisted Laser Desorption Ionization (MALDI)">Matrix Assisted Laser Desorption Ionization (MALDI)</option>
                        </select>
                    </div>
                    <br />

                    <!--
                    <div>
                        <label>Mass Analyzer / Detector Type:</label> <br />
                        <input type="checkbox" name="ionanalyzer" value="b" /> Magnetic Sector (B) <br />
                        <input type="checkbox" name="ionanalyzer" value="e" /> Electrostatic Sector (E)<br />
                        <input type="checkbox" name="ionanalyzer" value="q" /> Quadrupole (Q) <br />
                        <input type="checkbox" name="ionanalyzer" value="tof" /> Time of Flight (TOF)<br />
                        <input type="checkbox" name="ionanalyzer" value="it" /> Ion Trap (IT) <br />
                        <input type="checkbox" name="ionanalyzer" value="ft" /> Fourier Transform (FT)<br />
                    </div>
                    <br />
                    -->

                    <div>
                        <label>Polarity / Ion Mode:</label> <br />
                        <select class="form-control" name="ionmode" ng-model="metadata.ionmode">
                            <option value="" selected="selected">Select One</option>
                            <option value="Positive">Positive</option>
                            <option value="Negative">Negative</option>
                        </select>
                    </div>
                    <br />
                    <br />

                    <div>
                        <label>Authors (comma-separated):</label> <br />
                        <input type="text" class="form-control" ng-model="metadata.authors" />
                    </div>
                </div>
            </div>


            <div class="panel-footer">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>


        <!-- Recommended spectrum metadata -->
        <div ng-if="page == 5 && currentSpectrum !== null" class="panel panel-default">
            <div class="panel-heading">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li><strong style="font-size: 1.2em;">Spectrum Metadata</strong></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>

            <div class="panel-body">
                <div class="lead">
                    <small>
                        In addition to the recommended metadata, we encourage users to provide any other information
                        available about this mass spectral record including:

                        <ul>
                            <li>Sample properties</li>
                            <li>Instrument manufacturer and model</li>
                            <li>Analytical methods and conditions</li>
                        </ul>
                    </small>
                </div>
                <br />

                <div id="metadata_editor" style="margin-top: 10px;">
                    <div ng-repeat="meta in currentSpectrum.meta">
                        <div class="col-sm-5 form-group" ng-class="{'has-error': !meta.name && meta.name != ''}">
                            <input type="text"
                                   ng-model="meta.name"
                                   placeholder="Metadata Name"
                                   uib-typeahead="x for x in metadataNames | filter:$viewValue | limitTo:8"
                                   class="form-control" />
                        </div>
                        <div class="col-sm-5 form-group">
                            <input type="text"
                                   ng-model="meta.value"
                                   ng-disabled="!meta.name || meta.name == ''"
                                   placeholder="Metadata Value"
                                   uib-typeahead="x for x in queryMetadataValues(meta.name, $viewValue)"
                                   class="form-control" />
                        </div>
                        <div class="col-sm-2 form-group">
                            <button ng-click="removeMetadataField($index)" class="btn btn-default"
                                    tooltip="Remove this metadata field"><i class="fa fa-minus-square"></i></button>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default btn-xs" ng-click="addMetadataField()" tooltip="Add a new metadata field">+</button>
                    </div>
                </div>
            </div>


            <div class="panel-footer">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>


        <!-- Spectrum tags -->
        <!--
        <div ng-if="page == 6 && currentSpectrum !== null" class="panel panel-default">
            <div class="panel-heading">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li><strong style="font-size: 1.2em;">Tags</strong></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>

            <div class="panel-body">
                <p class="lead">
                    <small>
                    Tags provide an easy way to categorize spectra and quickly query by these groups.  For example, there
                    are tags for GC-MS and LC-MS spectra, as well as for spectral libraries such as MassBank and HMDB.
                    <br /><br />
                    Please add any tags here that you consider useful identifiers for this spectrum.
                    </small>
                </p>

                <tags-input ng-model="currentSpectrum.tags"
                            min-length="3"
                            replace-spaces-with-dashes="false">

                    <auto-complete source="loadTags($query)"
                                   min-length="1"
                                   load-on-empty="true"
                                   load-on-down-arrow="true"
                                   load-on-focus="true"></auto-complete>
                </tags-input>
            </div>

            <div class="panel-footer">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li class="next"><a href="" ng-click="nextPage()">Next &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        -->

        <!-- Summary -->
        <div ng-if="page == 6 && currentSpectrum !== null" class="panel panel-default">
            <div class="panel-heading">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li><strong style="font-size: 1.2em;">Summary</strong></li>
                        <li class="next"><a href="" ng-click="uploadFile()">Upload to MoNA &rarr;</a></li>
                    </ul>
                </nav>
            </div>

            <div class="panel-body">
                <p class="lead">
                    <small>Please verify the provided information before uploading:</small>
                </p>

                <div class="page-header"><h3>Mass Spectrum</h3></div>
                <div class="masspec-modal">
                    <mass-spec ng-model="currentSpectrum.ions"></mass-spec>
                </div>

                <div class="page-header"><h3>Compound Information</h3></div>
                <div>
                    <ul>
                        <li ng-repeat="name in currentSpectrum.names">{{name}}</li>
                    </ul>
                </div>
                <div ng-if="currentSpectrum.molFile" style="text-align: center;">
                    <div chemical-sketcher readonly="true"
                         id="compoundSummaryViewer"
                         ng-model="currentSpectrum.molFile"></div>
                </div>


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>InChIKey</td>
                            <td>
                                <span ng-if="currentSpectrum.inchiKey">{{currentSpectrum.inchiKey}}</span>
                                <span ng-if="!currentSpectrum.inchiKey"><i>None Provided</i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>InChI</td>
                            <td style="max-width: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <span ng-if="currentSpectrum.inchi">{{currentSpectrum.inchi}}</span>
                                <span ng-if="!currentSpectrum.inchi"><i>None Provided</i></span>
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <td>SMILES</td>
                            <td>
                                <span ng-if="currentSpectrum.smiles">{{currentSpectrum.smiles}}</span>
                                <span ng-if="!currentSpectrum.smiles"><i>None Provided</i></span>
                            </td>
                        </tr>
                        -->
                    </tbody>
                </table>

                <div class="page-header"><h3>Spectrum Metadata</h3></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-if="metadata.chromatography && metadata.chromatography != 'Select One'">
                        <td>Source Introduction / Chromatography Type</td>
                        <td>{{metadata.chromatography}}</td>
                    </tr>

                    <tr ng-if="metadata.mslevel && metadata.mslevel != 'Select One'">
                        <td>MS Type / Level</td>
                        <td>{{metadata.mslevel}}</td>
                    </tr>

                    <tr ng-if="metadata.precursormz && metadata.precursormz != 'Select One'">
                        <td>Precursor m/z</td>
                        <td>{{metadata.precursormz}}</td>
                    </tr>

                    <tr ng-if="metadata.precursortype && metadata.precursortype != 'Select One'">
                        <td>Precursor Type</td>
                        <td>{{metadata.precursortype}}</td>
                    </tr>

                    <tr ng-if="metadata.ionization && metadata.ionization != 'Select One'">
                        <td>Ionization Method</td>
                        <td>{{metadata.ionization}}</td>
                    </tr>

                    <tr ng-if="metadata.ionmode && metadata.ionmode != 'Select One'">
                        <td>Polarity / Ion Mode</td>
                        <td>{{metadata.ionmode}}</td>
                    </tr>

                    <tr ng-if="metadata.authors">
                        <td>Authors</td>
                        <td>{{metadata.authors}}</td>
                    </tr>

                    <tr ng-repeat="meta in currentSpectrum.meta">
                        <td>{{meta.name}}</td>
                        <td>{{meta.value}}</td>
                    </tr>
                    </tbody>
                </table>

                <!--
                <div class="page-header"><h3>Tags</h3></div>
                <ul>
                    <li ng-if="currentSpectrum.tags.length == 0"><i>None Provided</i></li>
                    <li ng-repeat="tag in currentSpectrum.tags">{{tag.text}}</li>
                </ul>
                -->
            </div>

            <div class="panel-footer">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousPage()">&larr; Previous</a></li>
                        <li class="next"><a href="" ng-click="uploadFile()">Upload to MoNA &rarr;</a></li>
                    </ul>
                </nav>
            </div>
        </div>


    </div>
</div>