
<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-cloud-upload"></i> MoNA Uploader</h3>
        <br />

        <div style="padding-left: 3em;">
            <h4><i class="fa fa-file-o"></i> <a href="upload/basic">Basic Uploader</a></h4>
            <div class="h5">Upload single mass spectra using a simple, guided wizard</div>
            <br />

            <h4><i class="fa fa-files-o"></i> <a href="upload/advanced">Advanced Uploader</a></h4>
            <div class="h5">Advanced wizard used to upload mass spectral libraries or multiple spectral files</div>
        </div>
    </div>
</div>