<form>
    <div class="row">
        <div class="col-md-12">
            <h3><i class="fa fa-search"></i> Similarity Search</h3>
            <br />

            <!-- Spectrum selection page -->
            <div *ngIf="page == 0">
                <p class="lead">
                    <small>
                        Please choose a mass spectrum to search.  You may upload a file, from which we load
                        only first spectrum, or paste a mass spectrum in text format.
                    </small>
                </p>
                <br />

                <label>Upload a File:</label>
                <p class="help-block" [hidden]="uploadError"><strong>{{uploadError}}</strong></p>
                <div class="input-group" [ngClass]="{'has-error': uploadError}">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" ngf-select="parseFiles($files)" />
                        </span>
                    </span>

                    <input id="spectrumFile" type="text" class="form-control" ngModel="filenames" readonly />
                </div>

                <span class="help-block">Supports MSP, MGF and MassBank Records Format (.txt) mass spectral data files</span>

                <br /><br />

                <div class="input-group" [ngClass]="{'has-error': pasteError}">
                    <label>Paste a Mass Spectrum:</label>
                    <p class="help-block" [hidden]="pasteError"><strong>{{pasteError}}</strong></p>
                    <textarea class="form-control" rows="10" [(ngModel)]="pastedSpectrum"></textarea>
                    <span class="help-block">
                        Supports spectra in the single-line format <code>[m/z]:[intensity] [m/z]:[intensity] ...</code> or in multi-line:<br />
                        <code>[m/z] [intensity]</code><br />
                        <code>[m/z] [intensity]</code><br />
                        <code>...</code>
                    </span>

                    <a class="btn btn-primary" (click)="parsePastedSpectrum(pastedSpectrum)">Load Spectrum</a>
                </div>
            </div>

            <!-- Loading page -->
            <div *ngIf="page == 1">
                <span class="spinner">
                    <i class="fa fa-refresh fa-spin"></i>
                    Please wait while your file is loaded and processed...
                </span>
            </div>

            <!-- Viewer + submit page -->
            <div *ngIf="page == 2">
                <p class="lead">
                    <small>
                        Please verify your mass spectrum and set your search parameters.  Note that this search returns
                        only the 25 highest similarity matches.
                    </small>
                </p>
                <br />

                <div class="masspec-modal">
                    <lib-ng-mass-spec-plotter spectrum="spectrum"></lib-ng-mass-spec-plotter>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label">Minimum Similarity (default: 500):</label>
                    <input type="text" [(ngModel)]="minSimilarity"
                           class="form-control"
                           placeholder="500">
                </div>


                <label class="control-label">Precursor m/z (optional):</label>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="precursorMZ" class="form-control" placeholder="Precursor m/z">
                    </div>

                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon">&#177;</div>
                            <input type="number" [(ngModel)]="precursorMZTolerance" class="form-control">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle>
                                    {{precursorToleranceUnit}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" ngbDropdownMenu>
                                    <li><a href="#" (click)="precursorToleranceUnit = 'PPM'">PPM</a></li>
                                    <li><a href="#" (click)="precursorToleranceUnit = 'Da'">Da</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <button class="btn btn-warning" (click)="page = 0">Reset</button>
                <button class="btn btn-primary" (click)="search(minSimilarity, precursorMZ, precursorMZTolerance, precursorToleranceUnit)">
                    Search for Similar Spectra
                </button>
            </div>
        </div>
    </div>
</form>
