<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <span class="news-title fon"><h2 class="font-weight-bold">Welcome to MoNA!</h2></span>

            <p>
                MassBank of North America (MoNA) is a metadata-centric, auto-curating repository designed for efficient storage and querying of mass spectral records.
                It intends to serve as a the framework for a centralized, collaborative database of metabolite mass spectra, metadata and associated compounds.
                MoNA currently contains {{totalCount}} mass spectral records from experimental and in-silico libraries as well as from user contributions.
            </p>

            <p>
                MoNA has recently been redesigned, with significant improvements to server-side architecture, query structure, and search speed.
                We are actively improving and adding features, so please be patient as functionality is added.
                If you notice any major issues, feel free to report them using the issue tracker linked below.
            </p>
            <br />

            <p style="text-align: center">
                <a [routerLink]="['/spectra/search']" class="btn btn-info btn-lg mr-1"><fa-icon [icon]="faSearch"></fa-icon> Search Spectra</a>
              <a [routerLink]="['/spectra/browse']" class="btn btn-info btn-lg mr-1 ml-1"><fa-icon [icon]="faChartBar"></fa-icon> Browse Spectra</a>
              <a href="https://github.com/metabolomics-us/mona/issues" class="btn btn-warning btn-lg ml-1"><fa-icon [icon]="faExclamationTriangle"></fa-icon> GitHub Issue Tracker</a>
            </p>
        </div>
    </div>

    <div class="bor-bot"></div><br />

    <div class="row">
        <div class="col-md-6 float-left">
            <h3 class="font-weight-bold">News</h3>
            <hr/>

          <div class="news-cell">
            <span class="news-title"><h4>MoNA Backend Updates</h4></span>
            <div class="news-date">January 1st, 2023</div>
            <div class="content">
              <p>
                MoNA has undergone substantial changes to its backend services. Frontend features work as they did before with an exception of
                the RSQL query system which has been changed to the <a [routerLink]="['/documentation/query']">Spring Filtering system</a>.
                For more detailed notes of the code changes, click <a href="https://github.com/metabolomics-us/mona/wiki/MoNA-2022-Spring-2.6.3-Update-and-Postgresql-Data-Migration">here</a>.
                To see new schema changes, see the updated <a href="http://mona.fiehnlab.ucdavis.edu/swagger-ui.html">Swagger API Docs</a>.
              </p>
            </div>
          </div>
          <hr/>
          <div class="news-cell">
            <span class="news-title"><h4>Ability to Delete Your Submitted Spectra</h4></span>
            <div class="news-date"><em>March 4th, 2022</em></div>
            <div class="content">
              <p>
                A new feature has been introduced that allows signed in users to delete spectra that matches their submitter ID. This feature
                is embedded into the spectra browser where you will see a new "My Submitted Spectra" button that can query for your spectra, as
                well as a "Mark for Deletion" checkbox around your submitted spectra. Once selected, just hit the "Batch Delete" button and remove
                spectra that needs to be removed.
              </p>
            </div>
          </div>
          <hr/>
        </div>
        <div class="col-md-6 float-right">
            <h3 class="font-weight-bold">Submitter High Scores</h3>

            <spectra-top-scores-for-users limit="10">Please wait while we load the data for you...</spectra-top-scores-for-users>
        </div>
    </div>

    <div class="bor-bot"></div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="font-weight-bold">Top Rated Spectral Records</h3>
            <br />

            <ngb-carousel id="carousel-override" [interval]="7000" [showNavigationArrows]="false" [showNavigationIndicators]="true">
                <ng-template ngbSlide *ngFor="let spectrum of showcaseSpectra">
                    <div class="picsum-img-wrapper">
                      <display-spectra-panel class="text-left" [spectrum]="spectrum"></display-spectra-panel>
                    </div>
                </ng-template>
                <ng-template ngbSlide *ngIf="showcaseSpectra.length === 0">
                    <div class="text-center">
                      <h4 class="spinner"><fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Loading Showcase Spectra...</h4>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>
