<div *ngIf="new">
    <div class="modal-header">
        <h4 class="modal-title">Create New User</h4>
    </div>
    <div class="modal-body">
        <submitter-form [submitter]="submitter" (formStatus)="submitterFormStatus = $event"></submitter-form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning mr-1" (click)="cancelDialog()">Cancel</button>
        <button class="btn btn-primary" (click)="createNewSubmitter()" [disabled]="!submitterFormStatus">Add</button>
    </div>
</div>

<div *ngIf="!new">
    <div class="modal-header">
        <h4 class="modal-title">Edit User</h4>
    </div>

    <div *ngIf="submitter" class="modal-body">
        <submitter-form [submitter]="submitter" (formStatus)="submitterFormStatus = $event"></submitter-form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning mr-1" (click)="cancelDialog()">Cancel</button>
        <button class="btn btn-primary" (click)="updateSubmitter()" [disabled]="!submitterFormStatus">Update</button>
    </div>
</div>
