<div class="btn-group" placement="bottom" ngbDropdown>
    <button ngbTooltip="View download options" class="btn btn-primary dropdown-toggle btn-sm" ngbDropdownToggle>
      <fa-icon [icon]="faCloudDownloadAlt"></fa-icon> Download Spectrum
    </button>

    <ul class="uib-dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <li>
            <button ngbDropdownItem (click)="downloadAsJSON()">as JSON (Internal MoNA Format)</button>
            <button ngbDropdownItem (click)="downloadAsMSP()">as MSP (NIST-compatible)</button>
        </li>
    </ul>
</div>
