<form role="form" name="uploadWizard" novalidate>
<div>
    <h3>Query Spectra</h3>

    <div><p>Below are all queriable options for our mass spectral database.  You may fill in as many or as few fields as desired.</p></div>

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#nameQuery">
                <h4 class="panel-title">Query by Name</a></h4>
            </div>
            <div id="nameQuery" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="nameFilter">Partial filtering by compound name:</label>
                        <input id="nameFilter"
                               name="nameFilter"
                               ng-model="query.nameFilter"
                               placeholder="Name"
                               class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#inchiQuery">
                <h4 class="panel-title">Query by InChIKey</a></h4>
            </div>
            <div id="inchiQuery" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="inchiFilter">Partial filtering by biological or compound InChIKey:</label>
                        <input id="inchiFilter"
                               name="inchiFilter"
                               ng-model="query.inchiFilter"
                               placeholder="InChIKey"
                               ng-pattern="/^([A-Z,0-9,\-]+)+$/"
                               class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#amQuery">
                <h4 class="panel-title">Query by Accurate Mass</h4>
            </div>
            <div id="amQuery" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="accurateMass">Mass:</label>
                        <div class="col-sm-8">
                            <input id="accurateMass"
                                   name="accurateMass"
                                   ng-model="query['Mz_exact']"
                                   placeholder="Accurate Mass"
                                   class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="accurateMassTolerance">Tolerance (&pm;):</label>
                        <div class="col-sm-8">
                            <input id="accurateMassTolerance"
                                   name="accurateMassTolerance"
                                   ng-model="query['Mz_exact_tolerance']"
                                   placeholder="Accurate Mass Tolerance"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#metaQuery">
                <h4 class="panel-title">Query by Metadata</h4>
            </div>
            <div id="metaQuery" class="panel-collapse collapse">
                <div class="panel-body">

                    <fieldset ng-repeat="category in metadataCategories" ng-show="metadata[category.name].length">
                        <legend>{{category.name == "none" ? "General" : category.name}}</legend>

                        <div class="form-group" ng-repeat="meta in metadata[category.name]">
                            <div ng-if="meta.type == 'double'">
                                <label class="control-label col-sm-4" for="{{meta.name}}">{{meta.name}}</label>
                                <div class="col-sm-5">
                                    <input id="{{meta.name}}"
                                           name="{{meta.name}}"
                                           ng-model="query[meta.name]"
                                           class="form-control" />
                                </div>
                                <label class="control-label col-sm-1" for="{{meta.name}}_tolerance">&pm;</label>
                                <div class="col-sm-2">
                                    <input id="{{meta.name}}_tolerance"
                                           name="{{meta.name}}_tolerance"
                                           ng-model="query[meta.name +'_tolerance']"
                                           class="form-control" />
                                </div>
                            </div>

                            <div ng-if="meta.type == 'string'">
                                <label class="control-label col-sm-4" for="{{meta.name}}">{{meta.name}}</label>
                                <div class="col-sm-8">
                                    <!--
                                    <input id="{{meta.name}}"
                                           name="{{meta.name}}"
                                           ng-model="query[meta.name]"
                                           class="form-control" />
                                   -->
                                    <div fl-angucomplete inputid="meta.name"
                                         inputName="meta.name"
                                         placeholder=""
                                         pause="50"
                                         selectedobject="query[meta.name]"
                                         localdata="metadataValues[meta.name]"
                                         searchfields="value"
                                         titlefield="value"
                                         isrequired="true"
                                         inputclass="form-control form-control-small"></div>
                                </div>
                            </div>

                            <div ng-if="meta.type == 'boolean'">
                                <label class="control-label col-sm-4" for="{{meta.name}}">{{meta.name}}</label>
                                <div class="col-sm-8">
                                    <input id="{{meta.name}}"
                                           name="{{meta.name}}"
                                           ng-model="query[meta.name]"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>

        <div style="margin-top: 10px;" class="form-group"><button class="btn btn-primary" ng-click="submitQuery()">Submit</button></div>

        <div style="display:block;">
            <pre>{{query}}</pre>
        </div>
        <div style="display:block;">
            <pre>{{compiledQuery}}</pre>
        </div>
        <div style="display:block;">
            <pre>{{result | json}}</pre>
        </div>

    </div>
</div>
</form>