<div class="panel panel-default">
    <div class="panel-heading" ng-click="viewSpectrum()">
        <div class="panel-title">
            <a href="">
                <i class="fa fa-external-link fa-fw"></i> Spectrum {{spectrum.id}}:
                {{spectrum.biologicalCompound.names[0].name}}
            </a>

                        <span class="pull-right">
                            Score: <span score-spectra ng-model="spectrum"></span>
                        </span>
        </div>
    </div>

    <div class="panel-body">
        <div class="row ">
            <div class="col-lg-6 col-md-5 col-sm-3">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="masspec-medium">
                            <mass-spec id="massSpec_{{spectrum.id}}"
                                       ng-model="spectrum.spectrum"></mass-spec>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 ">
                        <div chemical-sketcher readonly="true" width="250"
                             height="250"
                             id="bioSketch_{{spectrum.id}}_false"
                             ng-model="spectrum.biologicalCompound">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-7 col-sm-9">
                <div class="row top5 lead" ng-if="spectrum.queryOptions !== undefined">
                    Similarity Score: {{100 * spectrum.queryOptions.spectralSimilarity | number:3}}%
                </div>

                <div class="row top5"
                     ng-repeat="meta in spectrum.metaData | filter: {category: '!annotation'} | filter: {deleted : '!true'} | filter: {hidden: '!true'} | filter: {category: '!computed'} | orderBy: ['name']">

                    <div class="col-lg-5 col-md-5 col-sm-6">
                                    <span gw-meta-query value="meta">
                                        {{meta.name}}
                                    </span>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6">
                        {{meta.value | limitTo : 25}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div ng-show="spectrum.tags.length" class="col-md-12">
                <ul class="list-inline">
                    <li class="pull-left" ng-repeat="tag in spectrum.tags">
                        <span gw-tag rule-based="tag.ruleBased == true" value="tag" type="spectrum"></span>
                    </li>

                    <li class="pull-right">
                        <button class="btn btn-success" ng-click="viewSpectrum()" tooltip-placement="left" tooltip="click, to display all the spectra information">

                            <i class="fa fa-external-link fa-fw"></i>display full information
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>