<div class="card">
    <div class="card-header">
        <div class="card-title">
            <span *ngIf="spectrum.compound[0].names.length > 0" class="float-left">
                <a class="davis-blue" style="cursor: pointer" [routerLink]="[viewSpectrum()]" target="_blank"><b>{{spectrum.compound[0].names[0].name}}</b></a>
            </span>
            <span *ngIf="spectrum.compound[0].names.length === 0" class="float-left">
                <a class="davis-blue" style="cursor: pointer" [routerLink]="[viewSpectrum()]" target="_blank"><b>{{spectrum.id}}</b></a>
            </span>
            <span class="float-right"><ngb-rating *ngIf="spectrum.score" [(rate)]="spectrum.score.score" [max]="5" [readonly]="true" ngbTooltip="{{0.0 + spectrum.score.score | number:'1.2-2'}} / 5.00" placement="bottom"></ngb-rating></span>
        </div>
    </div>

    <div class="card-body">
        <div class="card-group">
            <div class="col-lg-6 col-md-7 col-sm-6">
                <div class="card-columns" *ngIf="spectrum.similarity">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-md-left">
                                    <label>
                                        Similarity: {{1000 * spectrum.similarity | number:"1.0-0"}} / 1000
                                    </label>
                                </h6>
                            </li>
                        </ul>
                </div>

                <div class="card-columns">
                  <div class="row">
                    <div class="col-12">
                      <div class="masspec-medium">
                        <lib-ng-mass-spec-plotter [id]="'massSpec_'+spectrum.id" [spectrum]="spectrum.spectrum" [miniPlot]="true"></lib-ng-mass-spec-plotter>
                      </div>
                    </div>
                    <div class="col-12 offset-4">
                      <div style="width: 175px; height: 175px">
                        <div [libChemdoodle]="spectrum.compound[0].molFile" readonly="true"
                             [id]="'bioSketch_'+spectrum.id+'_false'" [height]="175" [width]="175">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-text p-2 text-left">
                  <h5><spectrum-feedback-results-curation [spectrum]="spectrum"></spectrum-feedback-results-curation></h5>
                </div>
            </div>

            <div class="col-lg-6 col-md-5 col-sm-6">
              <div class="card-text text-left" *ngIf="spectrum.library">
                <p><display-library-reference [spectrum]="spectrum"></display-library-reference></p>
                <hr>
              </div>
                <div class="row top5"
                     *ngFor="let meta of spectrum.metaData | filterPipe: {category: '!annotation', deleted : '!true', hidden: '!true'}">

                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <metadata-query [metaData]="meta">
                            {{meta.name}}
                        </metadata-query>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-6">
                        {{meta.value | slice: 0:25}}{{meta.value.length > 25 ? '...' : ''}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="float-left mr-1" *ngFor="let tag of spectrum.tags">
          <tag-query [ruleBased]="tag.ruleBased" [tag]="tag" [type]="spectrum"></tag-query>
        </div>

      <span *ngIf="(((auth.isAdmin() && auth.isLoggedIn()) || (sameSubmitter())) && spectrum.tags.length > 0)"><br/><br/></span>
      <label class="clickable"><span class="float-left mr-2" style="padding-top: 9px" *ngIf="(auth.isAdmin() && auth.isLoggedIn()) || (sameSubmitter())"><input type="checkbox" id="massDeleteToggle" [checked]="deletionMark.selected" (change)="massDeleteToggle($event)"> Mark for Deletion</span></label>

      <a class="btn btn-primary float-right" [routerLink]="[viewSpectrum()]" target="_blank">
        <fa-icon [icon]="faExternalLinkAlt"></fa-icon> Display Full Record
      </a>
    </div>
</div>
