<div class="row">
    <div ng-repeat="classMeta in query">
        <div class="form-group">
            <div class="col-sm-4">
                <input id="classFilter"
                       name="classFilter"
                       ng-model="classMeta.name"
                       placeholder="classification name"
                       class="form-control"/>
            </div>

            <div class="col-sm-2">
                <select ng-model="classMeta.selected"
                        ng-options="item.name for item in select"
                        class="form-control">
                </select>
            </div>

            <div class="col-sm-6">
                <input id="classValue"
                       name="classValue"
                       ng-model="classMeta.value"
                       ng-disabled="!classMeta.name || classMeta.name === ''"
                       placeholder="classification value"
                       class="form-control"/>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <button type="button" class="btn btn-default btn-xs" ng-click="addClassQuery()">+</button>
    </div>
</div>
