<div>

  <div ng-repeat="meta in query">
    <div class="col-sm-6 form-group" ng-class="{'has-error': !meta.name && meta.name != ''}">
      <input type="text"
             ng-model="meta.name"
             placeholder="Metadata Name"
             typeahead="x for x in metadataNames | filter:$viewValue| limitTo:10"
             typeahead-editable="false"
             class="form-control" />
    </div>
    <div class="col-sm-6 form-group">
      <input type="text"
             ng-model="meta.value"
             ng-disabled="!meta.name || meta.name == ''"
             placeholder="Value to Query"
             typeahead="x for x in queryMetadataValues(meta.name, $viewValue)"
             class="form-control" />
    </div>
  </div>

  <div class="col-sm-12">
    <button type="button" class="btn btn-default btn-xs" ng-click="addMetadataQuery()">+</button>
  </div>

</div>
