
.query.h5 {
  color: deeppink;
  font-size: larger;
  font-weight: bold;
}

.list-group-item {
  //height: 50px;
}


///* Query tree children style */
//.panel-query-tree { padding: 0; margin: 20px; }
//.list-group.panel-query-tree .list-group { margin-bottom: 0; }
//.list-group.panel-query-tree .list-group-item { border-radius: 0; border-width: 1px 0 0 0; }
//.list-group.panel-query-tree > .list-group-item:first-child { border-top-width: 0; }
//
//.well {
//  padding: 0px;
//}