#search-box {
    margin-top: 40px;
}

.search-heading {
    font-size: larger;
    font-style: italic;

}

.search-form {
    padding: 20px;
    margin: 20px 0;
    width: 50%;
}

.tab-pane.ng-scope.active {
    background-color: #f8f8f8;
}

.nav-tabs > li.active > a {
    background-color: #f8f8f8 !important;
}

.form-control-label {
    font-size: larger;
    font-weight: bold;
}


.insSpan {
    padding-left: 40px;
}
