#search-box {
    margin-top: 40px;
}

.search-heading {
    font-size: larger;
    font-style: italic;

}

.search-form {
    padding: 20px;
    margin: 20px 0;
    width: 50%;
}

.tab-pane.ng-scope.active {
    background-color: #f8f8f8;
}

.nav-tabs > li.active > a {
    background-color: #f8f8f8 !important;
}

.form-control-label {
    font-size: larger;
    font-weight: bold;
}


.insSpan {
    padding-left: 40px;
}

// Scrolling table

.header-fixed > tr {
    width: 100%;
    display: inline-table;
    height:60px;
    table-layout: fixed;
}

table.table.header-fixed{
    height: 500px;
    display: -moz-groupbox;
}

.header-fixed > tbody{
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    position: absolute;
}

.table th {
    border-bottom: none !important;
}
