#search-box {
    margin-top: 40px;
}

.search-heading {
    font-size: large;
}

.search-form {
    padding: 20px;
    margin: 20px 0;
    border-left: 1px solid #DEB31A;
    border-left-width: 5px;
    width: 50%;
}

.tab-pane.ng-scope.active {
    border: none;

}

.form-control-label {
    font-size: larger;
    font-weight: bold;
}
