<div class="row">
    <div class="col-md-12">
        <p>Perform simple queries based on single spectrum attributes.</p>

        <div ng-repeat="name in fields" ng-show="fieldData[name].length">
            <h4 class="page-header">{{name | titlecase}}</h4>

            <div class="row">
                <div class="col-sm-4 text-center" ng-repeat-start="value in fieldData[name]">
                    <a ng-click="submitQuery(name, value)">{{value}}</a>
                </div>
                <div class="clearfix" ng-if="$index % 3 == 2"></div>
                <div ng-repeat-end=""></div>
            </div>
        </div>
    </div>
</div>