<div class="row">
    <div class="col-md-12">
        <h3><i class="fa  fa-database "></i> Database Index</h3>

        <div class="h5">
            Perform simple queries based on single spectrum attributes. The numbers refer to the number of spectra in
            the database that are associated with each metadata value.
        </div>

        <div ng-repeat="(name, data) in fieldData">
            <h4 class="page-header">{{name | titlecase}}</h4>

            <div class="row">
                <div class="col-sm-4 text-left" ng-repeat-start="meta in data">
                    <span class="left10"> ({{meta.count}})</span> <a style="cursor: pointer;"
                                                                     ng-click="submitQuery(name, meta.value)">{{meta.value}}</a>
                </div>
                <div class="clearfix" ng-if="$index % 3 == 2"></div>
                <div ng-repeat-end=""></div>
            </div>
        </div>
    </div>
</div>