<li class="dropdown" ngbDropdown>
    <a role="button" class="dropdown-toggle" ngbDropdownToggle>
        <i class="fa fa-bar-chart"></i> Spectra <i class="fa fa-caret-down"></i>
    </a>

    <ul class="uib-dropdown-menu" ngbDropdownMenu>
        <li><a [routerLink]="['/spectra/search']">Search Spectra</a></li>
        <li><a (click)="resetQuery()"  [routerLink]="['/spectra/browse']">Browse Spectra</a></li>
        <li><a [routerLink]="['/spectra/statistics']">Database Index &amp; Statistics</a></li>
        <li class="divider"></li>
        <li>
            <a [routerLink]="['/upload/status']">
                <div>
                    <p>
                        <strong>Upload Progress</strong>
                        <span class="pull-right text muted">&nbsp;</span>
                    </p>

                    <spectra-upload-progress-bar></spectra-upload-progress-bar>
                </div>
            </a>
        </li>
    </ul>
</li>
