<ul class="nav navbar-nav navbar-top-links navbar-right">
    <!-- User Login -->
    <li class="dropdown" ngbDropdown>
        <a role="button" class="dropdown-toggle" ngbDropdownToggle>
          <fa-icon [icon]="faUser"></fa-icon>
          <fa-icon [icon]="faCaretDown"></fa-icon>
        </a>
        <ul class="uib-dropdown-menu dropdown-user" ngbDropdownMenu>
            <li [hidden]="!isLoggedIn()">
              <a [routerLink]="['/profile']"><fa-icon [icon]="faUser"></fa-icon> User Profile</a>
            </li>
            <li [hidden]="!isLoggedIn()" class="divider"></li>

            <li>
              <a (click)="handleLogin()"><fa-icon [icon]="faSignOutAlt"></fa-icon> {{isLoggedIn() ?
                    "Logout" : "Login"}}</a>
            </li>
            <li [hidden]="isLoggedIn()">
              <a (click)="handleRegistration()"><fa-icon [icon]="faUsers"></fa-icon> Register</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
</ul>
