<div class="row">
    <div class="col-md-12" id="search-box">
        <h3><i class="fa fa-database"></i> Database Index &amp; Statistics</h3>

        <uib-tabset active="activeJustified">
            <uib-tab index="0" select="selectTab(0)">
                <uib-tab-heading class="search-heading">Database Content</uib-tab-heading>

                <h5><b>Database Information:</b></h5>

                <table class="table">
                    <tbody>
                    <tr>
                        <td>Submitters:</td>
                        <td>{{globalData.submitterCount | number}}</td>
                    </tr>
                    <tr>
                        <td>Spectral Records:</td>
                        <td>{{globalData.spectrumCount | number}}</td>
                    </tr>
                    <tr>
                        <td>Unique Compounds (first InChIKey block):</td>
                        <td>{{globalData.compoundCount | number}}</td>
                    </tr>
                    <tr>
                        <td>Metadata Types:</td>
                        <td>{{globalData.metaDataCount | number}}</td>
                    </tr>
                    <tr>
                        <td>Total Metadata Values:</td>
                        <td>{{globalData.metaDataValueCount | number}}</td>
                    </tr>
                    <tr>
                        <td>Tags Types:</td>
                        <td>{{globalData.tagCount | number}}</td>
                    </tr>
                    <tr>
                        <td>Total Tags:</td>
                        <td>{{globalData.tagValueCount | number}}</td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>

            <uib-tab index="1" select="selectTab(1)">
                <uib-tab-heading class="search-heading">MetaData</uib-tab-heading>

                <div class="h5">
                    The pie chart below shows the distribution of metadata values for the selected metadata type.
                    Clicking on the elements in the legend will show/hide chart sections, and clicking on a section in
                    the pie chart will execute a query for the selected value.
                </div>

                <div>
                    <select data-ng-options="f.title for f in metadataFields"
                            data-ng-model="selectedMetadataField"
                            data-ng-change="selectMetadataField(selectedMetadataField)"></select>
                </div>

                <div class="text-center"><h4>{{selectedMetadataField.title}}</h4></div>

                <nvd3 options="metadataChartOptions"
                      config="{refreshDataOnly: false}"
                      data="selectedMetadataField.data"
                      api="api.metadataChart"></nvd3>
            </uib-tab>

            <uib-tab index="2" select="selectTab(2)">
                <uib-tab-heading class="search-heading">Compound Classes</uib-tab-heading>

                <div class="h5">
                    This sunburst chart displays the breakdown of compound classifications, which were obtained using
                    <a href="http://classyfire.wishartlab.com/">ClassyFire</a>.  Clicking on a partition will zoom into it
                    and display a finer-grained view of its child partitions.  Clicking on the center circle will zoom out
                    to the parent partition.
                </div>

                <nvd3 options="sunburstOptions"
                      data="compoundClassData"
                      class="with-3d-shadow with-transitions"
                      api="api.compoundClassChart"></nvd3>
            </uib-tab>
        </uib-tabset>
    </div>
</div>