<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-cloud-download"></i> Downloads</h3>

        <div class="h5">
            A set of commonly referenced predefined queries.  Clicking the name of the query will display the associated
            spectra in the query browser.  Each query is also available to download in either the MoNA internal
            JSON format or as NIST MS Search compatible MSP files.
        </div>

        <div data-query-tree-view data-tree-id="tree" data-tree-model="queryTree"></div>
    </div>
</div>