<div class="row">
    <div ng-repeat="meta in query">
        <div class="col-sm-4 form-group" ng-class="{'has-error': !meta.name && meta.name != ''}">
            <input type="text"
                   ng-model="meta.name"
                   placeholder="metadata name"
                   uib-typeahead="x.name for x in queryMetadataNames($viewValue)"
                   uib-typeahead-editable="editable"
                   class="form-control"
                   ng-trim="true"
                   uib-typeahead-focus />
        </div>
        <div class="col-sm-2 form-group">
            <select
                    ng-model="meta.selected"
                    ng-options="item.name for item in select"
                    class="form-control">
                    <option value="">select</option>
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <input type="text"
                   ng-model="meta.value"
                   ng-disabled="!meta.name || meta.name == ''"
                   placeholder="value"
                   uib-typeahead="x for x in queryMetadataValues(meta.name, $viewValue)"
                   class="form-control"
                   ng-trim="true"
                   uib-typeahead-focus />
        </div>
    </div>

    <div class="col-sm-12">
        <button type="button" class="btn btn-default btn-xs" ng-click="addMetadataQuery()">+</button>
    </div>
</div>
