<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <Logger name="edu.ucdavis.fiehnlab.mona.backend.core.service.synchronization.MongoCountListener" level="warn"/>
    <Logger name="edu.ucdavis.fiehnlab.mona.backend.core.service.synchronization.ElasticCountListener" level="warn"/>
    <Logger name="edu.ucdavis.fiehnlab.mona.backend.core.service.synchronization.SpectrumElasticEventListener" level="warn"/>
    <Logger name="edu.ucdavis.fiehnlab.mona.backend.core.workflow.LinearWorkflow" level="warn"/>
    <Logger name="org.springframework.boot.autoconfigure.mongo.embedded.EmbeddedMongo" level="warn"/>
    <Logger name="edu.ucdavis" level="debug"/>
    <Logger name="org.elasticsearch" level="warn"/>
    <Logger name="org.springframework.web.context.request.async" level="warn"/>
    <Root level="info">
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>