<div>
    <!-- mass spectral properties -->
    <div class="row">
        <div class="col-md-12">
            <div ng-show="spectrum.tags.length">
                <ul class="list-inline">
                    <li ng-repeat="tag in spectrum.tags">
                        <span gw-tag="" rule-based="tag.ruleBased == true" value="tag"></span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <h4>Spectra Properties</h4>

            <accordion close-others="false">
                <accordion-group is-open="accordionStatus.isSpectraOpen">

                    <accordion-heading>
                        <div>Mass Spectra<i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': accordionStatus.isSpectraOpen, 'glyphicon-chevron-right': !accordionStatus.isSpectraOpen}"></i></div>
                    </accordion-heading>

                    <div class="masspec-modal">
                        <mass-spec id="massSpec_{{spectrum.id}}" ng-model="spectrum.spectrum"></mass-spec>
                    </div>

                </accordion-group>

                <accordion-group is-open="accordionStatus.isIonTableOpen">


                    <accordion-heading>
                        <div>Ion Table<i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': accordionStatus.isIonTableOpen, 'glyphicon-chevron-right': !accordionStatus.isIonTableOpen}"></i></div>
                    </accordion-heading>

                    <div style="height: 400px; overflow: auto; margin-top: 10px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ion</th>
                                <th>Intensity</th>
                                <th>annotation</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ion in massSpec">
                                <td>{{ion.ion}}</td>
                                <td>{{ion.intensity}}</td>
                                <td>
                                    {{ion.annotation}}

                                    <!-- display this, if it's a computed value -->
                                    <i ng-show="ion.computed == true" class="fa fa-flask" tooltip-placement="top"
                                       tooltip="This value was computed via automated curation"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <h4>Compound Properties</h4>

            <accordion close-others="false">
                <accordion-group
                        ng-if="spectrum.predictedCompound != null" is-open="accordionStatus.isDerivatizedCompoundOpen">
                    <accordion-heading>
                        <div>Computed Derivatization Product<i class="pull-right glyphicon"
                                                          ng-class="{'glyphicon-chevron-down': accordionStatus.isDerivatizedCompoundOpen, 'glyphicon-chevron-right': !accordionStatus.isDerivatizedCompoundOpen}"></i></div>
                    </accordion-heading>
                    <div display-compound-info compound="spectrum.predictedCompound"></div>
                </accordion-group>

                <accordion-group is-open="accordionStatus.isBiologicalCompoundOpen">
                    <accordion-heading>
                        <div>Substance <i class="pull-right glyphicon"
                                     ng-class="{'glyphicon-chevron-down': accordionStatus.isBiologicalCompoundOpen, 'glyphicon-chevron-right': !accordionStatus.isBiologicalCompoundOpen}"></i></div>
                    </accordion-heading>

                    <div display-compound-info compound="spectrum.biologicalCompound"></div>
                </accordion-group>

                <accordion-group is-open="accordionStatus.isChemicalCompoundOpen">
                    <accordion-heading>
                        <div>Provided Derivatized Substance<i class="pull-right glyphicon"
                                                         ng-class="{'glyphicon-chevron-down': accordionStatus.isChemicalCompoundOpen, 'glyphicon-chevron-right': !accordionStatus.isChemicalCompoundOpen}"></i></div>                    </accordion-heading>
                    <div display-compound-info compound="spectrum.chemicalCompound"></div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12">
            <div ng-show="spectrum.metaData.length">
                <h4>Mass Spectrum Metadata</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>category</th>
                        <th>name</th>
                        <th>value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="meta in spectrum.metaData | filter: {category: '!annotation'} | orderBy: 'category': true">
                        <td>
                            <span gw-meta-query value="meta"> {{meta.category}}</span>
                        </td>
                        <td>
                            {{meta.name}}
                        </td>
                        <td>
                            <span gw-value value="meta">{{meta.value}} {{meta.unit}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/>

            <div ng-show="spectrum.comments.length">
                <h4>Comments</h4>
                <blockquote><p style="font-size: 75%">{{spectrum.comments}}</p></blockquote>
            </div>
        </div>
    </div>
</div>