<div ng-value="error"></div>

<div class="row" ng-show="!auth.isLoggedIn()">
    <div class="col-md-12">
        <h3><i class="fa fa-user fa-fw"></i> Please <a href="" ng-click="auth.handleLogin()">log in</a>!</h3>
    </div>
</div>

<div class="row" ng-show="auth.isLoggedIn()">
    <div class="col-md-12">
       <h3>What is happening right now

           <small>This is a liveview of submissions and other currently generated content</small>
       </h3>

        <div gw-news></div>
    </div>
</div>
