<ul class="nav navbar-nav navbar-top-links navbar-right">
    <!-- User Login -->
    <li class="dropdown" ngbDropdown>
        <a role="button" class="dropdown-toggle" ngbDropdownToggle>
            <i class="fa fa-user fa-fw"></i> <!--<span ng-bind="auth.welcomeMessage"></span>-->
            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="uib-dropdown-menu dropdown-user" ngbDropdownMenu>
            <li [hidden]="!isLoggedIn()">
                <a [routerLink]="['/profile']"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li [hidden]="!isLoggedIn()" class="divider"></li>

            <li>
                <a (click)="handleLogin()"><i class="fa fa-sign-out fa-fw"></i> {{isLoggedIn() ?
                    "Logout" : "Login"}}</a>
            </li>
            <li [hidden]="isLoggedIn()">
                <a (click)="handleRegistration()"><i class="fa fa-users fa-fw"></i> Register</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
</ul>
