<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancelDialog()" aria-hidden="true"
            ng-if="$ctrl.state == 'register' || $ctrl.state == 'success'">×</button>

    <h3 class="modal-title">Create a MoNA Account</h3>
    <p ng-if="$ctrl.state == 'register'">
        An account is required to download large queries and to submit spectra.
        Please sign up for a free account by providing the following information:
    </p>
</div>


<div class="modal-body" >
    <div class="alert alert-danger .alert-dismissible " role="alert" ng-show="$ctrl.errors.length">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span>Error: </span>
        <span ng-if="$ctrl.errors.length == 1">{{$ctrl.errors[0]}}</span>
        <ul ng-if="$ctrl.errors.length > 1">
            <li ng-repeat="error in $ctrl.errors">{{error}}</li>
        </ul>
    </div>

    <!--<div submitter-form ng-show="state == 'register'"></div>-->
    <submitter-form on-update="$ctrl.newSubmitter=newSubmitter" ng-show="$ctrl.state =='register'"></submitter-form>

    <div ng-show="$ctrl.state == 'registering'">
        <h4><span class="spinner"><i class="fa fa-refresh fa-spin"></i> Registering account...</span></h4>
    </div>

    <div ng-show="$ctrl.state == 'success'" class="text-success text-center">
        <div><span class="h2"><i class="fa fa-check"></i></span> <span class="h4">Success!  You may now log in.</span></div>
        <br />
        <div><button class="btn btn-success btn-lg" ng-click="$ctrl.logIn()">Log In</button></div>
    </div>
</div>


<div class="modal-footer" ng-show="$ctrl.state != 'success'">
    <button class="btn btn-primary"
            ng-disabled="$ctrl.submitterForm.$invalid"
            ng-click="$ctrl.submitRegistration()"
            ng-if="$ctrl.state == 'register'">Register</button>

    <button class="btn btn-default" ng-click="$ctrl.cancelDialog()">Close</button>
</div>
