<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to MoNA</h1>
            <p>
                MassBank of America (MoNA), is an auto curating repository for storing, comparing and querying mass spectra of
                chemical compounds.
                It is metadata centric and it was designed to allow easy integration into other tools by utilize its REST based
                application programming interface.
                At the current time it contains over 200k predicted and 40k unique experimental mass spectra and their
                associated
                metadata. The predicted spectra were obtained by utilizing the lipid blast library and the experimental spectra
                were
                acquired from 30 different facilities all over the world, including several major research facilities in the
                United
                States and Japan.
                MoNA is utilizing the InChI Key as unique identifier for chemicals and is designed for easy scalability and
                expandability. This is realized by utilizing common applications like nginx, grails, AngularJS, postgresSQL and
                tomcat.
                MoNA is currently integrated in applications like MSDial, BinBase, MZMine and the statistics package R. This was
                accomplished by utilizing its REST based API, which is also utilized by its main AngularJS based web interface.
                We consider MoNA to be highly useful for crosslinking mass spectra in publications, identification of unknowns and
                integration in data acquisition software.
            </p>
    </div>
    <div class="bor-bot"></div>
    <div class="row">
        <div class="col-md-12">
            <carousel interval="5000">
                <slide ng-repeat="slide in slides">
                    <a ng-href="#/spectra/display/{{slide.id}}"><img ng-src="{{slide.image}}" style="margin:auto; width: 75%;" /></a>
                </slide>
            </carousel>
        </div>
    </div>
    <div class="bor-bot"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>News</h2>
            <table class="table">
                <tbody>
                <tr>
                    <td class="news-cell">
                        <span class="news-title"><a href="#/news"><h4>Redesign of Mona website!</h4></a></span>
                        <div class="content">
                            <span class="news-date">November 20, 2015</span>
                            <p>We've redesigned the mona website to be more user friendly, please enjoy the new layout!</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>New Query Tree feature!</td>
                </tr>
                <tr>
                    <td>Computational Metabolomics</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Submitter Ratings</h2>
            <div spectra-top-scores-for-users limit="10">please wait, while we are loading the data for you...</div>
        </div>
    </div>
</div>
