<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome to MoNA</h2>
            <p>
                MassBank of America (MoNA), is an auto curating repository for storing, comparing and querying mass
                spectra of
                chemical compounds.
                It is metadata centric and it was designed to allow easy integration into other tools by utilize its
                REST based
                application programming interface.
                At the current time it contains over 200k predicted and 40k unique experimental mass spectra and their
                associated
                metadata. The predicted spectra were obtained by utilizing the lipid blast library and the experimental
                spectra
                were
                acquired from 30 different facilities all over the world, including several major research facilities in
                the
                United
                States and Japan.
                MoNA is utilizing the InChI Key as unique identifier for chemicals and is designed for easy scalability
                and
                expandability. This is realized by utilizing common applications like nginx, grails, AngularJS,
                postgresSQL and
                tomcat.
                MoNA is currently integrated in applications like MSDial, BinBase, MZMine and the statistics package R.
                This was
                accomplished by utilizing its REST based API, which is also utilized by its main AngularJS based web
                interface.
                We consider MoNA to be highly useful for crosslinking mass spectra in publications, identification of
                unknowns and
                integration in data acquisition software.
            </p>
        </div>

        <div class="bor-bot"></div>
        <div class="row">
            <div class="col-md-12">
                <uib-carousel interval="7000" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in slides">
                        <a ng-href="#/spectra/display/{{slide.id}}"><img ng-src="{{slide.image}}" style="margin:auto"/></a>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
        <div class="bor-bot"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>News</h2>
            <table class="table">
                <tbody>
                <tr>
                    <td class="news-cell">
                        <span class="news-title"><a href="#/news"><h4>Redesign of Mona website!</h4></a></span>

                        <div class="news-date">November 20, 2015</div>
                        <div class="content">
                            We've redesigned the Mona website to be more user friendly,
                            please enjoy they new layout! We have more features that will be implemented, including
                            a user's guide and help section.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="news-cell">
                        <span class="news-title"><a href="#/spectra/querytree"><h4>New Query Tree feature!</h4>
                        </a></span>

                        <div class="news-date">November 20, 2015</div>
                        <div class="content">
                            We have added the query tree functionality, which allows users to quickly search for
                            or download practical subsets of the MoNA database
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="news-cell">
                        <span class="news-title"><a
                                href="https://www.dagstuhl.de/en/program/calendar/semhp/?semnr=15492"><h4>Computational
                            Metabolomics</h4></a></span>

                        <div class="news-date">November 20, 2015</div>
                        <div class="content">
                            Upcoming seminar - The key goal of this Dagstuhl seminar is to foster the exchange of ideas
                            between the experimental
                            (analytical chemistry and biology) and computational (computer science and bioinformatics)
                            communities. <br/>
                            <time>November 9th - December 4th, 2015</time>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Submitter Ratings</h2>

            <div spectra-top-scores-for-users limit="10">please wait, while we are loading the data for you...</div>
        </div>
    </div>
</div>
