<div class="row">
    <div class="col-md-12">
        <h3>Welcome to MoNA</h3>

        <p>
            MassBank of America (MoNA), is an auto curating repository for storing, comparing and querying mass spectra of
            chemical compounds.

            It is metadata centric and it was designed to allow easy integration into other tools by utilize its REST based
            application programming interface.

        </p>

        <p>
            At the current time it contains over 200k predicted and 40k unique experimental mass spectra and their
            associated
            metadata. The predicted spectra were obtained by utilizing the lipid blast library and the experimental spectra
            were
            acquired from 30 different facilities all over the world, including several major research facilities in the
            United
            States and Japan.
        </p>

        <p>
            MoNA is utilizing the InChI Key as unique identifier for chemicals and is designed for easy scalability and
            expandability. This is realized by utilizing common applications like nginx, grails, AngularJS, postgresSQL and
            tomcat.

        </p>
        MoNA is currently integrated in applications like MSDial, BinBase, MZMine and the statistics package R. This was
        accomplished by utilizing its REST based API, which is also utilized by its main AngularJS based web interface.
        We consider MoNA to be highly useful for crosslinking mass spectra in publications, identification of unknowns and
        integration in data acquisition software.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <carousel interval="1000">
            <slide ng-repeat="slide in slides">
                <a ng-href="#/spectra/display/{{slide.id}}"><img ng-src="{{slide.image}}" style="margin:auto; width: 75%;" /></a>
            </slide>
        </carousel>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Database Services</h3>

        <dl class="dl-horizontal">
            <dt>Spectrum browser</dt>
            <dd>allows you to browse the database by spectra</dd>
            <dt>Compound browser</dt>
            <dd>allows you to browse the database by compound</dd>
            <dt>REST api</dt>
            <dd>complete access to MoNA, by utilizing a REST API</dd>
            <dt>Spectra Queries</dt>
            <dd>advanced queries possible, using our flexible query dialog</dd>
            <dt>Self curating</dt>
            <dd>the system curates and scores your data, constantly!</dd>
        </dl>
    </div>

    <div class="col-md-8">
        <h3>submitter ratings</h3>

        <div spectra-top-scores-for-users limit="10">please wait, while we are loading the data for you...</div>
    </div>
</div>
