<div class="btn-group top5" uib-dropdown>
    <button type="button" class="btn dropdown-toggle btn-sm" uib-dropdown-toggle
            ng-class="{'btn-info': !submitted, 'btn-success': submitted}"
            ng-disabled="submitting || submitted">
        <i ng-show="!submitted" class="fa fa-comments"></i>
        <i ng-show="submitted" class="fa fa-check"></i>
        <span>Review Spectrum Quality</span>
    </button>

    <ul class="uib-dropdown-menu" uib-dropdown-menu>
        <li><a ng-click="rate('clean')">Clean Spectrum</a></li>
        <li><a ng-click="rate('noisy')">Noisy Spectrum</a></li>
        <li><a ng-click="rate('grassy')">Grassy Spectrum</a></li>
    </ul>
</div>
