<form>
    <div class="row">
        <div class="col-sm-6">
            <uib-accordion close-others="false">
                <uib-accordion-group>
                    <uib-accordion-heading>Compound</uib-accordion-heading>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input id="nameFilter"
                                   name="nameFilter"
                                   ng-model="compoundQuery.name"
                                   placeholder="name or inChiKey"
                                   class="form-control"/>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="compoundQuery.operator[0]">
                                <option>AND</option>
                                <option>OR</option>
                            </select>
                        </div>
                        <div class="col-sm-10">
                            <gw-meta-query-input query="compoundQuery.metadata" editable="false"></gw-meta-query-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="compoundQuery.operator[1]">
                                <option>AND</option>
                                <option>OR</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input type="number"
                                   id="accurateMass"
                                   name="accurateMass"
                                   ng-model="compoundQuery.exactMass"
                                   placeholder="accurate mass"
                                   class="form-control"/>
                        </div>
                        <div class="col-sm-5">
                            <input type="number"
                                   id="accurateMassTolerance"
                                   name="accurateMassTolerance"
                                   value="0.5"
                                   ng-model="compoundQuery.tolerance"
                                   placeholder="tolerance"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="compoundQuery.operator[2]">
                                <option>AND</option>
                                <option>OR</option>
                            </select>
                        </div>
                        <div class="col-sm-10">
                            <input id="classValueFilter"
                                   name="classValueFilter"
                                   ng-model="compoundQuery.className"
                                   placeholder="compound class"
                                   class="form-control"/>
                        </div>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>Metadata</uib-accordion-heading>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <gw-meta-query-input query="metadataQuery.metadata" editable="false"></gw-meta-query-input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="metadataQuery.operator">
                                <option>AND</option>
                                <option>OR</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input type="number"
                                   ng-model="metadataQuery.exactMass"
                                   placeholder="accurate mass"
                                   class="form-control"/>
                        </div>
                        <div class="col-sm-5">
                            <input type="number"
                                   ng-model="metadataQuery.tolerance"
                                   placeholder="tolerance"
                                   value="0.5"
                                   class="form-control"/>
                        </div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" ng-click="submitAdvQuery()">Submit</button>
                </div>
                <div class="col-sm-2">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
