<div id="search-box">
    <uib-tabset active="activeJustified">
        <uib-tab index="0">
            <uib-tab-heading class="search-heading">Filter by Keyword</uib-tab-heading>
            <keyword-search-form></keyword-search-form>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading class="search-heading">Advanced Query</uib-tab-heading>
            <div ng-controller="AdvancedSearchController as adv"><advanced-search-form></advanced-search-form></div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading class="search-heading">Similarity Query</uib-tab-heading>
        </uib-tab>
    </uib-tabset>
</div>
