<form>
    <div class="row">
        <div class="col-md-6">
            <uib-accordion close-others="false">
                <uib-accordion-group>
                    <uib-accordion-heading>Compound</uib-accordion-heading>
                    <div class="form-group">
                        <input id="nameFilter"
                               name="nameFilter"
                               ng-model="query.nameFilter"
                               placeholder="filter by compound names"
                               class="form-control"/>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>InChiKey</uib-accordion-heading>
                    <div class="form-group">
                        <input id="inchiFilter"
                               name="inchiFilter"
                               ng-model="query.inchiFilter"
                               placeholder="filter by InChIKey"
                               ng-pattern="/^([A-Z,0-9,\-]+)+$/"
                               class="form-control"/>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>Accurate Mass</uib-accordion-heading>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input id="accurateMass"
                                       name="accurateMass"
                                       ng-model="query['Mz_exact']"
                                       placeholder="accurate mass"
                                       class="form-control"/>
                            </div>


                            <div class="col-sm-6">
                                <input id="accurateMassTolerance"
                                       name="accurateMassTolerance"
                                       ng-model="query['Mz_exact_tolerance']"
                                       placeholder="accurate mass tolerance"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>Metadata</uib-accordion-heading>
                    <gw-meta-query-input query="metadataQuery" editable="false"></gw-meta-query-input>
                </uib-accordion-group>

                <uib-accordion-group>
                    <uib-accordion-heading>Classification</uib-accordion-heading>
                    <gw-class-query-input query="classQuery"></gw-class-query-input>
                </uib-accordion-group>

                <!-- COMMENTED OUT UNTIL WE HAVE FEATURE -->
                <!--<uib-accordion-group is-open="true">
                    <uib-accordion-heading>
                        <div>Tags</div>
                    </uib-accordion-heading>

                    <div gw-tag-display selection="selectedTags"></div>
                </uib-accordion-group>-->
            </uib-accordion>
        </div>
        <div class="col-md-2">
            <p>Use the advance query options to build customize queries. Click on a field to get started.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" ng-click="submitTest()">Submit</button>
                </div>
                <div class="col-sm-2">
                    <button type="reset" class="btn btn-secondary" ng-click="test1()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
