<form>
    <uib-accordion close-others="false">
        <uib-accordion-group is-open="true">
            <uib-accordion-heading>
                <div>Metadata</div>
            </uib-accordion-heading>
            <label>Select an existing metadata type and then input a value</label>

            <div gw-meta-query-input query="metadataQuery" editable="false"></div>
        </uib-accordion-group>

        <!--<uib-accordion-group is-open="true">
            <uib-accordion-heading>
                <div>Tags</div>
            </uib-accordion-heading>

            <div gw-tag-display selection="selectedTags"></div>
        </uib-accordion-group>-->
    </uib-accordion>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" ng-click="submitTest()">Submit</button>
                </div>
                <div class="col-sm-2">
                    <button type="reset" class="btn btn-secondary" ng-click="test1()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
