<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="inputCompound" class="col-sm-4 form-control-label">Compound Name</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputCompound" placeholder="compound name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>AND</option>
                        <option>OR</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputExactMass" placeholder="exact mass">
                </div>
                <label for="inputTolerance" class="col-sm-2 form-control-label">Tolerance</label>

                <div class="col-sm-3">
                    <input type="number" class="form-control" id="inputTolerance" value="0.5">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>AND</option>
                        <option>OR</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="inputFormula" placeholder="formula">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>MS Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox" ng-model="selectMS"> All</td>
                                <td ng-repeat="ms in msType track by $index">
                                    <input type="checkbox" ng-checked="selectMS"> {{ms}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ion Mode</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox" ng-model="selectIon"> Both</td>
                                <td ng-repeat="ion in ionMode track by $index">
                                    <input type="checkbox" ng-checked="selectIon"> {{ion}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table header-fixed">
                            <thead>
                            <tr>
                                <th>Instrument Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" ng-model="selectEsi"> <strong>ESI:</strong><br/>
                             <span class="insSpan" ng-repeat="n in instrumentType[1].ESI track by $index">
                                 <input type="checkbox" ng-checked="selectEsi"> {{n}}
                                 <br/>
                             </span>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="selectOthers"> <strong>Others:</strong><br/>
                             <span class="insSpan" ng-repeat="n in instrumentType[2].Others track by $index">
                                 <input type="checkbox" ng-checked="selectOthers"> {{n}}
                                 <br/>
                             </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" ng-model="selectAll.EI"> <strong>EI:</strong><br/>
                             <span class="insSpan" ng-repeat="n in instrumentType[0].EI track by $index">
                                 <input type="checkbox" ng-checked="selectAll.EI" ng-init="instrumentType[0].EI.selected.indexOf(n) > -1"
                                        ng-click="selectInstrumentType(0,n)" value="{{n}}"> {{n}}
                                 <br/>
                             </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
