<div class="col-md-6">
    <div class="row">
        <div class="col-sm-6">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>Instrument Type</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" ng-model="selectEi"> <strong>EI:</strong><br/>
                             <span class="insSpan" ng-repeat="n in instrumentType[0].EI track by $index">
                                 <input type="checkbox" ng-checked="selectEi"> {{n}}
                                 <br/>
                             </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
