<div id="search-box" ng-show="showForm">
    <uib-tabset active="activeJustified">
        <uib-tab index="0">
            <uib-tab-heading class="search-heading">Search by Keyword</uib-tab-heading>
            <search-form-fields></search-form-fields>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading class="search-heading">Advanced Query Search</uib-tab-heading>
            Short Labeled Justified content
            <!-- TODO: CREATE ADVANCE QUERY DIRECTIVE HERE -->
        </uib-tab>
    </uib-tabset>
</div>
<button type="submit" ng-click="resetForm()">Open Form</button>
