<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-search"></i> Similarity Search</h3>

        <div class="h5">
            Find spectra in MoNA similar to a provided spectrum
        </div>
        <br/>

        <!-- Select files to upload -->
        <div ng-if="queryState == 0" class="panel panel-default">
            <div class="panel-heading"><strong>Select a mass spectrum to query</strong></div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" name="inputMode" value="upload"
                                                       ng-model="inputMode"> Upload a File</label>
                    <label class="radio-inline"><input type="radio" name="inputMode" value="paste" ng-model="inputMode">
                        Paste a Spectrum</label>
                    <label class="radio-inline"><input type="radio" name="inputMode" value="pasteSplash"
                                                       ng-model="inputMode"> Paste a Splash</label>
                </div>

                <div ng-if="inputMode == 'upload'">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip; <input type="file" ng-file-select="parseFiles($files)"/>
                            </span>
                        </span>

                        <input id="spectrumFile" type="text" class="form-control" ng-model="filenames" readonly/>
                    </div>

                    <span class="help-block">Supports MSP and MGF mass spectral library files, MassBank Records Format</span>
                </div>

                <div ng-if="inputMode == 'paste'">
                    <textarea class="form-control" rows="10" ng-model="pastedSpectrum"></textarea>
                    <span class="help-block">Supports spectra of the form <code>[m/z]:[intensity] [m/z]:[intensity]
                        ...</code></span>

                    <div class="text-center">
                        <a class="btn btn-primary" ng-click="parsePastedSpectrum(pastedSpectrum)">Process Spectrum</a>
                    </div>
                </div>


                <div ng-if="inputMode == 'pasteSplash'">
                    <input type="text" class="form-control" rows="10" ng-model="pastedSplash"/>
                    <span class="help-block">please paste a valid splash</span>

                    <div class="text-center">
                        <a class="btn btn-primary" ng-click="parseSplash(pastedSplash)">Process Splash</a>
                    </div>
                </div>


            </div>
        </div>


        <!-- Loading message -->
        <div ng-if="queryState == 1" class="panel panel-default">
            <div class="panel-heading"><strong>Loading and parsing data</strong></div>
            <div class="panel-body text-center"><span class="spinner"><i class="fa fa-refresh fa-spin"></i> Parsing data...</span>
            </div>
        </div>


        <!-- Display spectrum and query options -->
        <div ng-if="queryState == 2" class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-warning" role="alert" ng-show="spectraCount > 1">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Similarity query only supports searches on single spectra. Only the first spectrum in the file was
                    loaded.
                </div>

                <div class="masspec-modal">
                    <mass-spec ng-model="spectrumIons"></mass-spec>
                </div>
                <br/>

                <tabset>
                    <tab heading="Query Parameters">
                        <p class="lead">Types of similarity queries to perform</p>

                        <div class="form-group">
                            <div>
                                <label class="radio-inline"><input type="radio" name="queryType" value="similar"
                                                                   ng-model="queryOptions.queryType" checked> Similarity
                                    Search</label>
                                <span class="help-block">Performs similarity comparison based on the SPLASH histogram and then ranks the results by similarity score</span>
                            </div>

                            <div>
                                <label class="radio-inline"><input type="radio" name="queryType" value="exact"
                                                                   ng-model="queryOptions.queryType"> Exact
                                    Search</label>
                                <span class="help-block">Searches for exact spectra match based on its SPLASH hash</span>
                            </div>

                            <div>
                                <label class="radio-inline"><input type="radio" name="queryType" value="top10"
                                                                   ng-model="queryOptions.queryType"> Top 10 Ion Search</label>
                                <span class="help-block">Searches for matches in the spectrum's top 10 ions based on the SPLASH hash</span>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Ion Table">
                        <div style="height: 300px; overflow: auto; margin-top: 10px;" ng-if="showIonTable">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th><a href="" ng-click="sortIonTable('ion')">Ion</a></th>
                                    <th><a href="" ng-click="sortIonTable('intensity')">Intensity</a></th>
                                    <th><a href="" ng-click="sortIonTable('annotation')">Annotation</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ion in spectrumIons | orderBy:ionTableSort:ionTableSortReverse">
                                    <td><input type="checkbox" ng-model="ion.selected"/></td>
                                    <td>{{ion.ion | number : 4}}</td>
                                    <td>{{ion.intensity | number : 4}}</td>
                                    <td>{{ion.annotation}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="margin-top: 10px;" ng-if="!showIonTable">
                            <p class="lead">This mass spectrum is very large!</p>

                            <p>It contains {{spectrumIons.length}} individual ions. Loading them all automatically can
                                slow down your browser, but you can manually build the ion table:</p>
                            <br/>

                            <p class="text-center"><a class="btn btn-primary" ng-click="$parent.showIonTable = true">Build
                                Ion Table</a></p>
                        </div>
                    </tab>
                </tabset>
            </div>

            <div class="panel-footer">
                <div class="text-center">
                    <a class="btn btn-primary" ng-click="query()">Find similar spectra in MoNA</a>
                </div>
            </div>
        </div>
        <!-- Splashed based search -->
        <div ng-if="queryState == 3" class="panel panel-default">
            <div class="panel-body">


                <tabset>
                    <tab heading="Query Parameters">
                        <p class="lead">Types of queries to perform</p>

                        <div class="form-group">

                            <div>
                                <label class="radio-inline"><input type="radio" name="queryType" value="exact"
                                                                   ng-model="queryOptions.queryType"> Exact
                                    Search</label>
                                <span class="help-block">Searches for exact spectra match based on the provided splash</span>
                            </div>

                            <div>
                                <label class="radio-inline"><input type="radio" name="queryType" value="histogram"
                                                                   ng-model="queryOptions.queryType"> Histogram search</label>
                                <span class="help-block">Search for spectra, which have the same histogram as the provided splash</span>
                            </div>

                        </div>
                    </tab>

                </tabset>
            </div>

            <div class="panel-footer">
                <div class="text-center">
                    <a class="btn btn-primary" ng-click="query()">Find similar spectra in MoNA</a>
                </div>
            </div>
        </div>
    </div>
</div>