<div ng-value="error"></div>

<div class="row">

    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>InChIKey</th>
                <th class="text-center">Structure</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="compound in compounds" ng-click="viewSpectra(compound.inchiKey)">
                <td>
                    <ul>
                        <li ng-repeat="name in compound.names">{{name.name}}</li>
                    </ul>
                </td>
                <td><code>{{compound.inchiKey}}</code></td>
                <td class="text-center">
                    <div chemical-sketcher readonly="true" width="100" height="100" id="chemSketch_{{compound.id}}"
                         ng-model="compound.inchiKey"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <form class="form-vertical">
            <fieldset>
                <legend>Filter</legend>
            </fieldset>
        </form>
    </div>

</div>
