<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="application-name" source="spring.application.name"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <root level="INFO">
        <appender-ref ref="STASH"/>
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>