<html ng-app="app">
<head>
    <title>Angular Masspec Plotter</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style type='text/css'>
        .masspec .button {
            position: absolute;
            cursor: pointer;
        }

        .masspec div.button {
            font-size: smaller;
            color: #999;
            background-color: #eee;
            padding: 2px;
        }
    </style>
</head>

<body ng-controller="PlotController">
<h1>Angular Masspec Plotter</h1>


<h3>Full Mass Spectrum</h3>
<div style="width: 50%; height: 400px">
    <mass-spec ng-model="data"></mass-spec>
</div>

<h3>"Mini" (Thumbnail) Mass Spectrum</h3>
<div style="width: 100px; height: 100px">
    <mass-spec mini ng-model="data"></mass-spec>
</div>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/flot/jquery.flot.js"></script>
<script src="bower_components/flot/jquery.flot.resize.js"></script>
<script src="bower_components/flot/jquery.flot.selection.js"></script>
<script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="bower_components/angular-masspec-plotter/angular-masspec-plotter.js"></script>

<script type="text/javascript">
    //<![CDATA[

    angular.module('app', ['angularMasspecPlotter'])
            .controller("PlotController", function ($scope) {
                $scope.data = [
                    [12, 125], [13, 131], [14, 999], [15, 12], [16, 10], [20, 1], [21, 18],
                    [24, 44], [25, 58], [26, 16], [27, 1], [28, 113], [29, 68], [30, 1],
                    [40, 51], [41, 265], [42, 939], [43, 21], [44, 1]
                ];

                $scope.data = "12:125 13:131 14:999 15:12 16:10 20:1 21:18 24:44 25:58 26:16 27:1 28:113 29:68 30:1 40:51 41:265 42:939 43:21 44:1";

                $scope.data = "259.06:13.9 279.03:310.4 279.93:39.8 283.13:237.3 284.16:38.6 303.13:20.6 304.16:14.4 327.03:273.1 328.06:24.4 434.73:6.0 459.01:8.3 476.04:138.4 477.11:12.6 500.29:14.9 501.04:4.9 524.20:30.5 525.29:18.0 660.85:22.0 666.12:7.2 688.33:6.0 700.39:35.4 702.84:14.0 725.44:1100";
            });

    //]]>
</script>
</body>
</html>