<div>
    <div class="row">
        <div class="col-md-6">
            <h4>Chemical Names</h4>
            <div ng-show="compound.names.length">
                <ul>
                    <li ng-repeat="name in compound.names">{{name.name}}</li>
                    <li ng-hide="compound.names.length">No compound name provided!</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="text-right">
                <div class="h5">
                    <span class="dropdown" uib-dropdown>
                        <a href class="dropdown-toggle" uib-dropdown-toggle>
                            <i class="fa fa-cloud-download"></i> Download Structure
                        </a>

                        <ul class="uib-dropdown-menu">
                            <li>
                                <a ng-click="downloadAsMOL()" target="_blank">as MOL file</a>
                            </li>
                            <li>
                                <a ng-click="downloadAsJSON()" target="_blank">as MoNA JSON Record</a>
                            </li>
                        </ul>
                    </span>
                </div>

                <div style="display:block" chemical-sketcher readonly="true" width="250" height="250"
                     id="big-{{pictureId}}-CompoundViewer_{{chemId}}" ng-model="compound"></div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="classifications.length > 0">
        <div class="col-md-12">
            <h4>Compound Classification (provided by <a href="http://classyfire.wishartlab.com" target="_blank">ClassyFire</a>)</h4>

            <script type="text/ng-template" id="classyfireTree">
                <span class="tree-label"><i class="icon-folder-open"></i> <span metadata-query value="node" classification="true">{{ node.name | titlecase }}</span></span> <span> {{ node.value }}</span>

                <ul ng-if="node.nodes">
                    <li class="tree-node" ng-repeat="node in node.nodes" ng-include="'classyfireTree'"></li>
                </ul>
            </script>

            <div class="tree">
                <ul>
                    <li class="tree-node" ng-repeat="node in classifications" ng-include="'classyfireTree'"></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Compound Metadata</h4>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="meta in compound.metaData |  filter: {category: '!external id'} | filter: {deleted : '!true'} | filter: {hidden: '!true'} | orderBy : 'name':true  ">
                    <td class="col-lg-4 col-md-6">
                        <span metadata-query value="meta" compound="true">{{meta.name}}</span>
                    </td>
                    <td class="col-lg-8 col-md-6">
                        {{meta.value}} {{meta.unit}}

                        <!-- display this, if there seems to be something odd with this value -->
                        <i ng-show="meta.suspect == true" class="fa fa-exclamation-triangle"></i>

                        <!-- display this, if it's a computed value -->
                        <i ng-show="meta.computed == true" class="fa fa-flask" tooltip-placement="top"
                           uib-tooltip="Calculated by MoNA Auto Curation"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-show="(compound.metaData |  filter: {category: 'external id'}).length > 0">
                <table class="table">
                    <thead>
                    <tr>
                        <th>External Identifier</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="meta in compound.metaData |  filter: {category: 'external id'} | filter: {deleted : '!true'} | filter: {hidden: '!true'} | unique:'name' | orderBy : 'name':false  ">
                        <td class="col-lg-4 col-md-6">
                            <span metadata-query value="meta" compound="true">
                                {{meta.name}}
                            </span>
                        </td>

                        <td class="col-lg-8 col-md-6">
                            <span ng-if="meta.url === ''">{{meta.value}}</span>

                            <a ng-if="meta.url !== ''"  ng-href="{{meta.url}}" target="_blank">
                                {{meta.value}}
                            </a>

                            <!-- display this, if there seems to be something odd with this value -->
                            <i ng-show="meta.suspect == true" class="fa fa-exclamation-triangle"></i>

                            <!-- display this, if it's a computed value -->
                            <i ng-show="meta.computed == true" class="fa fa-flask" tooltip-placement="top"
                               uib-tooltip="Calculated by MoNA auto curation"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-show="compound.tags.length">
                <ul class="list-inline">
                    <li ng-repeat="tag in compound.tags">
                        <span tag-query rule-based="tag.ruleBased" value="tag" type="compound"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
