<li class="dropdown" uib-dropdown>
    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
        Browse <span class="fa fa-caret-down"></span>
    </a>
    <ul class="uib-dropdown-menu">
        <li><a href="#/spectra/browse">Browse Mass Spectra</a></li>
        <li><a href="#/compounds">Browse Compounds</a></li>
        <li><a href="#/spectra/dbindex">Database Index</a></li>
        <li class="divider"></li>
        <li><a href="#/spectra/querytree">Query Tree</a></li>
        <li><a href="#/spectra/similarity">Similarity Query</a></li>
        <li ng-controller="SearchBoxController">
            <a href="" ng-click="querySpectraDialog()">Advanced Query</a>
        </li>
        <li class="divider"></li>
        <li><a href="#/upload">Spectrum Upload</a></li>
    </ul>
</li>
