<li class="dropdown" uib-dropdown>
    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
        Resources
        <span class="fa fa-caret-down"></span>
    </a>
    <ul class="uib-dropdown-menu">
        <li><a href="#/documentation/webservices">Web Services</a></li>
        <li><a href="#/documentation/license">License</a></li>
        <li><a href="#/documentation/query">REST Service Query</a></li>
        <li><a
            href="https://bitbucket.org/fiehnlab/mona/wiki/Using%20authentication%20tokens%20via%20cURL"
            target="_blank">REST API Authentication</a></li>
        <li><a href="#/documentation/terms">Terms and Abbreviations</a></li>
        <li><a href="https://bitbucket.org/fiehnlab/mona/src" target="_blank">Sourcecode</a></li>
        <li><a href="http://mona.fiehnlab.ucdavis.edu/repository/">Repository</a></li>
        <li><a href="https://bitbucket.org/fiehnlab/mona/wiki/Home" target="_blank">Wiki</a></li>
        <li><a href="https://bitbucket.org/fiehnlab/mona/issues/" target="_blank">Bug Reports / Feature requests</a></li>
    </ul>
</li>
