<form name="searchBox" ng-controller="SearchBoxController" ng-submit="searchBoxQuery=''"
      class="nav navbar-form navbar-right ng-pristine ng-valid" role="search">
    <div class="input-group custom-search-form">
        <input type="text" class="form-control ng-pristine ng-valid ng-touched" ng-model="searchBoxQuery"
               placeholder="Search..." tooltip="Search by Name,InChiKey or MoNA ID" tooltip-trigger="focus"
               tooltip-placement="bottom">
                        <span class="input-group-btn">
                            <button class="btn btn-repeat" type="submit" ng-click="performSimpleQuery(searchBoxQuery)">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
    </div>
</form>