<div class="row">
    <div class="col-md-12">
      <br>
        <h1 class="h2"><fa-icon [icon]="faDatabase"></fa-icon> Database Index &amp; Statistics</h1>
          <br />

        <ul ngbNav #nav="ngbNav" [destroyOnHide]="false" class="dbindex-tabs">
            <li [ngbNavItem]="0" role="presentation">
                <a ngbNavLink>Database Content</a>
                <ng-template ngbNavContent>
                    <table class="table table-striped" *ngIf="globalData">
                        <tbody>
                        <tr>
                            <td>Submitters:</td>
                            <td>{{globalData.submitterCount | number}}</td>
                        </tr>
                        <tr>
                            <td>Spectral Records:</td>
                            <td>{{globalData.spectrumCount | number}}</td>
                        </tr>
                        <tr>
                            <td>Unique Compounds (by InChIKey layer):</td>
                            <td>{{globalData.compoundCount | number}}</td>
                        </tr>
                        <tr>
                            <td>Metadata Types:</td>
                            <td>{{globalData.metaDataCount | number}}</td>
                        </tr>
                        <tr>
                            <td>Total Metadata Values:</td>
                            <td>{{globalData.metaDataValueCount | number}}</td>
                        </tr>
                        <tr>
                            <td>Tag Types:</td>
                            <td>{{globalData.tagCount | number}}</td>
                        </tr>
                        <tr>
                            <td>Applied Tags:</td>
                            <td>{{globalData.tagValueCount | number}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <span *ngIf="globalData" style="font-size: 0.9em">Last updated on: {{globalData.created | date}}</span>
                </ng-template>

            </li>

            <li [ngbNavItem]="1" role="presentation">
                <a ngbNavLink>Metadata</a>
                <ng-template ngbNavContent>
                    <div class="h5">
                        This pie chart shows the distribution of metadata values for the selected metadata type.
                        Clicking on the elements in the legend will show/hide chart sections, and clicking on a section in
                        the pie chart will execute a query for the selected value.
                    </div>
                    <br />

                    <div class="text-center">
                        <select class="btn btn-primary" [(ngModel)]="selectedMetadataField" (ngModelChange)="selectMetadataField($event)" aria-labelledby="dropdown-label">
                            <option [ngValue]="f" *ngFor="let f of metadataFields">{{f.title}}</option>
                        </select>
                        <p id="dropdown-label">Metadata Type</p>
                        <p></p>
                    </div>

                    <div style="height: 600px; width: 100%" class="text-center">
                      <nvd3 [options]="metadataChartOptions"
                            [data]="selectedMetadataField.data"></nvd3>
                    </div>

                </ng-template>

            </li>

            <li [ngbNavItem]="2" role="presentation">
                <a ngbNavLink>Compound Classes</a>
                <ng-template ngbNavContent>
                    <div class="h5">
                        This sunburst chart displays the breakdown of compound classifications, which are obtained using
                        <a href="http://classyfire.wishartlab.com/" target="_blank" style="text-decoration: underline">ClassyFire</a>.
                        <br /><br />
                        Clicking on a partition
                        will zoom into it and display a finer-grained view of its child partitions.  Clicking on the center
                        circle will zoom out to the parent partition.
                    </div>

                    <br />

                  <div class="text-center">
                    <div class="btn-group" role="group" aria-label="Chart data mode">
                        <button type="button" class="btn btn-primary accessibility"
                                [class.active]="sunburstDataMode === 'spectrum'"
                                [attr.aria-pressed]="sunburstDataMode === 'spectrum'"
                                (click)="changeSunburstDataMode('spectrum')">Spectrum Count</button>
                        <button type="button" class="btn btn-primary"
                                [class.active]="sunburstDataMode === 'compound'"
                                [attr.aria-pressed]="sunburstDataMode === 'compound'"
                                (click)="changeSunburstDataMode('compound')">Compound Count</button>
                    </div>
                  </div>

                  <br />
                    <div class="text-center">
                      <nvd3 [options]="sunburstOptions"
                            [data]="activeCompoundClassData"
                            class="with-3d-shadow with-transitions"></nvd3>
                    </div>
                    <br />

                    <h2 class="h3">
                        Sub-Classifications <br />
                        <small>Click on the sunburst chart to refine your queries</small>
                    </h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 35%;"><a [routerLink]="" (click)="tableDataSort('name')" class="davis-blue text-decoration-none">Classification</a></th>
                            <th style="width: 25%;"><a [routerLink]="" (click)="tableDataSort('spectra')" class="davis-blue text-decoration-none">Spectra</a></th>
                            <th style="width: 25%;"><a [routerLink]="" (click)="tableDataSort('compounds')" class="davis-blue text-decoration-none">Compounds</a></th>
                            <th style="width: 15%;">Query Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let node of activeTableData | orderBy: tableSort | slice: (tableDataPage - 1) * 5: tableDataPage * 5 ">
                            <td>{{node.name}}</td>
                            <td>{{node.spectra | number:'1.0-0'}}</td>
                            <td>{{node.compounds | number:'1.0-0'}}</td>
                          <td><button class="btn btn-primary" (click)="tableDataExecuteQuery(node)"><fa-icon [icon]="faSearch"></fa-icon> Query</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                      <ngb-pagination *ngIf="activeTableData" [collectionSize]="activeTableData.length" [(page)]="tableDataPage" [pageSize]="5" class="pagination davis-blue" boundaryLinks="true"></ngb-pagination>
                    </div>
                </ng-template>
            </li>
        </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
</div>
