<div class="row">
    <div class="col-md-12">
      <h3><fa-icon [icon]="faCloudDownloadAlt"></fa-icon> Downloads</h3>

        <div class="h5">
            A set of commonly referenced predefined queries.  Clicking the name of the query will display the associated
            spectra in the query browser.  Each query is also available to download in either the MoNA internal show
            JSON format or as NIST MS Search compatible MSP files.
        </div>

        <query-tree-view [treeId]="tree" [treeModel]="queryTree"></query-tree-view>

    </div>
</div>
<br/>
<div class="row" *ngIf="static !== []">
    <div class="col-md-12">
      <h3><fa-icon [icon]="faTable"></fa-icon> Additional Downloads</h3>

        <div class="list-group panel-query-tree well">
            <div class="list-group-item" *ngFor="let st of static">
                <b>{{st.category}}</b>
                <div class="list-group-item" style="padding-left: 3em;" *ngFor="let file of $any(st.files)">
                    <span>{{file.description}}</span>
                    <span class="pull-right">
                        <a [routerLink]="[file.path]" target="_blank" gaEvent="['download', 'click', file.fileName]">
                          <fa-icon [icon]="faDownload"></fa-icon> Download
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
