<div class="row">
    <div class="col-md-12">
    <br>
      <h1 class="h2"><fa-icon [icon]="faCloudDownloadAlt"></fa-icon> Download Spectra</h1>

        <div style="font-size: 1.2rem">
            Click on a query to trigger a dropdown where you can browse or download the associated spectra.<br>
            Queries can be downloaded as JSON (MoNA internal), or MSP/SDF (NIST Compatible) files.
            <br><br><br>
        </div>

        <query-tree-view [treeId]="tree" [treeModel]="queryTree"></query-tree-view>

    </div>
</div>
