<div class="modal-header">
  <h4 class="modal-title"> Are you sure you want to delete the following spectra?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ml-3">
  <li *ngFor="let x of massDelete.showCurrentSelected()">{{x}}</li>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger mr-1" (click)="activeModal.close(true)">Delete</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">Cancel</button>
</div>
