<!--Splash for search-->
<div id="splash-page" *ngIf="searchSplash" class="dissolve-animation">
    <div class="page-splash">
        <div class="page-splash-message">
            Searching
            <span id="loadpulse">
                <div class="segment">
                    <div id="layer1" class="ball"></div>
                    <div id="layer7" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer2" class="ball"></div>
                    <div id="layer8" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer3" class="ball"></div>
                    <div id="layer9" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer4" class="ball"></div>
                    <div id="layer10" class="pulse"></div>
                </div>
            </span>
        </div>
    </div>
</div>
<toaster-container [toasterconfig]="toasterOptions"></toaster-container>

<div #error></div>

<div class="row">
    <div class="col-md-12">
        <ngb-accordion closeOthers="true" #acc="ngbAccordion">
            <ngb-panel id="display-panel" title="Display Generated Query">
                <ng-template ngbPanelContent>
                  Generated RSQL Query: <button (click)="editQuery = !editQuery"><fa-icon [icon]="faEdit"></fa-icon></button>
                  <pre *ngIf="!editQuery" class="input-group-text">{{query !== '' && query !== undefined ? query : "[Empty Query]"}}</pre>
                  <div *ngIf="editQuery">
                    <form (submit)="updateQuery(query)">
                      <div class="input-group">
                        <input type="text" [(ngModel)]="query" name = "rsqlField" class="form-control" />
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit">Update Query</button>
                        </span>
                      </div>
                    </form>
                  </div>

                  Full text search query:
                  <pre class="input-group-text">{{textQuery}}</pre>

                  <div>
                    Example cURL command to download all spectral JSON records matching the generated RSQL query:
                    <pre class="input-group-text">{{{query: query, text: textQuery} | curlPipe}}</pre>
                  </div>

                  <div>To download as an MSP file, add the header: <code>Accept: text/msp</code>.</div>

                  <div>
                    <strong>Note:</strong> Please refer to the <a [routerLink]="['/downloads']">downloads page</a> before starting large query
                    downloads to avoid putting unnecessary strain on the servers.
                  </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="float-left">
            <button class="btn btn-primary mr-1"
                    *ngIf="pagination.table === false" (click)="pagination.table = true; setTable()"
                    placement="right"
                    ngbTooltip="Display Spectra in Tabular Mode">
              <fa-icon [icon]="faTable" size="2x"></fa-icon>
            </button>

            <button class="btn btn-primary mr-1"
                    *ngIf="pagination.table === true" (click)="pagination.table = false; setTable()"
                    placement="right"
                    ngbTooltip="Display Spectra in Panel Mode">
              <fa-icon [icon]="faList" size="2x"></fa-icon>
            </button>

            <button class="btn btn-primary" (click)="searchSpectra()" placement="right"
                    ngbTooltip="Start a New Query">
              <fa-icon [icon]="faSearch" size="2x"></fa-icon>
            </button>

            <button class="btn btn-primary ml-1" (click)="resetQuery()" placement="right"
                    ngbTooltip="Reset the Current Query">
              <fa-icon [icon]="faSync" size="2x"></fa-icon>
            </button>
        </div>

        <div class="float-right">
            <button class="btn btn-danger mr-1" *ngIf="authenticationService.isLoggedIn() " type="button" (click)="executeBatchDelete()" [disabled]="!massDeletion.showCurrentSelected().length">
              <fa-icon [icon]="faTrash" size="2x"></fa-icon> <strong>Batch Delete</strong>
            </button>
            <button class="btn btn-primary" (click)="acc.isExpanded('display-panel')? acc.collapse('display-panel'): acc.expand('display-panel')" placement="left"
                    ngbTooltip="Number of spectra retrieved in this query, click to see additional details">

              <fa-icon [icon]="faBookmark" size="2x"></fa-icon>
              <span *ngIf="authenticationService.isAdmin() && duration !== undefined"> ({{duration | number: '1.2-2'}} s)</span>
              <strong *ngIf="pagination.totalSize > -1"> {{pagination.totalSize|number}}</strong>
              <strong *ngIf="pagination.totalSize <= -1"> Loading...</strong>
            </button>
        </div>
    </div>
</div>

<div class="row top7">
    <div class="col-md-12">
        <div ngbDropdown class="d-inline-block float-left">
            <button class="btn btn-primary" ngbDropdownToggle [disabled]="isSimilaritySearch()">
               {{pagination.itemsPerPage}} Records Per Page
            </button>
            <div ngbDropdownMenu>
                <button (click)="setPageSize(option)" *ngFor="let option of pagination.itemsPerPageOptions" ngbDropdownItem>{{option+' records/page'}}</button>
            </div>
        </div>
        <div class="float-right" *ngIf="authenticationService.isLoggedIn()">
          <button class="btn btn-primary" type="button" (click)="queryUserSpectra()">My Submitted Spectra <fa-icon [icon]="faSearch"></fa-icon></button>
        </div>
    </div>
</div>

<div class="row top17">
    <div class="col-md-12">
      <p>
        <ngb-alert type="success" [dismissible]="false">
          <strong>Click <a [routerLink]="['/documentation/entropy']">here</a> to learn more about Spectral and Normalized Entropy.</strong>
        </ngb-alert>
      </p>
    </div>
    <!-- display spectra as list -->
    <div class="col-md-12" *ngIf="pagination.table !== true">
        <div *ngFor="let spectrum of spectra" class="m-md-3">
            <display-spectra-panel [spectrumResult]="spectrum"></display-spectra-panel>
        </div>
    </div>

    <!-- display spectra as table-->
    <!-- we have to use hidden tag here bug there is a rendering bug problem with
      the masspec plotter when its first loaded -->
    <div class="col-md-12" *ngIf="pagination.table === true">
        <table class="table table-hover table-striped" style="table-layout: fixed;">
            <thead>
            <tr>
                <th *ngFor="let column of pagination.tableColumnSelected"
                    [ngClass]="{'text-center': column != 'ID' && column != 'Name'}">{{column}}</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngIf="spectra.length === 0"></tr>

            <tr *ngFor="let spectrum of spectra" (click)="viewSpectrum(spectrum.id)">
                <td>
                    <div>
                        <div><a style="cursor: pointer" [routerLink]="[viewSpectrum(spectrum.id)]">{{spectrum.id}}</a></div>
                        <div *ngIf="spectrum.score">
                            <ngb-rating [(rate)]="spectrum.score.score" max="5" readonly="true"></ngb-rating>
                        </div>
                        <div *ngIf="spectrum.similarity !== undefined">
                            <h4><span class="label label-primary" >Similarity: {{spectrum.similarity * 1000 | number:'1.0-0'}}</span></h4>
                        </div>
                        <div>
                          <h6><spectrum-feedback-results-curation [spectrum]="spectrum"></spectrum-feedback-results-curation></h6>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <ul class="list-unstyled">
                            <li *ngFor="let name of spectrum.compound[0].names | slice:0:3">{{name.name}}</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="text-center" style="width:150px;height:150px">
                        <div [libChemdoodle]="spectrum.compound[0].molFile" class="center-block" readonly="true"
                             [id]="'bioSketch_'+spectrum.id+'_true'" [width]="150" [height]="150"></div>
                    </div>
                </td>
                <td>
                  <div class="masspec-mini text-center">
                    <lib-ng-mass-spec-plotter [id]="'massSpec_'+spectrum.id" [miniPlot]="true" [spectrum]="spectrum.spectrum"></lib-ng-mass-spec-plotter>
                  </div>
                </td>
                <td>
                    <div>
                        <p class="text-center">{{spectrum.metaDataMap['total exact mass']}}</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- loading information -->
    <div class="text-center" *ngIf="pagination.loading && !searchSplash">
      <h4 class="spinner"><fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Loading...</h4>
    </div>

    <div class="text-center" *ngIf="!pagination.loading && spectra.length == 0">
        <h4>No results found!</h4>
    </div>

    <!-- spacer -->
    <div class="top17">&nbsp;</div>
</div>

<!-- pagination -->
<div *ngIf="!pagination.loading && pagination.totalSize > -1 && !isSimilaritySearch()" class="d-flex justify-content-center">
  <ngb-pagination
    [collectionSize]="pagination.totalSize"
    [maxSize]="pagination.maxSize"
    [pageSize]="pagination.itemsPerPage"
    [(page)]="pagination.currentPage"
    [boundaryLinks]="true"
    (pageChange)="loadPage()"></ngb-pagination>
</div>
