<span class="dropdown" uib-dropdown>
    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
        <i class='fa fa-search'></i>
        <span ng-transclude></span>
    </a>

    <ul class="uib-dropdown-menu">
        <li><a ng-click="newQuery()">Create New Query</a></li>
        <li><a ng-click="addToQuery()">Add to Query</a></li>

        <li ng-show="$parent.auth.isAdmin()" class="divider"></li>
        <li ng-show="$parent.auth.isAdmin()"><a ng-click="curateSpectra()">Curate Spectra by Submitter</a></li>
    </ul>
</span>
