<span class="dropdown" ngbDropdown>
    <a role="button" class="dropdown-toggle" ngbDropdownToggle>
        <i class='fa fa-search'></i>
        <ng-content></ng-content>
    </a>

    <ul class="uib-dropdown-menu" ngbDropdownMenu>
        <li><a (click)="newQuery()">Create New Query</a></li>
        <li><a (click)="addToQuery()">Add to Query</a></li>

        <li [hidden]="isAdmin()" class="divider"></li>
        <li [hidden]="isAdmin()"><a (click)="curateSpectra()">Curate Spectra by Submitter</a></li>
    </ul>
</span>
