<div class="btn-group top5" ngbDropdown>
    <button type="button" class="btn dropdown-toggle btn-sm" ngbDropdownToggle
            [ngClass]="{'btn-info' : tag.ruleBased, 'btn-primary' : !tag.ruleBased}">

        <span *ngIf="tag.ruleBased">
            <i class='fa fa-flask'></i>
        </span>

        {{tag.text}} <span class="caret left30"></span>
    </button>

    <ul class="uib-dropdown-menu" ngbDropdownMenu>
        <li><a (click)="newQuery()">Create New Query</a></li>
        <li><a (click)="addToQuery()">Add to Query</a></li>
    </ul>
</div>
