<div>
    <uib-accordion close-others="true" uib-tooltip-placement="right" uib-tooltip="click, to display the currently executed query"
               uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
        <uib-accordion-group heading="display generated query" is-open="status.isOpen"
                         ng-click="status.isOpen != status.isOpen">

            <div>
                Generated RsqlQuery to use in third party software
                <pre>{{query | json}}</pre>
            </div>

            <div>
                Generated RsqlQuery to use directly from curl:
                <pre>{{query | curl}}</pre>
            </div>


            <!-- <div>
                Generated Query to use directly from curl as library file:
                <pre>{{query | curlAsMsp}}</pre>
            </div>-->

            <div class="row" ng-show="auth.isLoggedIn() && auth.isAdmin()">
                <div class="col-md-12">
                    <div class="form-group">
                        <button class="btn btn-danger" ng-click="curateSpectra()" uib-tooltip-placement="right"
                                uib-tooltip="click, to curate all spectra, based on this query"
                                uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                            <i class="fa fa-2x fa-tasks fa-fw"></i>
                        </button>
                        <button class="btn btn-danger" ng-click="associateSpectra()" uib-tooltip-placement="right"
                                uib-tooltip="click, to associate all spectra, based on this query. This try's to automatically remap the submitter to the author fields"
                                uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                            <i class="fa fa-2x fa-users fa-fw"></i>
                        </button>

                    </div>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
