<div class="form-group row">
    <div *ngFor="let meta of query">
        <div class="col-sm-4" [ngClass]="{'has-error': !meta.name && meta.name != ''}">
            <input type="text"
                   ngModel="meta.name"
                   placeholder="metadata name"
                   [ngbTypeahead]="queryMetadataNames"
                   [editable]=true
                   class="form-control"
                   focusFirst />
        </div>
        <div class="col-sm-2">
            <select
                    ngModel="meta.selected"
                    class="form-control">
                    <option value="" selected>-- select operator --</option>
                    <option *ngFor="let item of select" ngValue="item.value">{{item.name}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input #metadataValues type="text"
                   ngModel="meta.value"
                   [hidden]="!meta.name || meta.name === ''"
                   placeholder="value"
                   [ngbTypeahead]="queryMetadataValues(meta.value, metadataValues.value)"
                   class="form-control"
                   focusFirst />
        </div>
        <div class="col-sm-3">
            <input type="number"
                   [hidden]="meta.value !== '' && isNumber(meta.value)"
                   id="tolerance"
                   ngModel="meta.tolerance"
                   placeholder="tolerance range (+/-)"
                   class="form-control"/>
        </div>
    </div>

    <div class="col-sm-12">
        <button type="button" class="btn btn-default btn-xs" (click)="addMetadataQuery()">+</button>
    </div>
</div>
