<form role="form" name="uploadWizard">
    <div class="modal-header">
        <h4 class="modal-title">Upload a spectra to the system</h4>

        <h5>
            Please fill out all the properties to define a new spectra. This wizard should guide you
        </h5>

    </div>
    <div class="modal-body">
        <div>

            <div ng-switch="getCurrentStep()" ng-animate="'slide'" class="slide-frame">

                <!-- here we define the spectra -->
                <div ng-switch-when="spectra">

                    <fieldset>
                        <div class="form-group"
                             ng-class="{'has-error' : uploadWizard.rawdata.$invalid && !uploadWizard.rawdata.$pristine}">
                            <label for="rawdata" class="control-label">Please paste your spectra into the text
                                area</label>

                            <textarea class="form-control" rows="3" ng-model="spectra.rawData" name="rawdata"
                                      id="rawdata"
                                      ng-required
                                      ng-pattern="/^(\d+:\d+\s*)+$/">

                            </textarea>
                        </div>

                        <p ng-show="uploadWizard.rawdata.$invalid && !uploadWizard.rawdata.$pristine"
                           class="help-block">
                            please make sure that the spectra is formatted the following way: ion:intensity
                            ion:intensity...
                        </p>

                    </fieldset>
                </div>
                <!-- defines the biological inchi and it's name -->
                <div ng-switch-when="bioLogicalInchi">
                    <fieldset>
                        <div class="form-group"
                             ng-class="{'has-error' : uploadWizard.biologicalInchi.$invalid && !uploadWizard.biologicalInchi.$pristine}">
                            <label for="bioLogicalInChi">please add your biological InChI key or draw the structure
                                with the editor</label>
                            <input class="form-control" type="text" ng-model="spectra.biologicalCompound.inchi"
                                   name="biologicalInchi"
                                   id="bioLogicalInChi"
                                   ng-required
                                   ng-pattern="/^([A-Z]{14}-[A-Z]{10}-[A-Z,0-9])+$/"/>

                            <p>The biological InChI Key is the key, which reflects the actual substance, prior to
                                modifications due to adducts, dehydration or derivatisation. You will be able to define
                                the actual chemical InChI Key in the next step</p>

                            <p ng-show="uploadWizard.biologicalInchi.$invalid && !uploadWizard.biologicalInchi.$pristine"
                               class="help-block">
                                please make sure that the value is a valid InChI Key. It needs to look something like
                                'RYGMFSIKBFXOCR-UHFFFAOYSA-N'
                            </p>

                        </div>

                        <div class="form-group"
                             ng-class="{'has-error' : uploadWizard.biologicalInChIName.$invalid && !uploadWizard.biologicalInChIName.$pristine}">
                            <label for="biologicalInChIName">Please provide us with a name for this chemical</label>


                            <div fl-angucomplete inputid="biologicalInChIName"
                                 inputName="biologicalInChIName"
                                 placeholder="Search for a valid Name"
                                 pause="100"
                                 selectedobject="spectra.biologicalCompound.name"
                                 localdata="possibleBiologicalNames"
                                 searchfields="name"
                                 titlefield="name"
                                 inputclass="form-control form-control-small"></div>


                            <p ng-show="uploadWizard.biologicalInChIName.$invalid && !uploadWizard.biologicalInChIName.$pristine"
                               class="help-block">
                                please make sure you provide a valid name
                            </p>
                        </div>

                        <div chemical-sketcher id="bioLogicalInChiSketcher" ng-model="spectra.biologicalCompound.inchi"></div>

                    </fieldset>

                </div>

                <!-- defines the chemical inchi and it's name -->
                <div ng-switch-when="chemicalInChI">
                    <fieldset>
                        <div class="form-group"
                             ng-class="{'has-error' : uploadWizard.chemicalInChI.$invalid && !uploadWizard.chemicalInChI.$pristine}">
                            <label for="chemicalInChI">please add your chemical InChI key or draw the structure
                                with the editor</label>
                            <input class="form-control" type="text" ng-model="spectra.chemicalCompound.inchi"
                                   name="chemicalInChI"
                                   ng-required
                                   id="chemicalInChI"
                                   ng-pattern="/^([A-Z]{14}-[A-Z]{10}-[A-Z,0-9])+$/"
                                    />

                            <p>The chemical InChI Key is the key, which reflects your measured substance,including
                                modifications due to aducts, dehydration or derivatisation.</p>

                            <p ng-show="uploadWizard.chemicalInChI.$invalid && !uploadWizard.chemicalInChI.$pristine"
                               class="help-block">
                                please make sure that the value is a valid InChI Key. It needs to look something like
                                'RYGMFSIKBFXOCR-UHFFFAOYSA-N'
                            </p>

                        </div>
                        <div class="form-group"
                             ng-class="{'has-error' : uploadWizard.chemicalInChIName.$invalid && !uploadWizard.chemicalInChIName.$pristine}">
                            <label for="chemicalInChIName">Please provide us with a name for this chemical</label>

                            <div fl-angucomplete inputid="chemicalInChIName"
                                 inputName="chemicalInChIName"
                                 placeholder="Search for a valid Name"
                                 pause="100"
                                 selectedobject="spectra.chemicalCompound.name"
                                 localdata="possibleChemicalNames"
                                 searchfields="name"
                                 titlefield="name"
                                 inputclass="form-control form-control-small"></div>

                        </div>
                        <div chemical-sketcher id="chemicalInChISketcher" ng-model="spectra.chemicalCompound.inchi" readonly="true"></div>


                    </fieldset>
                </div>

                <!-- defines our meta informations -->
                <div ng-switch-when="meta">
                    <fieldset>
                    </fieldset>
                </div>

                <div ng-switch-when="tags">
                    <p>Please add any 'tags' here, you consider useful for other people. Tags are providing an easy way to find and label spectra.</p>

                    <tags-input ng-model="spectra.tags">
                        <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>

                </div>

                <!-- allows us to procide some comments to this spectra -->

                <div ng-switch-when="comment">
                    <fieldset>
                        <div class="form-group"
                             ng-class="{'has-error' : uploadWizard.comment.$invalid && !uploadWizard.comment.$pristine}">
                            <label for="comment">Please add any comments to this spectra you consider of importance. These comments will be indexed and we will try to extract all useful information</label>

                            <textarea ng-model="spectra.comment" id="comment" class="form-control" rows="6"></textarea>
                        </div>
                    </fieldset>
                </div>

                <div ng-switch-when="summary">
                    <p>This is the summary of your provided information, please press submit to persist this to the
                        server</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Biological InChI Key</td>
                            <td>{{spectra.biologicalCompound.inchi}}</td>
                        </tr>
                        <tr>
                            <td>Chemical InChI Key</td>
                            <td>{{spectra.chemicalCompound.inchi}}</td>
                        </tr>
                        <tr>
                            <td>Biological Name</td>
                            <td>{{spectra.biologicalCompound.name}}</td>
                        </tr>
                        <tr>
                            <td>Chemical Name</td>
                            <td>{{spectra.chemicalCompound.name}}</td>
                        </tr>

                        </tbody>
                    </table>

                    <p>Provided comments</p>
                    <div>
                        {{spectra.comment}}
                    </div>

                </div>
            </div>

            <p>
                generated object for the upload:
            </p>
            <div>{{spectra | json}}</div>

        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
        <a class="btn btn-primary" ng-click="handleNext(dismiss)" ng-disabled="!isStepComplete(uploadWizard)">{{getNextLabel()}}</a>
    </div>
</form>