<form role="form" name="uploadWizard">
    <div class="modal-header">
        <h4 class="modal-title">Upload a spectra to the system</h4>

        <h5>
            Please fill out all the properties to define a new spectra. This wizard should guide you
        </h5>

    </div>
    <div class="modal-body">
        <div>

            <div ng-switch="getCurrentStep()" ng-animate="wave" class="slide-frame">
                <div ng-switch-when="spectra">

                    <fieldset>
                        <div class="form-group"
                             ng-class="{'has-error' : uploadWizard.rawdata.$invalid && !uploadWizard.rawdata.$pristine}">
                            <label for="rawdata" class="control-label">Please paste your spectra into the text
                                area</label>

                            <textarea class="form-control" rows="3" ng-model="spectra.rawData" name="rawdata"
                                      id="rawdata"
                                      ng-required
                                      ng-pattern="/^(\d+:\d+\s*)+$/">

                            </textarea>
                        </div>

                        <p ng-show="uploadWizard.rawdata.$invalid && !uploadWizard.rawdata.$pristine"
                           class="help-block">
                            please make sure that the spectra is formatted the following way: ion:intensity
                            ion:intensity...
                        </p>

                    </fieldset>

                </div>
                <div ng-switch-when="inchi">
                    <fieldset>
                        <p>please add your inchi key or draw your structure with the editor</p>
                        <input type="text" ng-model="spectra.inchi" name="inchi" ng-required/>

                    </fieldset>

                    <div>
                        <canvas id="sketcherSingle" ng-model="spectra.inchi"></canvas>
<!--
                        <script>

                            var sketcherSingle = new ChemDoodle.SketcherCanvas('sketcherSingle', 500, 300, {useServices: true, oneMolecule: true});
                            sketcherSingle.specs.atoms_displayTerminalCarbonLabels_2D = true;
                            sketcherSingle.specs.atoms_useJMOLColors = true;
                            sketcherSingle.specs.bonds_clearOverlaps_2D = true;
                            sketcherSingle.repaint();

                        </script>

                        -->
                    </div>
                </div>
                <div ng-switch-when="name">
                    <fieldset>
                        <p>please provide us with a name of this compound</p>
                        <input type="text" ng-model="spectra.name" name="name" ng-required/>
                    </fieldset>

                </div>
                <div ng-switch-when="meta">
                    <fieldset>
                        <p>can you add some additional metadata</p>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" ng-click="handleNext(dismiss)" ng-disabled="!isStepComplete(uploadWizard)">{{getNextLabel()}}</a>
    </div>
</form>