<div class="row">
    <div class="col-md-12">
        <h3>Statistics</h3>
        <!--<p>View the distributions of metadata values and perform simple queries on the individual spectrum attributes.</p>-->
    </div>

    <div class="col-md-12">
        <h5><b>Database Information</b></h5>

        <table class="table">
            <tbody>
                <tr>
                    <td>Total Submitters:</td>
                    <td>{{globalData.submitterCount | number}}</td>
                </tr>
                <tr>
                    <td>Total Spectra:</td>
                    <td>{{globalData.spectrumCount | number}}</td>
                </tr>
                <tr>
                    <td>Total Compounds:</td>
                    <td>{{globalData.compoundCount | number}}</td>
                </tr>
                <tr>
                    <td>Total Metadata Types:</td>
                    <td>{{globalData.metaDataCount | number}}</td>
                </tr>
                <tr>
                    <td>Total Metadata Values:</td>
                    <td>{{globalData.metaDataValueCount | number}}</td>
                </tr>
                <tr>
                    <td>Total Tags Types:</td>
                    <td>{{globalData.tagCount | number}}</td>
                </tr>
                <tr>
                    <td>Total Tags:</td>
                    <td>{{globalData.tagValueCount | number}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--
    <div class="col-md-12" ng-repeat="(name, data) in fieldData">
        <h4 class="page-header">{{name | titlecase}} <span ng-show="data.length > 10">(Top 10)</span></h4>

        <div style="display: block; height: 400px;">
            <query-pie style="display: none; width: 400px; height: 100%;" ng-model="data" data-name="name"></query-pie>
        </div>
    </div>
    -->
</div>