<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="moaClientApp"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title ng-bind="APP_NAME"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-dialog-service/dist/dialogs.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
    <link rel="stylesheet" href="bower_components/angular-patternfly/dist/styles/angular-patternfly.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css" />
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->

    <link rel="stylesheet" href="lib/chemdoodle/ChemDoodleWeb.css">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/autocomplete.css">
    <!-- endbuild -->
</head>
<body class="dashboard">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="wrapper" ng-controller="AuthenticationController as auth">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" ng-cloak>{{APP_NAME_ABBR}} - {{APP_NAME}}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle" dropdown-toggle href="">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks" role="menu">
                    <li>
                        <a href="#/uploadstatus">
                            <div>
                                <p><strong>Upload Progress</strong><span class="pull-right text-muted">&nbsp;</span></p>
                                <spectra-upload-progress-bar></spectra-upload-progress-bar>
                            </div>
                        </a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a href="#/statistics/query">
                            <div>
                                <p><strong>average query time</strong><span class="pull-right text-muted">&nbsp;</span></p>
                                <statistics timeframe="month" query="search"></statistics>
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="#/statistics/validation">
                            <div>
                                <p><strong>average validation time</strong><span class="pull-right text-muted">&nbsp;</span></p>
                                <statistics timeframe="month" query="validation"></statistics>
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="#/statistics/import">
                            <div>
                                <p><strong>average upload time</strong><span class="pull-right text-muted">&nbsp;</span></p>
                                <statistics timeframe="month" query="import"></statistics>
                            </div>

                        </a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#/statistics">
                            <strong>See All Statistics</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle" dropdown-toggle href="">
                    <i class="fa fa-user fa-fw"></i> <span ng-bind="auth.welcomeMessage"></span> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user" role="menu">

                    <li ng-show="auth.isLoggedIn()">
                        <a href="#/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li ng-show="auth.isLoggedIn()" class="divider"></li>

                    <li>
                        <a ng-click="auth.handleLogin()"><i class="fa fa-sign-out fa-fw"></i> {{auth.isLoggedIn() ? "Logout" : "Login"}}</a>
                    </li>
                    <li ng-show="!auth.isLoggedIn()">
                        <a ng-click="auth.handleRegistration()"><i class="fa fa-users fa-fw"></i> Register</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>

            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search" ng-controller="SearchBoxController">
                        <form name="searchBox" ng-submit="searchBoxQuery = ''">
                            <div class="input-group custom-search-form">
                                <input type="text"
                                       class="form-control"
                                       ng-model="searchBoxQuery"
                                       placeholder="Search..."
                                       tooltip="Search by Name, InChIKey or MoNA ID"
                                       tooltip-trigger="focus"
                                       tooltip-placement="bottom" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-click="performSimpleQuery(searchBoxQuery)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <p class="text-right">
                                <span><a href="" ng-click="querySpectraDialog()">Advanced Query</a></span>
                            </p>
                        </form>
                    </li>

                    <li>
                        <a href="#/spectra/browse"><i class="fa fa-table fa-fw"></i>Browse Mass Spectra</a>
                    </li>

                    <li>
                        <a href="#/compounds"><i class="fa fa-flask fa-fw"></i>Browse Compounds</a>
                    </li>

                    <li>
                        <a href="#/spectra/dbindex"><i class="fa fa-list-alt fa-fw"></i>Database Index</a>
                    </li>

                    <li>
                        <a href="#/spectra/similarity"><i class="fa fa-search fa-fw"></i>Similarity Query</a>
                    </li>

                    <li>
                        <a href="#/upload"><i class="fa fa-cloud-upload fa-fw"></i>Spectrum Uploader</a>
                    </li>

                    <li>
                        <a href="#/statistics"><i class="fa fa-signal fa-fw"></i>Statistics</a>
                    </li>

                    <li>
                        <a href="#/news"><i class="fa fa-flag-o fa-fw"></i>Announcements</a>
                    </li>

                    <li ng-show="auth.isAdmin()">
                        <a href="#"><i class="fa fa-files-o fa-fw"></i>Administration<span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#/admin/submitters">Manage Submitters</a>
                            </li>
                        </ul>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#/admin/news">News</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#"><i class="fa  fa-file-text-o fa-fw"></i>Documentation<span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#/documentation/webservices">Web Services</a>
                            </li>
                            <li>
                                <a href="#/documentation/license">License</a>
                            </li>
                            <li>
                                <a href="#/documentation/query">Query Language for REST services</a>
                            </li>
                            <li>
                                <a href="https://bitbucket.org/fiehnlab/mona/wiki/Using%20authentication%20tokens%20via%20cURL" target="_blank">Authentication using the REST Api</a>
                            </li>

                            <li>
                                <a href="#/documentation/terms">Commonly used terms and abbreviations</a>
                            </li>
                            <li>
                                <a href="https://bitbucket.org/fiehnlab/mona/src" target="_blank">Sourcecode</a>
                            </li>
                            <li>
                                <a href="https://bitbucket.org/fiehnlab/mona/wiki/Home" target="_blank">Wiki</a>
                            </li>
                            <li>
                                <a href="https://bitbucket.org/fiehnlab/mona/issues/" target="_blank">Bug Reports/ Feature requests</a>
                            </li>


                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="top17">
                <div ng-view="" autoscroll="true"></div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-dialog-service/dist/dialogs.min.js"></script>
<script src="bower_components/angular-dialog-service/dist/dialogs-default-translations.min.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<script src="bower_components/flot/jquery.flot.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="bower_components/angular-cts-service/service.js"></script>
<script src="bower_components/angular-msp-parser/service.js"></script>
<script src="bower_components/angular-mgf-parser/service.js"></script>
<script src="bower_components/angular-massbank-parser/service.js"></script>
<script src="bower_components/angular-masspec-plotter/angular-masspec-plotter.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
<script src="bower_components/metisMenu/jquery.metisMenu.js"></script>
<script src="bower_components/paralleljs/lib/parallel.js"></script>
<script src="bower_components/angular-patternfly/dist/angular-patternfly.js"></script>
<!-- endbower -->

<script src="bower_components/angular-bootstrap-affix/dist/angular-bootstrap-affix.js"></script>
<script src="bower_components/angular-jquery/dist/angular-jquery.js"></script>
<script src="bower_components/flot/jquery.flot.resize.js"></script>
<script src="bower_components/flot/jquery.flot.selection.js"></script>
<script src="bower_components/flot/jquery.flot.pie.js"></script>
<script src="bower_components/flot/jquery.flot.time.js"></script>
<!-- endbuild -->


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/server.js"></script>
<script src="scripts/routes/routes.js"></script>

<!-- error handling -->
<script src="scripts/errors.js"></script>

<!-- theming -->
<script src="scripts/theme.js"></script>

<!-- events -->
<script src="scripts/events.js"></script>

<!-- data caching -->
<script src="scripts/cache.js"></script>

<!-- services -->
<script src="scripts/services/persistence/submitterService.js"></script>
<script src="scripts/services/upload/asyncService.js"></script>
<script src="scripts/services/persistence/taggingService.js"></script>
<script src="scripts/services/persistence/spectrumService.js"></script>
<script src="scripts/services/persistence/compoundsService.js"></script>
<script src="scripts/services/persistence/metadataService.js"></script>
<script src="scripts/services/query/SpectraQueryBuilderService.js"></script>
<script src="scripts/services/optimization/MetaDataOptimizationService.js"></script>
<script src="scripts/services/cookie/CookieService.js"></script>
<script src="scripts/services/splashService.js"></script>
<script src="scripts/services/authenticationService.js"></script>
<script src="scripts/services/upload/uploadLibraryService.js"></script>
<script src="scripts/services/persistence/newsService.js"></script>
<script src="scripts/services/persistence/statisticsService.js"></script>


<script src="scripts/filters/curlFilter.js"></script>
<script src="scripts/filters/spectraDownloadFilter.js"></script>


<!-- filters -->
<script src="scripts/filters/curlFilter.js"></script>

<!-- controllers -->
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/authentication/authenticationController.js"></script>
<script src="scripts/controllers/browser/spectraBrowserController.js"></script>
<script src="scripts/controllers/browser/spectraDatabaseIndexController.js"></script>
<script src="scripts/controllers/browser/spectrumViewerController.js"></script>
<script src="scripts/controllers/browser/compoundBrowserController.js"></script>
<script src="scripts/controllers/query/spectraQueryModalController.js"></script>
<script src="scripts/controllers/query/spectraSimilarityQueryController.js"></script>
<script src="scripts/controllers/submitter/submitterController.js"></script>
<script src="scripts/controllers/submitter/submitterModalController.js"></script>
<script src="scripts/controllers/submitter/submitterProfileController.js"></script>
<script src="scripts/controllers/upload/spectraUploadStatusController.js"></script>
<script src="scripts/controllers/upload/cleanAndUploadSpectraDataController.js"></script>
<script src="scripts/controllers/statistics/statisticsController.js"></script>
<script src="scripts/controllers/searchBoxController.js"></script>
<script src="scripts/controllers/documentation/DocumentationTermController.js"></script>



<!-- directives -->
<script src="scripts/directives/submitterFormDirective.js"></script>
<script src="scripts/directives/sketcherDirective.js"></script>
<script src="scripts/directives/autocompleteDirective.js"></script>
<script src="scripts/directives/disableEnterEventDirective.js"></script>
<script src="scripts/directives/multiselectDropdown.js"></script>
<script src="scripts/directives/metadata/tagDirective.js"></script>
<script src="scripts/directives/metadata/metadataValueDirective.js"></script>
<script src="scripts/directives/spectra/spectraUploadProgressDirective.js"></script>
<script src="scripts/directives/compound/displayCompoundDirective.js"></script>
<script src="scripts/directives/passwordsMatchDirective.js"></script>
<script src="scripts/directives/query/queryDirective.js"></script>
<script src="scripts/directives/query/queryPieChart.js"></script>
<script src="scripts/directives/news/newsDirective.js"></script>
<script src="scripts/directives/scoring.js"></script>
<script src="scripts/directives/statisticsDirective.js"></script>
<script src="scripts/directives/submitter/spectra.js"></script>
<script src="scripts/directives/spectra/spectraDownloadDirective.js"></script>
<script src="scripts/directives/spectra/spectraPanelDirective.js"></script>




<!-- none bower js -->
<script src="lib/chemdoodle/ChemDoodleWeb-unpacked.js"></script>
<script src="lib/chemdoodle/ChemDoodleWeb-uis-unpacked.js"></script>
<!-- endbuild -->
</body>
</html>
