<div #error></div>

<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-cloud-upload"></i> Advanced Uploader</h3>

        <div class="h5">
            Upload an spectral library file and dynamically modify the mass spectra and metadata
        </div>
        <br />

        <div *ngIf="!authenticationService.isLoggedIn()" class="alert alert-warning" role="alert">
            <h4><i class="fa fa-user fa-fw"></i> Please <button class="fakeRef" (click)="authenticationService.requestModal()">log in</button> before uploading spectra!</h4>
            <h5>You can start using the uploader without an account, but you will not be able to submit your spectra without registering and logging in.</h5>
        </div>

        <!-- Message indicating loading in background -->
        <div class="h5 text-center" *ngIf="spectraLoaded === 2 && isLoadingSpectra()">
            <span class="spinner"><i class="fa fa-refresh fa-spin"></i> Loading additional spectra in background...</span>
        </div>


        <!-- Select files to upload -->
        <div *ngIf="spectraLoaded === 0" class="card">
            <div class="card-header"><strong>Select a file clean</strong></div>
            <div class="card-body">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" (change)="parseFiles($event)" #fileUpload/>
                        </span>
                    </span>

                    <input id="spectrumFile" type="text" class="form-control" [(ngModel)]="filenames" readonly />
                </div>

                <span class="help-block">Supports MSP and MGF mass spectral library files and MassBank Records Format</span>
            </div>
        </div>


        <!-- Loading message -->
        <div *ngIf="spectraLoaded === 1" class="card">
            <div class="card-header"><strong>Loading and parsing data</strong></div>
            <div class="card-body text-center"><span class="spinner"><i class="fa fa-refresh fa-spin"></i> Uploading and parsing file...</span></div>
        </div>


        <!-- Error message if no spectra are found -->
        <div *ngIf="spectraLoaded === 2 && spectra.length === 0" class="card">
            <div class="card-header"><strong>Loading and parsing data</strong></div>
            <div class="card-body text-center"><p class="lead">No valid mass spectra found in the uploaded file(s)!</p></div>
        </div>


        <!-- Show cleaner/uploader if spectra are found -->
        <div *ngIf="spectraLoaded === 2 && spectra.length > 0" class="card">
            <div class="card-header">
                <nav class="navbar navbar-expand-md" style="width: 100%;">
                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                        <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                            <li class="nav-item"><button class="fakeRef" (click)="previousSpectrum()">Previous</button></li>
                        </ul>
                    </div>
                    <div class="mx-auto order-0">
                        <ul class="navbar-nav mx-auto ">
                            <li><strong>Spectrum {{spectraIndex + 1}} / {{spectra.length}}</strong></li>
                        </ul>
                    </div>
                   <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                       <ul class="navbar-nav ml-auto">
                           <li class="nav-item"><button class="fakeRef" (click)="nextSpectrum()">Next</button></li>
                       </ul>
                   </div>
                </nav>
            </div>

            <div class="card-body">
                <ng-container *ngIf="currentSpectrum.errors">
                    <div class="alert alert-danger" role="alert" *ngIf="currentSpectrum.errors.length">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        The following issues have been found in this spectrum:
                        <ul>
                            <li *ngFor="let error of currentSpectrum.errors">{{error}}</li>
                        </ul>
                    </div>
                </ng-container>

                <div class="masspec-modal" style="width: 100%; height: 100%">
                    <lib-ng-mass-spec-plotter [spectrum]="currentSpectrum.ions" id="masspec"></lib-ng-mass-spec-plotter>
                </div>
                <br />

                <ul ngbNav #nav='ngbNav' class="nav-tabs">
                    <li ngbNavItem="Identifiers">
                        <a ngbNavLink>Identifiers</a>
                        <ng-template ngbNavContent>
                            <div class="container-fluid" style="height: 500px; overflow: auto; margin-top: 10px;">
                                <div class="row form-group">
                                    <div class="col-lg-3"><label>Names</label></div>
                                    <div class="col-lg-9">
                                        <input type="text"
                                               *ngFor="let name of currentSpectrum.names"
                                               [(ngModel)]="name"
                                               ngDefaultControl
                                               placeholder="Name"
                                               class="form-control" />
                                        <button type="button" class="btn btn-default btn-xs" (click)="addName()">+</button>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3 col-lg-3"><label>InChIKey</label></div>
                                    <div class="col-md-9 col-lg-9">
                                        <input type="text"
                                               [(ngModel)]="currentSpectrum.inchiKey"
                                               ngDefaultControl
                                               placeholder="InChIKey"
                                               class="form-control" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3 col-lg-3"><label>InChI Code</label></div>
                                    <div class="col-md-9 col-lg-9">
                                        <input type="text"
                                               [(ngModel)]="currentSpectrum.inchi"
                                               ngDefaultControl
                                               placeholder="InChI Code"
                                               class="form-control" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-3 col-lg-3"><label>SMILES Code</label></div>
                                    <div class="col-md-9 col-lg-9">
                                        <input type="text"
                                               [(ngModel)]="currentSpectrum.smiles"
                                               ngDefaultControl
                                               placeholder="SMILES Code"
                                               class="form-control" />
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <ngb-accordion class="col-sm-12 col-lg-12">
                                        <ngb-panel>
                                            <ng-template ngbPanelTitle>Import MOL/SDF File</ng-template>

                                            <ng-template ngbPanelContent>
                                                Convert a MOL file to an InChI Code and InChIKey.  If uploading to MoNA, the provided MOL file
                                                will be attached; however the full MOL file cannot be included in an MSP export.  Please note that
                                                using this tool will overwrite any existing MOL file, InCHI code or InChIKey.
                                                <hr />

                                                <div class="form-group">
                                                    <label>Copy and paste a molecular structure or upload a MOL/SDF file.</label>
                                                    <textarea class="form-control" [(ngModel)]="currentSpectrum.molFile" ngDefaultControl rows="10"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <div class="input-group">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse&hellip; <input type="file" (change)="parseFiles($event)" />
                                                    </span>
                                                </span>

                                                        <input id="molFile" type="text" class="form-control" [(ngModel)]="filenames" ngDefaultControl readonly />
                                                    </div>
                                                    <div class="input-group">

                                                    </div>
                                                </div>

                                                <span class="help-block">Import a MOL or SDF file.  Note that if you upload an SDF
                                                file with multiple structures, only the first structure will be read.</span>

                                                <div class="form-group text-center">
                                                    <button (click)="convertMolToInChI()" class="btn btn-primary" ngDefaultControl>Convert to InChI Code and InChIKey</button>
                                                </div>
                                            </ng-template>

                                        </ngb-panel>

                                        <ngb-panel>
                                            <ng-template ngbPanelTitle>Draw a Molecular Structure</ng-template>

                                            <ng-template ngbPanelContent>
                                                Draw a structure with the ChemDoodle drawing tool to generate a MOL file.  If uploading to MoNA, the provided MOL file
                                                will be attached; however the full MOL file cannot be included in an MSP export.  Please note that
                                                using this tool will overwrite any existing MOL file, InCHI code or InChIKey.
                                                <hr />

                                                <div style="width: 100%; height: 100%">
                                                    <div class="text-center" [libChemdoodle]="currentSpectrum.molFile"  id="molSketcher" ngDefaultControl></div>
                                                </div>


                                                <div class="form-group text-center">
                                                    <button (click)="convertMolToInChI()" class="btn btn-primary" ngDefaultControl>Convert to InChI Code and InChIKey</button>
                                                </div>
                                            </ng-template>
                                        </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </div>
                        </ng-template>
                    </li>

                    <li ngbNavItem="Metadata">
                        <a ngbNavLink>Metadata</a>
                        <ng-template ngbNavContent>
                            <div id="metadata_editor" style="height: 500px; overflow: auto; margin-top: 10px;">
                                <div *ngFor="let meta of currentSpectrum.meta; index as i">
                                    <div class="col-sm-5 form-group" [ngClass]="{'has-error': !meta.name && meta.name != ''}">
                                        <input type="text"
                                               [(ngModel)]="meta.name"
                                               ngDefaultControl
                                               placeholder="Metadata Name"
                                               class="form-control" />
                                    </div>
                                    <div class="col-sm-5 form-group">
                                        <input type="text"
                                               [(ngModel)]="meta.value"
                                               ngDefaultControl
                                               [disabled]="!meta.name || meta.name == ''"
                                               placeholder="Metadata Value"
                                               class="form-control" />
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <button (click)="removeMetadataField(i)" class="btn btn-default"
                                                ngbTooltip="Remove this metadata field" ngDefaultControl><i class="fa fa-minus-square"></i></button>
                                        <button (click)="applyMetadataToAll(i)" class="btn btn-default"
                                                ngbTooltip="Copy this metadata value to all spectra" ngDefaultControl><i class="fa fa-files-o"></i></button>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-default btn-xs" (click)="addMetadataField()"  ngDefaultControl ngbTooltip="Add a new metadata field">&#43;</button>
                                </div>
                            </div>
                        </ng-template>
                    </li>

                    <li ngbNavItem="Tags">
                        <a ngbNavLink>Tags</a>
                        <ng-template ngbNavContent>
                            <p class="lead">
                                Please add any 'tags' here, you consider useful for other people. <br />
                                Tags provide an easy way to find and label spectra.
                            </p>
                            <tag-input [(ngModel)]="currentSpectrum.tags"
                                       ngDefaultControl
                                        [minlength]="3"
                                        [trimTags]="false">
                                <tag-input-dropdown [autocompleteObservable]="loadTags"></tag-input-dropdown>
                            </tag-input>
                            <br />

                            <div class="text-center">
                                <button (click)="applyTagsToAll()"  ngDefaultControl class="btn btn-default btn-sm"><i class="fa fa-files-o"></i> Apply these tags to all spectra</button>
                            </div>
                        </ng-template>
                    </li>

                    <li ngbNavItem="Trim Spectra">
                        <a ngbNavLink>Trim Spectra</a>
                        <ng-template ngbNavContent>
                            <p class="lead">Removes low intensity ions from a mass spectrum.</p>
                            <div style="margin-top: 10px;">
                                <div>
                                    <div class="col-sm-3 form-group"><strong>Top <code>n</code> Ions</strong></div>
                                    <div class="col-sm-9 form-group">
                                        <input type="number"
                                               [(ngModel)]="ionCuts.nIons"
                                               ngDefaultControl
                                               placeholder="Number of ions"
                                               class="form-control" />
                                        <span class="help-block">Keeps at most the <code>n</code> ions with the highest intensity</span>
                                    </div>
                                </div>

                                <div>
                                    <div class="col-sm-3 form-group"><strong>Base Peak Cut</strong></div>
                                    <div class="col-sm-9 form-group">
                                        <input type="number"
                                               [(ngModel)]="ionCuts.basePeak"
                                               ngDefaultControl
                                               placeholder="Percentage of base peak"
                                               class="form-control" />

                                        <span class="help-block">
                                        Removes all ions below the given percentage of the base peak intensity (where
                                        the value <code>0</code> will retain all ions while the value <code>100</code>
                                        will retain only the base peak.
                                    </span>
                                    </div>
                                </div>

                                <div>
                                    <div class="col-sm-3 form-group"><strong>Absolute Abundance Cut</strong></div>
                                    <div class="col-sm-9 form-group">
                                        <input type="number"
                                               [(ngModel)]="ionCuts.absAbundance"
                                               ngDefaultControl
                                               placeholder="Absolute abundance"
                                               class="form-control" />
                                        <span class="help-block">Removes all ions below the given absolute abundance</span>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-warning" (click)="resetIonCuts()">Reset Spectrum</button>
                                    <button class="btn btn-primary" (click)="performIonCuts(undefined)">Trim Spectrum</button>
                                    <button class="btn btn-primary" (click)="performAllIonCuts()">Trim <strong>All</strong> Spectra</button>
                                </div>
                            </div>
                        </ng-template>
                    </li>

                    <li ngbNavItem="Ion Table">
                        <a ngbNavLink>Ion Table</a>
                        <ng-template ngbNavContent>
                            <div style="height: 500px; overflow: auto; margin-top: 10px;" *ngIf="showIonTable">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th><a [routerLink]="" (click)="sortIonTable('ion')">Ion</a></th>
                                        <th><a [routerLink]="" (click)="sortIonTable('intensity')">Intensity</a></th>
                                        <th><a [routerLink]="" (click)="sortIonTable('annotation')">Annotation</a></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let ion of currentSpectrum.ions">
                                        <td><input type="checkbox" ng-model="ion.selected" /></td>
                                        <td>{{ion.ion | number : '1.0-4'}}</td>
                                        <td>{{ion.intensity | number : '1.0-4'}}</td>
                                        <td>
                                            <input type="text"
                                                   [(ngModel)]="ion.annotation"
                                                   placeholder="Annotation"
                                                   class="form-control" />
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="margin-top: 10px;" *ngIf="!showIonTable">
                                <p class="lead">This mass spectrum is very large!</p>
                                <p>It contains {{currentSpectrum.ions.length}} individual ions. Loading them all automatically can slow down your browser, but you can manually build the ion table:</p>
                                <br />
                                <p class="text-center"><a [routerLink]="" class="btn btn-primary" (click)="showIonTable = true">Build Ion Table</a></p>
                            </div>
                        </ng-template>
                    </li>

                    <li ngbNavItem="Discard Spectrum">
                        <a ngbNavLink>Discard Spectrum</a>
                        <ng-template ngbNavContent>
                            <p class="lead">Are you sure you wish to remove this spectrum?</p>
                            <button class="btn btn-danger" (click)="removeCurrentSpectrum()">Remove</button>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class = "mt-2"></div>
            </div>

            <div class="card-footer">
                <nav class="navbar navbar-expand-md" style="width: 100%;">
                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                        <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                            <li class="nav-item"><button class="fakeRef" (click)="previousSpectrum()">Previous</button></li>
                        </ul>
                    </div>
                    <div class="mx-auto order-0">
                        <ul class="navbar-nav mx-auto ">
                            <li><strong>Spectrum {{spectraIndex + 1}} / {{spectra.length}}</strong></li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><button class="fakeRef" (click)="nextSpectrum()">Next</button></li>
                        </ul>
                    </div>
                </nav>
                <hr />
                <div class="text-center">
                    <button class="btn btn-warning" (click)="resetFile()">Restart</button>
                    <button class="btn btn-primary" (click)="exportFile()">Export as MSP</button>

                    <button *ngIf="!authenticationService.isLoggedIn()" class="btn btn-primary" (click)="waitForLogin(); authenticationService.requestModal()">Login to Upload to MoNA</button>
                    <button *ngIf="authenticationService.isLoggedIn()" class="btn btn-primary" (click)="uploadFile()">Upload to MoNA</button>
                </div>
            </div>
        </div>
    </div>
</div>
