<div class="row">
    <div class="col-md-12">
        <div ng-show="!auth.isLoggedIn()" class="alert alert-warning" role="alert">
            <h3><i class="fa fa-user fa-fw"></i> Please <a href="" ng-click="auth.handleLogin()">log in</a> before uploading spectra!</h3>
            <h5>You can start using the uploader without an account, but you will not be able to submit your spectra without registering and logging in.</h5>
        </div>

        <div ng-show="spectraUploaded">
            <h3>Thank you for your submission!</h3>

            <p>The bar below displays the upload progress. Please <b>do not close your browser</b> while your upload is
                being processed, otherwise your will not be sent to the server.</p>

            <p>Please feel free to continue browsing the website. You will be notified when your upload is complete.</p>
            <br/><br/>

            <spectra-upload-progress-bar></spectra-upload-progress-bar>
            <hr/>
            <a class="btn btn-primary" href="/upload">Upload More Mass Spectra</a>

            <br /><br />
            <hr/>
            <div>
                <h4>Your uploaded spectra will appear below as they are processed:</h4>

                <div ng-if="spectra.length == 0">
                    <h4><i class="fa fa-cog fa-spin fa-2x fa-fw"></i> Loading...</h4>
                </div>

                <div ng-if="spectra.length > 0">
                    <ul>
                        <li ng-repeat="spectrum in spectra | orderBy:'-' | limitTo:10">
                            Spectrum <a ng-href="/spectra/display/{{spectrum.id}}">{{spectrum.id}}</a> was successfully uploaded!
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div ng-show="!spectraUploaded">
            <h3>The upload queue is empty!</h3>
            <br />

            <a class="btn btn-primary" href="/upload">Upload Mass Spectra</a>

            <!--
            <h3>Upload Mass Spectra Wizard</h3>

            <p>Please use the following wizard to upload a new mass spectra to the MoNA.<br/> It should guide you and
                provide you with all the help you need.</p>
            <button type="button" class="btn btn-primary" ng-click="uploadSpectraDialog()">Upload Mass Spectra</button>
            -->
        </div>
    </div>
</div>
