<!--Splash for search-->
<div id="splash-page" ng-show="searchSplash" class="dissolve-animation">
    <div class="page-splash">
        <div class="page-splash-message">
            Searching
            <span id="loadpulse">
                <div class="segment">
                    <div id="layer1" class="ball"></div>
                    <div id="layer7" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer2" class="ball"></div>
                    <div id="layer8" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer3" class="ball"></div>
                    <div id="layer9" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer4" class="ball"></div>
                    <div id="layer10" class="pulse"></div>
                </div>
            </span>
        </div>
    </div>
</div>

<toaster-container toaster-options="{'animation-class': 'toast-center', 'time-out': 0, 'close-button':true}"></toaster-container>

<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
        <uib-accordion close-others="true">
            <uib-accordion-group heading="Display Generated Query" is-open="queryOpen">
                <div>
                    Generated RSQL Query: <a href="" ng-click="editQuery = !editQuery"><i class="fa fa-pencil-square-o"></i></a>

                    <pre ng-if="!editQuery">{{query !== '' && query !== undefined ? query : "[Empty Query]"}}</pre>
                    <div ng-if="editQuery">
                        <form ng-submit="updateQuery(query)">
                            <div class="input-group">
                                <input type="text" ng-model="query" class="form-control" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Update Query</button>
                                </span>
                            </div>
                        </form>
                    </div>

                    Full text search query:
                    <pre>{{textQuery}}</pre>

                    <div>
                        Example cURL command to download all spectral JSON records matching the generated RSQL query:
                        <pre>{{{query: query, text: textQuery} | curl}}</pre>
                    </div>

                    <div>To download as an MSP file, add the header: <code>Accept: text/msp</code>.</div>

                    <div>
                        <strong>Note:</strong> Please refer to the <a href="downloads">downloads page</a> before starting large query
                        downloads to avoid putting unnecessary strain on the servers.
                    </div>

                    <div class="row" ng-show="auth.isLoggedIn() && auth.isAdmin()">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-danger" ng-click="curateSpectra()" uib-tooltip-placement="right"
                                        uib-tooltip="Click to curate all spectra matching this query"
                                        uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                                    <i class="fa fa-2x fa-tasks fa-fw"></i>
                                </button>
                                <button class="btn btn-danger" ng-click="associateSpectra()" uib-tooltip-placement="right"
                                        uib-tooltip="Click to associate all spectra, based on this query. This try's to automatically remap the submitter to the author fields"
                                        uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                                    <i class="fa fa-2x fa-users fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <button class="btn btn-primary"
                    ng-show="pagination.table == false" ng-click="pagination.table = true"
                    uib-tooltip-placement="right"
                    uib-tooltip="Display Spectra in Tabular Mode"
                    uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-table fa-fw"></i>
            </button>

            <button class="btn btn-primary"
                    ng-show="pagination.table == true" ng-click="pagination.table = false"
                    uib-tooltip-placement="right"
                    uib-tooltip="Display Spectra in Panel Mode"
                    uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-list fa-fw" ng-click="table = false"></i>
            </button>

            <button class="btn btn-primary" ng-click="searchSpectra()" uib-tooltip-placement="right"
                    uib-tooltip="Start a New Query"
                    uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-search fa-fw"></i>
            </button>

            <button class="btn btn-primary" ng-click="resetQuery()" uib-tooltip-placement="right"
                    uib-tooltip="Reset the Current Query" uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay="2">
                <i class="fa fa-2x fa-refresh fa-fw"></i>
            </button>
        </div>

        <div class="pull-right">
            <!--
            <div ng-show="auth.isLoggedIn()" spectra-download></div>
            -->

            <button class="btn btn-primary" ng-click="queryOpen = queryOpen ? false : true" uib-tooltip-placement="left"
                    uib-tooltip="Number of spectra retrieved in this query, click to see additional details">

                <i class="fa fa-2x fa-slack fa-fw vcenter"></i>{{pagination.totalSize > -1 ? pagination.totalSize : "Loading..."}}
                <span ng-show="auth.isAdmin() && duration !== undefined"> ({{duration | number: 2}} s)</span>
            </button>
        </div>
    </div>
</div>

<div class="row top7">
    <div class="col-md-12">
        <select data-multi-select
                data-ng-model="pagination.itemsPerPageSelection"
                data-buttonClass="btn btn-primary"
                data-ng-options="option.toString() as option + ' records/page' for option in pagination.itemsPerPageOptions">
        </select>

        <select data-multi-select
                multiple
                data-ng-if="pagination.table == true"
                data-ng-model="pagination.tableColumnSelected"
                data-buttonClass="btn btn-primary"
                data-buttonText="Select Columns"
                data-enableFiltering="true"
                data-ng-options="option for option in pagination.tableColumnOptions">
        </select>
    </div>
</div>

<div class="row top17">
    <!-- display spectra as list -->
    <div class="col-md-12" ng-show="pagination.table == false">
        <div ng-repeat="spectrum in spectra">
            <div display-spectra-panel spectrum="spectrum"></div>
        </div>
    </div>

    <!-- display spectra as table-->
    <div class="col-md-12" ng-show="pagination.table == true">
        <table class="table table-hover table-striped" style="table-layout: fixed;">
            <thead>
            <tr>
                <th data-ng-repeat="column in pagination.tableColumnSelected"
                    data-ng-class="{'text-center': column != 'ID' && column != 'Name'}">{{column}}</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-show="spectra.length == 0"></tr>

            <tr ng-repeat="spectrum in spectra" ng-click="viewSpectrum(spectrum.id, $index)">
                <td data-ng-repeat="column in pagination.tableColumnSelected" data-ng-switch data-on="column">
                    <div data-ng-switch-when="ID">
                        <div><a style="cursor: pointer" ng-href="{{viewSpectrum(spectrum.id)}}">{{spectrum.id}}</a></div>
                        <div>
                            <span><uib-rating ng-model="spectrum.score.score" max="5" data-readonly="true"></uib-rating></span>
                        </div>
                        <div ng-if="spectrum.similarity !== undefined">
                            <h4><span class="label label-primary" >Similarity: {{spectrum.similarity * 1000 | number:0}}</span></h4>
                        </div>
                    </div>

                    <div data-ng-switch-when="Name">
                        <ul class="list-unstyled">
                            <li ng-repeat="name in spectrum.compound[0].names | limitTo:3">{{name.name}}</li>
                        </ul>
                    </div>

                    <div data-ng-switch-when="Structure" class="text-center">
                        <div class="center-block" chemical-sketcher readonly="true" width="150" height="150"
                             id="bioSketch_{{spectrum.id}}_true"
                             ng-model="spectrum.compound"></div>
                    </div>

                    <div data-ng-switch-when="Mass Spectrum" class="text-center">
                        <div class="masspec-mini">
                            <mass-spec id="massSpec_{{spectrum.id}}" mini ng-model="spectrum.spectrum"></mass-spec>
                        </div>
                    </div>

                    <div data-ng-switch-when="Accurate Mass">
                        <p class="text-center">{{spectrum.metaDataMap['total exact mass']}}</p>
                    </div>

                    <div data-ng-switch-default>
                        <p class="text-center">{{spectrum.metaDataMap[column]}}</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- loading information -->
    <div class="text-center" ng-show="pagination.loading && !searchSplash">
        <h4 class="spinner"><i class="fa fa-refresh fa-spin"></i> Loading...</h4>
    </div>

    <div class="text-center" ng-show="!pagination.loading && spectra.length == 0">
        <h4>No results found!</h4>
    </div>

    <!-- pagination -->
    <div ng-if="!pagination.loading && pagination.totalSize > -1" class="text-center">
        <ul uib-pagination
            total-items="pagination.totalSize"
            max-size="pagination.maxSize"
            items-per-page="pagination.itemsPerPage"
            ng-model="pagination.currentPage"
            boundary-links="true"
            ng-change="loadPage()"></ul>
    </div>

    <!-- spacer -->
    <div class="top17">&nbsp;</div>
</div>
