<li class="dropdown" uib-dropdown>
    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
        <i class="fa fa-bar-chart"></i> Spectra <i class="fa fa-caret-down"></i>
    </a>

    <ul class="uib-dropdown-menu">
        <li><a href="spectra/search">Search Spectra</a></li>
        <li><a ng-click="resetQuery()"  href="spectra/browse">Browse Spectra</a></li>
        <li><a href="spectra/statistics">Database Index &amp; Statistics</a></li>
        <li class="divider"></li>
        <li>
            <a href="upload/status">
                <div>
                    <p>
                        <strong>Upload Progress</strong>
                        <span class="pull-right text muted">&nbsp;</span>
                    </p>

                    <spectra-upload-progress-bar></spectra-upload-progress-bar>
                </div>
            </a>
        </li>
    </ul>
</li>
