<li class="dropdown" uib-dropdown>
    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
        Statistics
        <span class="fa fa-caret-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-tasks" role="menu">
        <li>
            <a href="upload/status">
                <div>
                    <p><strong>Upload Progress</strong><span class="pull-right text muted">&nbsp;</span>
                    </p>
                    <spectra-upload-progress-bar></spectra-upload-progress-bar>
                </div>
            </a>
        </li>
        <!--
        <li class="divider"></li>
        <li>
            <a href="statistics/query">
                <div>
                    <p><strong>average query time</strong><span
                        class="pull-right text-muted">&nbsp;</span></p>
                    <statistics timeframe="month" query="search"></statistics>
                </div>

            </a>
        </li>
        <li>
            <a href="statistics/validation">
                <div>
                    <p><strong>average validation time</strong><span class="pull-right text-muted">&nbsp;</span>
                    </p>
                    <statistics timeframe="month" query="validation"></statistics>
                </div>

            </a>
        </li>
        <li>
            <a href="statistics/import">
                <div>
                    <p><strong>average upload time</strong><span
                        class="pull-right text-muted">&nbsp;</span></p>
                    <statistics timeframe="month" query="import"></statistics>
                </div>

            </a>
        </li>
        -->
        <li class="divider"></li>
        <li>
            <a class="text-center" href="statistics">
                <strong>See All Statistics</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</li>
