<span class="dropdown" ngbDropdown style="display: block;">
    <button #btn type="button" class="dropdown-toggle davis-blue text-decoration-none border-0 bg-transparent" style="padding: 0 5px; display: block; width: 100%; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" ngbDropdownToggle
            [ngbTooltip]="tooltipText" [disableTooltip]="btn.scrollWidth <= btn.offsetWidth" container="body">
        <ng-content></ng-content>
    </button>

    <ul class="uib-dropdown-menu" ngbDropdownMenu>
        <li><button class="query-btn" ngbDropdownItem (click)="newQuery()">Create New Query</button></li>
        <li><button class="query-btn" ngbDropdownItem (click)="addToQuery()">Add to Query</button></li>
    </ul>
</span>
