<span class="dropdown" ngbDropdown>
    <button type="button" class="dropdown-toggle davis-blue text-decoration-none border-0 bg-transparent" style="font-family: Roboto, serif; padding: 0 5px;" ngbDropdownToggle>
        <ng-content></ng-content>
    </button>

    <ul class="uib-dropdown-menu" ngbDropdownMenu>
        <li><button class="query-btn" ngbDropdownItem (click)="newQuery()">Create New Query</button></li>
        <li><button class="query-btn" ngbDropdownItem (click)="addToQuery()">Add to Query</button></li>
    </ul>
</span>
