<!-- Hidden downloads are nothing useful anymore? -->
<!-- <div class="form-group query-tree-display-option" *ngIf="depth === 0"> -->
<!--     <label class="clickable"><input type="checkbox" [(ngModel)]="showHidden"> Show Hidden Downloads</label> -->
<!-- </div> -->
<div class="list-group panel-query-tree well">
    <div *ngFor="let node of treeModel">
        <div class="list-group-item" *ngIf="showHidden || node.display">
            <fa-icon class="clickable" [icon]="faFolder" *ngIf="node.children.length && node.collapsed" (click)="treeId.selectNodeHead(node)"></fa-icon>
            <fa-icon class="clickable" [icon]="faFolderOpen" *ngIf="node.children.length && !node.collapsed" (click)="treeId.selectNodeHead(node)"></fa-icon>
            <fa-icon [icon]="faFile" *ngIf="!node.children.length"></fa-icon>

            <!-- Node with query: integrated dropdown for browsing and downloading -->
            <span *ngIf="node.query !== null" ngbDropdown class="d-inline-block">
                &nbsp;<a class="davis-blue text-decoration-none"
                         ngbDropdownToggle
                         ngbTooltip="Browse or download spectra"
                         role="button"
                         tabindex="0"
                         (keydown.enter)="$event.preventDefault(); $event.target.click()"
                         (keydown.space)="$event.preventDefault(); $event.target.click()">
                         {{node.singleLabel}}&nbsp;</a>
                <div ngbDropdownMenu class="dropdown-menu-right">
                    <a ngbDropdownItem [routerLink]="['/spectra/browse']" [queryParams]="{query: node.query}">
                        <fa-icon [icon]="faSearch"></fa-icon>&nbsp;Browse associated spectra
                    </a>
                    <ng-container *ngIf="node.jsonExport !== null || node.mspExport !== null || node.sdfExport !== null">
                        <div class="dropdown-divider"></div>
                        <p class="dropdown-header" style="font-weight: bold; color: #525A60">Download</p>
                        <a ngbDropdownItem *ngIf="node.jsonExport !== null" href="{{downloadJSON(node)}}" download [gaEvent]="node.downloadLabel + '.json'">
                            <fa-icon [icon]="faFileDownload"></fa-icon>&nbsp;JSON &mdash; Internal MoNA Format ({{node.jsonExport.size|bytesPipe}})
                        </a>
                        <a ngbDropdownItem *ngIf="node.mspExport !== null" href="{{downloadMSP(node)}}" download [gaEvent]="node.downloadLabel + '.msp'">
                            <fa-icon [icon]="faFileDownload"></fa-icon>&nbsp;MSP &mdash; NIST Compatible ({{node.mspExport.size|bytesPipe}})
                        </a>
                        <a ngbDropdownItem *ngIf="node.sdfExport !== null" href="{{downloadSDF(node)}}" download [gaEvent]="node.downloadLabel + '.sdf'">
                            <fa-icon [icon]="faFileDownload"></fa-icon>&nbsp;SDF &mdash; NIST Compatible ({{node.sdfExport.size|bytesPipe}})
                        </a>
                    </ng-container>
                    <ng-container *ngIf="node.jsonExport === null && node.mspExport === null && node.sdfExport === null">
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item-text"><em>Export generation in progress...</em></span>
                    </ng-container>
                </div>
            </span><span *ngIf="node.query !== null" style="color: #525A60">&nbsp;({{node.queryCount | number:'1.0-0'}} {{node.queryCount === 1 ? "spectrum" : "spectra"}})</span>

            <!-- Node without query: plain label -->
            <span *ngIf="node.query === null">&nbsp;{{node.singleLabel}}</span>

            <!-- Fallback download button for nodes that have exports but no associated query -->
            <span class="float-right" *ngIf="node.query === null && (node.jsonExport !== null || node.mspExport !== null || node.sdfExport !== null)" ngbDropdown>
                <a ngbDropdownToggle class="btn btn-primary btn-sm" aria-label="Download options">
                    <fa-icon [icon]="faFileDownload"></fa-icon>&nbsp;Download
                </a>
                <div ngbDropdownMenu class="dropdown-menu-right">
                    <a ngbDropdownItem *ngIf="node.jsonExport !== null" href="{{downloadJSON(node)}}" download [gaEvent]="node.downloadLabel + '.json'">
                        <fa-icon [icon]="faFileDownload"></fa-icon>&nbsp;JSON &mdash; Internal MoNA Format ({{node.jsonExport.size|bytesPipe}})
                    </a>
                    <a ngbDropdownItem *ngIf="node.mspExport !== null" href="{{downloadMSP(node)}}" download [gaEvent]="node.downloadLabel + '.msp'">
                        <fa-icon [icon]="faFileDownload"></fa-icon>&nbsp;MSP &mdash; NIST Compatible ({{node.mspExport.size|bytesPipe}})
                    </a>
                    <a ngbDropdownItem *ngIf="node.sdfExport !== null" href="{{downloadSDF(node)}}" download [gaEvent]="node.downloadLabel + '.sdf'">
                        <fa-icon [icon]="faFileDownload"></fa-icon>&nbsp;SDF &mdash; NIST Compatible ({{node.sdfExport.size|bytesPipe}})
                    </a>
                </div>
            </span>
        </div>
        <query-tree-view class="list-group" *ngIf="node.children.length && !node.collapsed" treeDepth="{{depth+1}}" [treeId]="treeId" [treeModel]="node.children"></query-tree-view>
    </div>
</div>
