<div class="form-group query-tree-display-option" *ngIf="depth === 0">
    <label><input type="checkbox" [(ngModel)]="showHidden"> Display Hidden Downloads</label>
</div>
<div class="list-group panel-query-tree well">
    <div *ngFor="let node of treeModel">
        <div class="list-group-item" *ngIf="showHidden || node.display">
            <fa-icon [icon]="faFolder" *ngIf="node.children.length && node.collapsed" (click)="treeId.selectNodeHead(node)"></fa-icon>
            <fa-icon [icon]="faFolderOpen" *ngIf="node.children.length && !node.collapsed" (click)="treeId.selectNodeHead(node)"></fa-icon>
            <fa-icon [icon]="faFile" *ngIf="!node.children.length"></fa-icon>

            <span *ngIf="node.query !== null">&nbsp;<a [routerLink]="['/spectra/browse']" [queryParams]="{query: node.query}"><fa-icon [icon]="faSearch"></fa-icon>{{node.singleLabel}}</a> ({{node.queryCount | number:'1.0-0'}} {{node.queryCount === 1 ? "spectrum" : "spectra"}})</span>
            <span *ngIf="node.query === null"> {{node.singleLabel}}</span>

            <span class="float-right" [hidden]="node.jsonExport === null || node.mspExport === null || node.sdfExport === null" ngbDropdown>
                    <a ngbDropdownToggle class="dropdown-toggle"><fa-icon [icon]="faFileDownload"></fa-icon> Download</a>
                    <ul class="uib-dropdown-menu dropdown-menu-right" placement="right" gaCategory="download" ngbDropdownMenu>
                        <li *ngIf="node.jsonExport !== null"><a ngbDropdownItem href="{{downloadJSON(node)}}" download [gaEvent]="node.downloadLabel + '.json'"><fa-icon [icon]="faFileDownload"></fa-icon> JSON (Internal MoNA Format) ({{node.jsonExport.size|bytesPipe}})</a></li>
                        <li *ngIf="node.mspExport !== null"><a ngbDropdownItem href="{{downloadMSP(node)}}" download [gaEvent]="node.downloadLabel + '.msp'"><fa-icon [icon]="faFileDownload"></fa-icon> MSP (NIST compatible) ({{node.mspExport.size|bytesPipe}})</a></li>
                        <li *ngIf="node.sdfExport !== null"><a ngbDropdownItem href="{{downloadSDF(node)}}" download [gaEvent]=" node.downloadLabel +'.sdf'"><fa-icon [icon]="faFileDownload"></fa-icon> SDF (NIST compatible) ({{node.sdfExport.size|bytesPipe}})</a></li>
                    </ul>
                </span>
            <span class="pull-right" *ngIf="node.jsonExport === null && node.mspExport === null && node.query !== null">Export generation in progress...</span>
        </div>
        <query-tree-view class="list-group" *ngIf="node.children.length && !node.collapsed"  treeDepth="{{depth+1}}" [treeId]="treeId" [treeModel]="node.children"></query-tree-view>
    </div>
</div>
