<div>
    <ul class="list-inline" style="text-align: center;">
        <li class="" *ngFor="let tag of tags">

            <div class="btn-group" ngbDropdown>

                <button type="button" class="btn dropdown-toggle" ngbDropdownToggle [ngClass]="tagClass(tag)">
                    {{tag.text}}
                    <fa-icon [icon]="faFlask" [hidden]="tag.ruleBased"></fa-icon>

                    <span class="caret left30"></span>
                </button>
                <ul class="uib-dropdown-menu" ngbDropdownMenu>
                    <li><a (click)="tag.selected = '+'">+ Has Tag</a></li>
                    <li><a (click)="tag.selected ='-'">- Does Not Have Tag</a></li>
                    <li *ngIf="tag.selected"><a (click)="tag.selected = false">Remove from Query</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
