<div class="btn-group top5" ngbDropdown [placement]="['right']">
    <a type="button" class="dropdown-toggle mr-3" tabindex=0 style="padding: 5px; color: #444A4F" ngbDropdownToggle
       role="button"
       (keydown.enter)="$event.preventDefault(); $event.target.click()"
       (keydown.space)="$event.preventDefault(); $event.target.click()">
        <span *ngIf="tag.ruleBased">
          <fa-icon [icon]="faFlask"></fa-icon>
        </span>
      <fa-icon [icon]="faTag"></fa-icon>&nbsp;{{tag.text}}
    </a>

    <ul class="uib-dropdown-menu" ngbDropdownMenu>
        <li><button class="query-btn" ngbDropdownItem (click)="newQuery()">Create New Query</button></li>
        <li><button class="query-btn" ngbDropdownItem (click)="addToQuery()">Add to Query</button></li>
    </ul>
</div>
