<div>
    <div ng-value="error"></div>

    <form role="form">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>InChIKey</th>
                <th>Name</th>
                <th>Structure</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="spectrum in compounds | limitTo: 10" id="compound_{{spectrum.id}}" ng-click="viewSpectrum($index)">
                <td>{{spectrum.chemicalCompound.inchiKey}}</td>
                <td>{{spectrum.biologicalCompound.names[0]}}</td>
                <td><div chemical-sketcher readonly="true" width="100" height="100" id="compoundViewer_{{spectrum.id}}" ng-model="spectrum.chemicalCompound.inchiKey"></div></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>