<div class="modal-header">
    <button type="button" class="close" ng-click="cancelDialog()" aria-hidden="true">×</button>

    <h3 class="modal-title">Compound Viewer</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <h4>Biological Compound Properties</h4>
            <ul class="list-unstyled">
                <li><em>ID:</em> {{compound.biologicalCompound.id}}</li>
                <li><em>InChIKey:</em> {{compound.biologicalCompound.inchiKey}}</li>
                <li ng-show="compound.biologicalCompound.names.length"><em>Names:</em>
                    <ul>
                        <li ng-repeat="name in compound.biologicalCompound.names">{{name}}</li>
                    </ul>
                </li>
            </ul>

            <h4>Chemical Compound Properties</h4>
            <ul class="list-unstyled">
                <li><em>ID:</em> {{compound.chemicalCompound.id}}</li>
                <li><em>InChIKey:</em> {{compound.chemicalCompound.inchiKey}}</li>
                <li ng-show="compound.chemicalCompound.names.length"><em>Names:</em>
                    <ul>
                        <li ng-repeat="name in compound.chemicalCompound.names">{{name}}</li>
                    </ul>
                </li>
            </ul>

            <h4 ng-show="compound.metadata.length">Metadata</h4>
            <ul ng-show="compound.metadata.length">
                <li ng-repeat="key in compound.metadata">{{key}}: {{compound.metadata[key]}}</li>
            </ul>

            <h4 ng-show="compound.tags.length">Tags</h4>
            <ul ng-show="compound.tags.length">
                <li ng-repeat="tag in compound.tags">{{tag}}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div chemical-sketcher readonly="true" width="400" height="300" id="bigCompoundViewer_{{compound.id}}" ng-model="compound.chemicalCompound.inchiKey"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="updateSubmitter()">Edit</button>
        <button class="btn btn-warning" ng-click="cancelDialog()">Close</button>
    </div>
</div>