<div class="modal-header">
    <button type="button" class="close" ng-click="cancelDialog()" aria-hidden="true">×</button>

    <h3 class="modal-title">Compound Viewer</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h5>Biological Compound Properties</h5>
                <ul class="list-unstyled">
                    <li><em>ID:</em> {{compound.biologicalCompound.id}}</li>
                    <li><em>InChIKey:</em> {{compound.biologicalCompound.inchiKey}}</li>
                    <li ng-show="compound.biologicalCompound.names.length"><em>Names:</em>
                        <ul>
                            <li ng-repeat="name in compound.biologicalCompound.names">{{name}}</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div>
                <h5>Chemical Compound Properties</h5>
                <ul class="list-unstyled">
                    <li><em>ID:</em> {{compound.chemicalCompound.id}}</li>
                    <li><em>InChIKey:</em> {{compound.chemicalCompound.inchiKey}}</li>
                    <li ng-show="compound.chemicalCompound.names.length"><em>Names:</em>
                        <ul>
                            <li ng-repeat="name in compound.chemicalCompound.names">{{name}}</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div ng-show="compound.metadata.length">
                <h5>Metadata</h5>
                <ul>
                    <li ng-repeat="key in compound.metadata">{{key}}: {{compound.metadata[key]}}</li>
                </ul>
            </div>

            <div ng-show="compound.tags.length">
                <h5>Tags</h5>
                <ul>
                    <li ng-repeat="tag in compound.tags">{{tag.text}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <!--<chart ng-model="data"></chart>-->
            <div chemical-sketcher readonly="true" width="400" height="300" id="bigCompoundViewer_{{compound.id}}" ng-model="compound.chemicalCompound.inchiKey"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="updateSubmitter()">Edit</button>
        <button class="btn btn-warning" ng-click="cancelDialog()">Close</button>
    </div>
</div>