<div class="modal-header">
    <button type="button" class="close" ng-click="cancelDialog()" aria-hidden="true">×</button>

    <h3 class="modal-title">Compound Viewer</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h4>Biological Compound Properties</h4>
                <dl class="dl-horizontal compound-properties">
                    <dt>ID:</dt>
                    <dd>{{compound.biologicalCompound.id}}</dd>
                    <dt>InChIKey:</dt>
                    <dd>{{compound.biologicalCompound.inchiKey}}</dd>
                    <dt ng-show="compound.biologicalCompound.names.length">Name(s):</dt>
                    <dd ng-repeat="name in compound.biologicalCompound.names">{{name}}</dd>
                </dl>
            </div>

            <div>
                <h4>Chemical Compound Properties</h4>
                <dl class="dl-horizontal compound-properties">
                    <dt>ID:</dt>
                    <dd>{{compound.chemicalCompound.id}}</dd>
                    <dt>InChIKey:</dt>
                    <dd>{{compound.chemicalCompound.inchiKey}}</dd>
                    <dt ng-show="compound.chemicalCompound.names.length">Name(s):</dt>
                    <dd ng-repeat="name in compound.chemicalCompound.names">{{name}}</dd>
                </dl>
            </div>

            <div ng-show="compound.metadata.length">
                <h4>Metadata</h4>
                <ul>
                    <li ng-repeat="key in compound.metadata">{{key}}: {{compound.metadata[key]}}</li>
                </ul>
            </div>

            <div ng-show="compound.tags.length">
                <h4>Tags</h4>
                <ul class="list-inline">
                    <li ng-repeat="tag in compound.tags"><span class="label label-primary">{{tag.text}}</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <chart id="massSpec_{{compound.id}}" ng-model="compound"></chart>
            <div style="display:block" chemical-sketcher readonly="true" width="400" height="300" id="bigCompoundViewer_{{compound.id}}" ng-model="compound.chemicalCompound.inchiKey"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="updateSubmitter()">Edit</button>
        <button class="btn btn-warning" ng-click="cancelDialog()">Close</button>
    </div>
</div>