<div class="btn-group" dropdown tooltip-placement="left" tooltip="Click to view download options"
     tooltip-trigger="mouseenter" tooltip-popup-delay='2'>
    <button class="btn btn-primary dropdown-toggle" dropdown-toggle >
        <i class="fa fa-2x fa-cloud-download fa-fw"></i>
    </button>

    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>
            <a ng-click="asMsp()" target="_blank">as MSP file</a>
            <a ng-click="asMona()" target="_blank">as MoNA record</a>
        </li>
    </ul>
</div>
