<span class="dropdown" uib-dropdown>
    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
        <i class='fa fa-search'></i>
        <span ng-transclude></span>
    </a>

    <ul class="uib-dropdown-menu">
        <li><a ng-click="newQuery()">Create new query</a></li>
        <li><a ng-click="addToQuery()">Add to query</a></li>
        <li><a ng-click="removeFromQuery()">Remove from query</a></li>

        <li ng-show="$parent.auth.isAdmin()" class="divider"></li>
        <li ng-show="$parent.auth.isAdmin()"><a ng-click="curateSpectra()">curate submitters spectra</a></li>
    </ul>
</span>
