<h3><i class="fa fa-search"></i> Search</h3>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table header-fixed table-borderless">
                    <thead>
                    <tr>
                        <th>Compound</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <input type="text" ng-model="query.name"
                                   class="form-control"
                                   placeholder="Name or InChIKey">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" ng-model="query.classification"
                                   class="form-control"
                                   placeholder="Compound Class"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" ng-model="query.formula"
                                   class="form-control"
                                   placeholder="Molecular Formula">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number" ng-model="query.exactMass"
                                   class="form-control"
                                   placeholder="Exact Mass">
                        </td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-addon">&pm;</div>
                                <input type="number" ng-model="query.exactMassTolerance"
                                       class="form-control"
                                       value="0.5">
                                <div class="input-group-addon">Da</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ion Mode</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-repeat="x in ionMode">
                                    <input type="checkbox" ng-model="x.selected"> {{x.name}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table header-fixed">
                            <thead>
                            <tr>
                                <th>Source Introduction</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                     <span ng-repeat="x in sourceIntroduction">
                                         <input type="checkbox" ng-model="x.selected"> {{x.name}} ({{x.abv}})
                                         <br/>
                                     </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- MS Type -->
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>MS Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-repeat="x in msType">
                                    <input type="checkbox" ng-model="x.selected"> {{x.name}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Library tags -->
            <div class="form-group row" ng-if="libraryTags && libraryTags.length > 0">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Library</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span ng-repeat="x in libraryTags">
                                        <input type="checkbox" ng-model="x.selected" label> {{x.text}}
                                        <br />
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-2">
                    <button type="submit" ng-click="submitQuery()" class="btn btn-primary">Search</button>
                </div>
                <div class="col-sm-2">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>

