<!--Splash for search-->
<div id="splash-page" ng-show="searchSplash" class="dissolve-animation">
    <div class="page-splash">
        <div class="page-splash-message">
            Searching
            <span id="loadpulse">
                <div class="segment">
                    <div id="layer1" class="ball"></div>
                    <div id="layer7" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer2" class="ball"></div>
                    <div id="layer8" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer3" class="ball"></div>
                    <div id="layer9" class="pulse"></div>
                </div>
                <div class="segment">
                    <div id="layer4" class="ball"></div>
                    <div id="layer10" class="pulse"></div>
                </div>
            </span>
        </div>
    </div>
</div>

<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
        <div show-query></div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <button class="btn btn-primary" ng-click="table = true" uib-tooltip-placement="right"
                    uib-tooltip="click, to display the data in tabular mode"
                    uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-table fa-fw"></i>
            </button>

            <button class="btn btn-primary" ng-click="table = false" uib-tooltip-placement="right"
                    uib-tooltip="click, to display the data in grid mode"
                    uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-list fa-fw" ng-click="table = false"></i>
            </button>

            <button class="btn btn-primary" ng-click="initSearch()" uib-tooltip-placement="right"
                    uib-tooltip="click, to open the advanced query dialog"
                    uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-search fa-fw"></i>
            </button>

            <button class="btn btn-primary" ng-click="submitQuery()" uib-tooltip-placement="right"
                    uib-tooltip="click, to refresh the query" uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay="2">
                <i class="fa fa-2x fa-refresh fa-fw"></i>
            </button>

        </div>
    </div>

    <div class="col-md-4 ">
        <div class="pull-right">
            <div ng-show="auth.isLoggedIn()" spectra-download></div>

            <button class="btn btn-primary" ng-click="displayQuery()" uib-tooltip-placement="left"
                    uib-tooltip="this is the number of your received results, click to see more query details">

                <i class="fa fa-2x fa-slack fa-fw vcenter"></i>{{queryResultCount}}
                <span ng-show="auth.isAdmin() && duration !== undefined"> ({{duration | number: 2}} s)</span>
            </button>
        </div>
    </div>
</div>

<div class="row" infinite-scroll="loadMoreSpectra()" infinite-scroll-distance="1"
     infinite-scroll-use-document-bottom="true">
    <!-- display spectra as list -->
    <div class="col-md-12" ng-show="table == false">
        <div ng-repeat="spectrum in spectra">
            <div display-spectra-panel spectrum="spectrum"></div>
        </div>
    </div>

    <!-- display spectra as table-->
    <div class="col-md-12" ng-show="table == true">
        <table class="table table-hover table-striped" style="table-layout: fixed;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="text-center" style="width: 160px">Structure</th>
                <th class="text-center" style="width: 200px">Mass Spectrum</th>
                <th class="text-center">Accurate Mass</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-show="spectra.length == 0">
            </tr>
            <tr ng-repeat="spectrum in spectra" ng-click="viewSpectrum(spectrum.id, $index)">
                <td>
                    <a href="">{{spectrum.id}}</a>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="name in spectrum.compound[0].names | limitTo:3">{{name.name}}</li>
                    </ul>
                </td>
                <td class="text-center">
                    <div class="center-block" chemical-sketcher readonly="true" width="150" height="150"
                         id="bioSketch_{{spectrum.id}}_true"
                         ng-model="spectrum.compound"></div>
                </td>
                <td class="text-center">
                    <div class="masspec-mini">
                        <mass-spec id="massSpec_{{spectrum.id}}" mini ng-model="spectrum.spectrum"></mass-spec>
                    </div>
                    <div>
                        <span score-spectra ng-model="spectrum"></span>
                    </div>
                    <div ng-if="angular.isDefined(spectrum.queryOptions)">
                        <div ng-if="angular.isDefined(spectrum.queryOptions.spectralSimilarity)">
                            Similarity: {{1000 * spectrum.queryOptions.spectralSimilarity | number:0}}
                        </div>
                    </div>
                </td>
                <td>
                    <p class="text-center">{{spectrum.accurateMass}}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- loading information -->
    <div class="text-center" ng-show="loadingMore">
        <h4 class="spinner"><i class="fa fa-refresh fa-spin"></i> Loading...</h4>
    </div>

    <div class="text-center" ng-show="spectra.length > 0 && !dataAvailable">
        <h4>All results loaded</h4>
    </div>

    <div class="text-center" ng-show="spectra.length == 0 && !dataAvailable">
        <h4>No results found!</h4>
    </div>

    <!-- spacer -->
    <div class="top17">&nbsp;</div>
</div>
