<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
        <div show-query></div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <button class="btn btn-primary" ng-click="table = true" tooltip-placement="right"
                    tooltip="click, to display the data in tabular mode"
                    tooltip-trigger="mouseenter" tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-table fa-fw"></i>
            </button>

            <button class="btn btn-primary" ng-click="table = false" tooltip-placement="right"
                    tooltip="click, to display the data in grid mode"
                    tooltip-trigger="mouseenter" tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-list fa-fw" ng-click="table = false"></i>
            </button>

            <button class="btn btn-primary" ng-click="querySpectraDialog()" tooltip-placement="right"
                    tooltip="click, to open the advanced query dialog"
                    tooltip-trigger="mouseenter" tooltip-popup-delay='2'>
                <i class="fa fa-2x fa-search fa-fw"></i>
            </button>

            <button class="btn btn-primary" ng-click="submitQuery()" tooltip-placement="right"
                    tooltip="click, to refresh the query" tooltip-trigger="mouseenter" tooltip-popup-delay="2">
                <i class="fa fa-2x fa-refresh fa-fw"></i>
            </button>
        </div>
    </div>

    <div class="col-md-4 ">
        <div class="pull-right">
            <div ng-show="auth.isLoggedIn()" spectra-download></div>

            <button class="btn btn-primary" ng-click="displayQuery()" tooltip-placement="left"
                    tooltip="this is the number of your received results, click to see more query details">

                <i class="fa fa-2x fa-slack fa-fw vcenter"></i>{{queryResultCount}}
            </button>
        </div>
    </div>
</div>

<div class="row" infinite-scroll="loadMoreSpectra()" infinite-scroll-distance="1"
     infinite-scroll-use-document-bottom="true">
    <!-- display spectra as list -->
    <div class="col-md-12" ng-show="table == false">
        <div ng-repeat="spectrum in spectra">
            <div display-spectra-panel spectrum="spectrum"></div>
        </div>
    </div>

    <!-- display spectra as table-->
    <div class="col-md-12" ng-show="table == true">
        <table class="table table-hover table-striped" style="table-layout: fixed;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th class="text-center" style="width: 160px">Structure</th>
                <th class="text-center" style="width: 200px">Mass Spectrum</th>
                <th class="text-center">Accurate Mass</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-show="spectra.length == 0">
            </tr>
            <tr ng-repeat="spectrum in spectra" ng-click="viewSpectrum(spectrum.id, $index)">
                <td>
                    {{spectrum.id}}
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="name in spectrum.chemicalCompound.names | limitTo:3">{{name.name}}</li>
                    </ul>
                </td>
                <td class="text-center">
                    <div class="center-block" chemical-sketcher readonly="true" width="150" height="150"
                         id="bioSketch_{{spectrum.id}}_true"
                         ng-model="spectrum.biologicalCompound"></div>
                </td>
                <td class="text-center">
                    <div class="masspec-mini">
                        <mass-spec id="massSpec_{{spectrum.id}}" mini ng-model="spectrum.spectrum"></mass-spec>
                    </div>
                    <div>
                        <span score-spectra ng-model="spectrum"></span>
                    </div>
                    <div ng-if="angular.isDefined(spectrum.queryOptions !== undefined)">
                        <div ng-if="angular.isDefined(spectrum.queryOptions.spectraSimilarity)">
                            Similarity: {{1000 * spectrum.queryOptions.spectralSimilarity | number:0}}
                        </div>
                    </div>
                </td>
                <td>
                    <p class="text-center">{{spectrum.accurateMass}}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- loading information -->
    <div class="text-center" ng-show="loadingMore">
        <h4 class="spinner"><i class="fa fa-refresh fa-spin"></i> Loading...</h4>
    </div>

    <div class="text-center" ng-show="spectra.length > 0 && !dataAvailable">
        <h4>All results loaded</h4>
    </div>

    <div class="text-center" ng-show="spectra.length == 0 && !dataAvailable">
        <h4>No results found!</h4>
    </div>

    <!-- spacer -->
    <div class="top17">&nbsp;</div>
</div>