<div class="btn-group" placement="top" ngbTooltip="Click to view download options"
     triggers="mouseenter" [openDelay]="2000" ngbDropdown>
    <button class="btn btn-primary dropdown-toggle" ngbDropdownToggle>
      <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
    </button>

    <ul class="uib-dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <li>
            <button ngbDropdownItem (click)="downloadAsJSON()">as JSON (Internal MoNA Format)</button>
            <button ngbDropdownItem (click)="downloadAsMSP()">as MSP (NIST-compatible)</button>
        </li>
    </ul>
</div>
