<div class="btn-group" placement="bottom" ngbDropdown>
    <button ngbTooltip="Click to view download options" class="btn btn-primary dropdown-toggle" ngbDropdownToggle>
      <fa-icon size="2x" [icon]="faCloudDownloadAlt"></fa-icon>
    </button>

    <ul class="uib-dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <li>
            <button ngbDropdownItem (click)="downloadAsJSON()">as JSON (Internal MoNA Format)</button>
            <button ngbDropdownItem (click)="downloadAsMSP()">as MSP (NIST-compatible)</button>
        </li>
    </ul>
</div>
