<div class="btn-group" placement="top" ngbTooltip="Click to view download options"
     triggers="mouseenter" [openDelay]="2000" ngbDropdown>
    <button class="btn btn-primary dropdown-toggle" ngbDropdownToggle>
        <i class="fa fa-2x fa-cloud-download fa-fw"></i>
    </button>

    <ul class="uib-dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <li>
            <a (click)="downloadAsJSON()" target="_blank">as JSON (Internal MoNA Format)</a>
            <a (click)="downloadAsMSP()" target="_blank">as MSP (NIST-compatible)</a>
        </li>
    </ul>
</div>
