<div class="row" *ngIf="!auth.isLoggedIn()">
  <div class="col-md-12">
    <h3><fa-icon [icon]="faUser"></fa-icon> Please <a href="" (click)="auth.requestModal()">log in</a>!</h3>
  </div>
</div>
<toaster-container [toasterconfig]="toasterOptions"></toaster-container>
<div *ngIf="auth.isLoggedIn() && auth.isAdmin()" class="container">
  <div class="row mb-2">
    <div class="col">
      <hr/>
      <div class="row justify-content-center">
        <h3>Library Deletion Utility</h3>
      </div>
      <hr/>
      <div class="row justify-content-start" *ngIf="libraryTags && libraryTags.length > 0">
        <form (ngSubmit)="submitDeletionQuery()" class="col">
          <span *ngFor="let x of libraryTags">
                <input type="checkbox" name="libraryTag" [(ngModel)]="x.selected" label> {{x.text}} ({{x.count}} spectra)
                <br />
          </span>
          <div class="row mt-2">
            <div class="col-sm">
              <button type="submit" class="btn btn-primary">Delete</button>
            </div>
            <div class="col-sm">
              <button type="button" (click)="refreshTags()" class="btn btn-secondary">Refresh Libraries</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col">
      <hr/>
      <div class="row justify-content-center">
        <h3>Admin Buttons (Use to force updates)</h3>
      </div>
      <hr/>
      <div class="row justify-content-center mb-2">
        <button class="btn btn-info mr-2" (click)="updateStatistics()">Update Statistics</button>
      </div>
      <div class="row justify-content-center mb-2">
        <button class="btn btn-info mr-2" (click)="refreshSimilarity()">Refresh Similarity Service</button>
      </div>
      <div class="row justify-content-center mb-2">
        <button class="btn btn-info mr-2" (click)="updatePredefinedQueries()">Update Predefined Queries</button>
      </div>
      <div class="row justify-content-center mb-2">
        <button class="btn btn-info mr-2" (click)="updateStaticQueries()">Update Static Queries</button>
      </div>
      <div class="row justify-content-center mb-2">
        <button class="btn btn-info mr-2" (click)="reCurateAllData()">Re-Curate All Data</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr/>
      <div class="row justify-content-center">
        <h3>Force Delete By ID</h3>
      </div>
      <hr/>
      <div class="row justify-content-center">
        <div class="col mb-1">
          <label>Input ID's (Comma seperated, No Spaces): </label><input type="text" [(ngModel)]="removeIDs"/>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary" [disabled]="removeIDs === null" (click)="deleteByIds()">Delete Values</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr/>
      <div class="row justify-content-center">
        <h3>Change User Password</h3>
      </div>
      <hr/>
      <div class="row justify-content-center">
        <div class="col mb-1">
          <form #passwordChangeForm="ngForm" id = "passwordChangeForm" class="form-horizontal" novalidate role="form">
            <div class="form-group row" [ngClass]="{ 'has-error' : !email.valid && !email.pristine}">
              <label for="email" class="col-sm-3 col-form-label">Email Address:</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" placeholder="Please enter email address" id="email"
                       name="email" [(ngModel)]="newPassword.emailAddress"
                       #email = "ngModel" required/>
                <p *ngIf="!email.valid && !email.pristine" class="help-block">
                  Please enter a valid email.</p>
              </div>
              <div class="col-sm-3">
                <button type="button" (click)="validateUser()">Validate Email</button>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{ 'has-error' : !password.valid && !password.pristine}">
              <label for="password" class="col-sm-3 col-form-label">Password:</label>
              <div class="col-sm-9">
                <input  class="form-control" placeholder="Please enter your password" id="password"
                        name="password" type="password" [(ngModel)]="newPassword.password"
                        #password = "ngModel" required [hidden]="hidePasswords"/>

                <p *ngIf="!password.valid && !password.pristine" class="help-block">
                  Please enter a valid password</p>
              </div>
            </div>

            <div class="form-group row" [ngClass]="{ 'has-error' : (!passwordMatch.valid &&
              !passwordMatch.pristine) || newPassword.password != newPassword.passwordMatch}">
              <label for="passwordMatch" class="col-sm-3 col-form-label">Re-enter Password:</label>
              <div class="col-sm-9">
                <input  class="form-control" type="password"  placeholder="Please re-enter your password" id="passwordMatch"
                        name="passwordMatch" [(ngModel)]="newPassword.passwordMatch"
                        #passwordMatch = "ngModel"  [hidden]="hidePasswords" required/>

                <p *ngIf="(!passwordMatch.valid && !passwordMatch.pristine) ||
                newPassword.password != newPassword.passwordMatch" class="help-block">Passwords do not match!</p>
              </div>
            </div>

            <div class="form-group row">
              <button class="btn btn-primary"
                (click)="submitPasswordChange()"
                [disabled]="!passwordChangeForm.valid">
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
