<div class="btn-group" uib-tooltip-placement="top" uib-tooltip="Click to view download options"
     uib-tooltip-trigger="mouseenter" uib-tooltip-popup-delay='2' uib-dropdown>
    <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle >
        <i class="fa fa-2x fa-cloud-download fa-fw"></i>
    </button>

    <ul class="uib-dropdown-menu">
        <li>
            <a ng-click="downloadAsMsp()" target="_blank">as MSP file</a>
            <a ng-click="downloadAsMona()" target="_blank">as MoNA record</a>
        </li>
    </ul>
</div>
