<div>
  <div class="modal-header">
    <h3 class="modal-title">Warning! The submitted file is larger than 10 MB</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-content" *ngIf="!authenticationService.isLoggedIn()" class="alert alert-primary">
      <h4> You must <button class="fakeRef davis-blue" (click)="authenticationService.requestModal()">log in</button> to spectra</h4>
    </div>
    <p><strong>
      This file is too large and will not be able to utilize the advanced uploader edit screen. However, this
      file can still be directly uploaded into MoNA. Would you like to proceed with straight through processing?
    </strong></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lg btn-primary mr-1" (click)="activeModal.close(true)" [disabled]="!authenticationService.isLoggedIn()">YES</button>
    <button class="btn btn-lg btn-secondary" (click)="activeModal.close(false)">NO</button>
  </div>
</div>

