<div>
  <div class="modal-header">
    <h1 class="h3">Selected file(s) larger than 3&thinsp;MB</h1>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-content" *ngIf="!authenticationService.isLoggedIn()" class="alert alert-primary">
      <h2 class="h4"> You must <button class="fakeRef davis-blue" (click)="authenticationService.requestModal()">log in</button> to spectra</h2>
    </div>
    <strong><p>
      Spectra can still be uploaded as-is, but the file(s) is too large to utilize the interactive advanced uploader.
    </p>
    <p>
      Upload anyway?
    </p></strong>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lg btn-primary mr-1" (click)="activeModal.close(true)" [disabled]="!authenticationService.isLoggedIn()">Upload</button>
    <button class="btn btn-lg btn-secondary" (click)="activeModal.close(false)">Cancel</button>
  </div>
</div>

