<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
      <h3><fa-icon [icon]="faCloudUpload"></fa-icon> Basic Uploader</h3>

        <br />

        <div *ngIf="!authenticationService.isLoggedIn()" class="alert alert-warning" role="alert">
            <h4><fa-icon [icon]="faUser"></fa-icon> You must <button class="fakeRef davis-blue" (click)="authenticationService.requestModal()">log in</button> to upload spectra</h4>
        </div>


        <!-- Select files to upload -->
        <div *ngIf="page === 0" class="card">
            <div class="card-header"><strong style="font-size: 1.2em;">Upload a Single Mass Spectrum</strong></div>

            <div class="card-body">
                <p class="lead">
                    <small>You may upload a file (the uploader will parse and populate all available compound information and metadata), or paste a spectrum.</small>
                </p>
                <br />

              <label><strong>Upload a File:</strong></label>
                <p class="help-block" *ngIf="uploadError" [ngClass]="{'has-error': uploadError}"><strong>{{uploadError}}</strong></p>
                <div class="input-group" [ngClass]="{'has-error': uploadError}">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" (change)="parseFiles($event)" #fileUpload />
                        </span>
                    </span>

                    <input placeholder="Supports MSP, MGF, and MassBank Records Format (.txt)" id="spectrumFile" type="text" class="form-control" [(ngModel)]="filenames" readonly />
                </div>

                <br />

                <div class="input-group" [ngClass]="{'has-error': pasteError}">
                  <div class="input-group">
                    <label><strong>Paste a Mass Spectrum:</strong></label>
                    <p class="help-block text-danger" *ngIf="pasteError">
                      <strong>&ensp;{{pasteError}}</strong>
                    </p>
                  </div>
                  <textarea placeholder="Supports single-line and multi-line spectra formats:

[m/z]:[intensity] [m/z]:[intensity] ...

OR

[m/z] [intensity]
[m/z] [intensity]
..."

                  class="form-control" [rows]="9" [(ngModel)]="pastedSpectrum"></textarea>
                </div>
                <br />
              <button class="btn btn-primary" [disabled]="!pastedSpectrum" (click)="parsePastedSpectrum(pastedSpectrum)">Continue</button>
            </div>
        </div>


        <!-- Loading message -->
        <div *ngIf="page === 1" class="card">
            <div class="card-header"><strong style="font-size: 1.2em;">Loading...</strong></div>
            <div class="card-body text-center">
                <span class="spinner">
                  <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                    Please wait while your file is loaded and processed...
                </span>
            </div>
        </div>


        <!-- Error message if no spectra are found -->
        <div *ngIf="page === 2 && currentSpectrum === null" class="card">
            <div class="card-header"><strong style="font-size: 1.2em;">Loading...</strong></div>
            <div class="card-body text-center"><strong>No valid mass spectra found in the uploaded file(s)!</strong></div>
        </div>


        <!-- Display spectrum -->
        <div *ngIf="page === 2 && currentSpectrum !== null" class="card">
            <div class="card-header">
                <nav class="navbar navbar-expand-md" style="width: 100%;">
                  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                      <li class="previous"><button class="fakeRef davis-blue" (click)="restart()"><fa-icon [icon]="faArrowLeft"></fa-icon> Restart</button></li>
                    </ul>
                  </div>
                  <div class="mx-auto order-0">
                    <ul class="navbar-nav mx-auto">
                      <li><strong style="font-size: 1.2em;" class="text-nowrap">Spectrum Viewer</strong></li>
                    </ul>
                  </div>
                  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                      <li class="next"><button class="fakeRef davis-blue" (click)="nextPage()">Next <fa-icon [icon]="faArrowRight"></fa-icon></button></li>
                    </ul>
                  </div>
                </nav>
            </div>

            <div class="card-body">
                <p class="lead"><small>
                      Below is your submitted mass spectrum. Please verify that it appears as you expect.
                      <br />
                      You may also add annotations to specific peaks in the ion table below.
                    </small></p>

                <p class="lead" *ngIf="fileHasMultipleSpectra">
                    <small><strong class="text-danger">WARNING: </strong>
                    The file you uploaded contains multiple mass spectral records.
                    The basic uploader is designed to handle only a single spectrum.
                    Only the first spectrum in your file will be processed.
                    To upload multiple spectra at once, use the advanced uploader.</small>
                </p>

                <div class="masspec-modal">
                    <lib-ng-mass-spec-plotter [id]="'masspec-plot'" [spectrum]="currentSpectrum.ions"></lib-ng-mass-spec-plotter>
                </div>
                <br />

                <div style="margin-top: 10px;" *ngIf="!showIonTable">
                    <p><strong>This mass spectrum is very large!</strong></p>
                    <p>It contains {{currentSpectrum.ions.length}} individual ions. Loading them all automatically can slow down your browser, but you can manually build the ion table:</p>
                    <br />
                    <p class="text-center"><button class="btn btn-primary" (click)="showIonTable = true">Build Ion Table</button></p>
                </div>

                <div style="height: 500px; overflow: auto; margin-top: 10px;" *ngIf="showIonTable">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th><button class="fakeRef davis-blue font-weight-bold" (click)="sortIonTable('ion')">Ion</button></th>
                            <th><button class="fakeRef davis-blue font-weight-bold" (click)="sortIonTable('intensity')">Intensity</button></th>
                            <th><button class="fakeRef davis-blue font-weight-bold" (click)="sortIonTable('relativeIntensity')">Relative Intensity</button></th>
                            <th><button class="fakeRef davis-blue font-weight-bold" (click)="sortIonTable('annotation')">Annotation</button></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- seperate orderBy pipe -->
                        <tr *ngFor="let ion of currentSpectrum.ions| orderBy: ionTableSort">
                            <td><input type="checkbox" [(ngModel)]="ion.selected" /></td>
                            <td>{{ion.ion}}</td>
                            <td>{{ion.intensity}}</td>
                            <td>{{ion.relativeIntensity | number:'1.0-0'}}</td>
                            <td>
                                <input type="text" [(ngModel)]="ion.annotation" placeholder="Annotation" class="form-control" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">
                <nav class="navbar navbar-expand-md" style="width: 100%;">
                  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                      <li class="previous"><button class="fakeRef davis-blue" (click)="restart()"><fa-icon [icon]="faArrowLeft"></fa-icon> Restart</button></li>
                    </ul>
                  </div>
                  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                      <li class="next"><button class="fakeRef davis-blue" (click)="nextPage()">Next <fa-icon [icon]="faArrowRight"></fa-icon></button></li>
                    </ul>
                  </div>
                </nav>
            </div>
        </div>


        <!-- Compound information -->
        <div *ngIf="page === 3" class="card">
            <div class="card-header">
              <nav class="navbar navbar-expand-md" style="width: 100%;">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                    <li class="previous"><button class="fakeRef davis-blue" (click)="previousPage()"><fa-icon [icon]="faArrowLeft"></fa-icon> Previous</button></li>
                  </ul>
                </div>
                <div class="mx-auto order-0">
                  <ul class="navbar-nav mx-auto">
                    <li><strong class="text-nowrap" style="font-size: 1.2em;">Compound Information</strong></li>
                  </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="next"><button class="fakeRef davis-blue" (click)="nextPage()">Next <fa-icon [icon]="faArrowRight"></fa-icon></button></li>
                  </ul>
                </div>
              </nav>
            </div>

            <div class="card-body">
                <p class="lead">
                    <small>
                        MoNA requires that every spectrum has an associated compound.  Please enter an InChI, InChIKey,
                        SMILES, compound name, a MOL/SDF file, or draw a structure yourself.  Then, click on
                        "Update Compound" to automatically pull the remaining fields from the
                        <a href="http://cts.fiehnlab.ucdavis.edu" target="_blank">Chemical Translation Service</a>.
                    </small>
                </p>
                <br />

                <div *ngIf="currentSpectrum.molFile && !compoundProcessing" style="text-align: center; width: 100%; height: 100%">
                    <div [libChemdoodle]="currentSpectrum.molFile"
                         [id]="'compoundViewer'"></div>
                </div>

                <div class="alert alert-info" role="alert" *ngIf="compoundProcessing" style="text-align: center;">
                  <h4><fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Pulling compound data...</h4>
                </div>

                <div *ngIf="compoundError" class="alert alert-danger" role="alert">
                  <h5><fa-icon [icon]="faExclamationTriangle"></fa-icon> Error</h5>
                    <h6>{{compoundError}}</h6>
                </div>
                <br />

                <div class="row form-group">
                  <div class="col-lg-3">
                    <label>Names:</label>
                  </div>
                  <div class="col-lg-9">
                    <div *ngFor="let name of currentSpectrum.names; index as i; trackBy: trackByIndex" class="input-group mb-1">
                      <input
                        type="text"
                        [(ngModel)]="currentSpectrum.names[i]"
                        placeholder="Name"
                        class="form-control" />
                      <span class="input-group-btn">
                        <button type="button" ngbTooltip="Remove name" class="btn btn-default" (click)="removeName(i)"><fa-icon size="xs" [icon]="faMinusSquare"></fa-icon></button>
                      </span>
                    </div>

                    <!-- Add name button below -->
                    <button type="button" ngbTooltip="Add a name" class="btn btn-default mt-2" (click)="addName()"><fa-icon size="xs" [icon]="faPlusSquare"></fa-icon></button>
                  </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3 col-lg-3"><label>InChI:</label></div>
                    <div class="col-md-9 col-lg-9">
                        <input type="text"
                               [(ngModel)]="currentSpectrum.inchi"
                               placeholder="InChI"
                               class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3 col-lg-3"><label>SMILES</label></div>
                    <div class="col-md-9 col-lg-9">
                        <input type="text"
                               [(ngModel)]="currentSpectrum.smiles"
                               placeholder="SMILES"
                               class="form-control" />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3 col-lg-3"><label>InChIKey:</label></div>
                    <div class="col-md-9 col-lg-9">
                        <input type="text"
                               [(ngModel)]="currentSpectrum.inchiKey"
                               placeholder="InChIKey"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="button" class="btn btn-primary mr-1" (click)="retrieveCompoundData()" [disabled]="compoundProcessing">
                        <span *ngIf="compoundProcessing"><fa-icon [icon]="faSpinner" [spin]="true"></fa-icon></span>
                        <span> Update Compound</span>
                    </button>
                    <button (click)="resetCompound()" class="btn btn-danger" [disabled]="compoundProcessing">Reset Compound</button>
                </div>

                <div class="row form-group">
                    <ngb-accordion class="col-sm-12 col-lg-12">
                        <ngb-panel>
                            <ng-template ngbPanelTitle><span class="davis-blue">Import MOL/SDF File</span></ng-template>
                            <ng-template ngbPanelContent>
                                <div>
                                    Load a MOL file to attach to this spectrum record or copy and paste a molecular structure.  Please note that the MOL data must contain explicit hydrogens to
                                    convert a MOL file to an InChI Code and InChIKey.  If uploading to MoNA, the provided MOL file
                                    will be attached; however the full MOL file cannot be included in an MSP export.  Please note that
                                    using this tool will overwrite any existing MOL file, InCHI code or InChIKey.
                                </div>
                                <hr />

                                <div class="form-group">
                                  <label><b>Upload an MOL/SDF file:</b></label>
                                  <div class="input-group">
                                      <span class="input-group-btn">
                                          <span class="btn btn-primary btn-file">
                                              Browse&hellip; <input type="file" (change)="parseMolFile($event.target.files)" [disabled]="compoundProcessing" />
                                          </span>
                                      </span>
                                    <input placeholder="MOL or SDF file. Only the first structure will be read from an SDF file containing multiple structures" id="molFile" type="text" class="form-control" [(ngModel)]="filenames" readonly />
                                  </div>
                                </div>

                                <div class="form-group">
                                    <label><b>Copy and paste a molecular structure:</b></label>
                                    <textarea class="form-control" [(ngModel)]="currentSpectrum.molFile" rows="10"></textarea>
                                </div>

                                <div class="form-group text-center">
                                    <button (click)="convertMolToInChI()" class="btn btn-primary">Convert to InChI Code and InChIKey</button>
                                </div>
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel>
                            <ng-template ngbPanelTitle><span class="davis-blue">Draw a Molecular Structure</span></ng-template>
                            <ng-template ngbPanelContent>
                                <div>
                                    Draw a structure with the ChemDoodle drawing tool to generate a MOL file.  If uploading to MoNA, the provided MOL file
                                    will be attached; however the full MOL file cannot be included in an MSP export.  Please note that
                                    using this tool will overwrite any existing MOL file, InChI code or InChIKey.
                                </div>
                                <hr />
                                <div style="width: 100%; height: 100%">
                                    <div class="text-center" [libChemdoodle]="currentSpectrum.molFile" id="molSketcher"></div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-primary" (click)="convertMolToInChI()" [disabled]="compoundProcessing">
                                        <span *ngIf="compoundProcessing"><fa-icon [icon]="faSpinner" [spin]="true"></fa-icon></span>
                                        <span>Pull Compound Info from MOL Data</span>
                                    </button>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>

            <div class="card-footer">
              <nav class="navbar navbar-expand-md" style="width: 100%;">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                    <li class="previous"><button class="fakeRef davis-blue" (click)="previousPage()"><fa-icon [icon]="faArrowLeft"></fa-icon> Previous</button></li>
                  </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="next"><button class="fakeRef davis-blue" (click)="nextPage()">Next <fa-icon [icon]="faArrowRight"></fa-icon></button></li>
                  </ul>
                </div>
              </nav>
            </div>
        </div>


        <!-- Recommended spectrum metadata -->
        <div *ngIf="page === 4 && currentSpectrum !== null" class="card">
            <div class="card-header">
              <nav class="navbar navbar-expand-md" style="width: 100%;">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                    <li class="previous"><button class="fakeRef davis-blue" (click)="previousPage()"><fa-icon [icon]="faArrowLeft"></fa-icon> Previous</button></li>
                  </ul>
                </div>
                <div class="mx-auto order-0">
                  <ul class="navbar-nav mx-auto">
                    <li><strong style="font-size: 1.2em;" class="text-nowrap">Spectrum Metadata</strong></li>
                  </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="next"><button class="fakeRef davis-blue" (click)="nextPage()">Next <fa-icon [icon]="faArrowRight"></fa-icon></button></li>
                  </ul>
                </div>
              </nav>
            </div>

            <div class="card-body">
                <div class="lead">
                    <small>
                        Metadata provides a more complete view of a mass spectrum and allows users to more easily find
                        spectra of importance.  It also improves the accuracy of the MoNA auto-curation and can boost
                        the score of this spectrum record.  The following are a list of <b>strongly recommended</b>
                        metadata to provide.
                    </small>
                </div>
                <br />

                <div style="margin-top: 10px;">
                    <div>
                        <label>Source Introduction / Chromatography Type:</label> <br />
                        <select class="form-control" name="chromatography" [(ngModel)]="metadata.chromatography">
                            <option value="" selected="selected"></option>
                            <option value="Liquid Chromatography (LC)">Liquid Chromatography (LC)</option>
                            <option value="Gas Chromatography (GC)">Gas Chromatography (GC)</option>
                            <option value="Direct Infusion (DI)">Direct Injection/Infusion (DI)</option>
                            <option value="Capillary Electrophoresis (CE)">Capillary Electrophoresis (CE)</option>
                        </select>
                    </div>
                    <br />

                    <div *ngIf="metadata.chromatography && metadata.chromatography !== 'Select One' && metadata.chromatography === 'Gas Chromatography (GC)'">
                        <label>Derivatization:</label> <br />
                        <input type="text" class="form-control" name="derivatization" [(ngModel)]="metadata.derivatization" />
                        <br />
                    </div>

                    <div>
                        <label>MS Type / Level:</label> <br />
                        <select class="form-control" name="mslevel" [(ngModel)]="metadata.mslevel">
                            <option value="" selected="selected"></option>
                            <option value="MS">MS</option>
                            <option value="MS2">MS2</option>
                            <option value="MS3">MS3</option>
                            <option value="MS4">MS4</option>
                            <option value="MS5">MS5</option>
                        </select>
                    </div>
                    <br />

                    <div *ngIf="metadata.mslevel && metadata.mslevel !== 'Select One' && metadata.mslevel !== 'MS'">
                        <label>Precursor m/z:</label> <br />
                        <input type="text" class="form-control" name="precursormz" [(ngModel)]="metadata.precursormz" />
                        <br />

                        <label>Precursor Type:</label> <br />
                        <input type="text" class="form-control" name="precursortype" [(ngModel)]="metadata.precursortype"  />
                        <br />
                    </div>

                    <div>
                        <label>Ionization Method:</label> <br />
                        <select class="form-control" name="ionization" [(ngModel)]="metadata.ionization">
                            <option value="" selected="selected"></option>
                            <option value="Atmospheric Pressure Chemical Ionization (APCI)">Atmospheric Pressure Chemical Ionization (APCI)</option>
                            <option value="Electron Impact (EI)">Electron Impact (EI)</option>
                            <option value="Chemical Ionization (CI)">Chemical Ionization (CI)</option>
                            <option value="Electrospray Ionization (ESI)">Electrospray Ionization (ESI)</option>
                            <option value="Fast Atom Bombardment (FAB)">Fast Atom Bombardment (FAB)</option>
                            <option value="Matrix Assisted Laser Desorption Ionization (MALDI)">Matrix Assisted Laser Desorption Ionization (MALDI)</option>
                        </select>
                    </div>
                    <br />

                    <div>
                        <label>Polarity / Ion Mode:</label> <br />
                        <select class="form-control" name="ionmode" [(ngModel)]="metadata.ionmode">
                            <option value="" selected="selected"></option>
                            <option value="Positive">Positive</option>
                            <option value="Negative">Negative</option>
                        </select>
                    </div>
                    <br />
                    <br />

                    <div>
                        <label>Authors (comma-separated):</label> <br />
                        <input type="text" class="form-control" [(ngModel)]="metadata.authors" />
                    </div>
                </div>
            </div>


            <div class="card-footer">
              <nav class="navbar navbar-expand-md" style="width: 100%;">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                    <li class="previous"><button class="fakeRef davis-blue" (click)="previousPage()"><fa-icon [icon]="faArrowLeft"></fa-icon> Previous</button></li>
                  </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="next"><button class="fakeRef davis-blue" (click)="nextPage()">Next <fa-icon [icon]="faArrowRight"></fa-icon></button></li>
                  </ul>
                </div>
              </nav>
            </div>
        </div>


        <!-- Recommended spectrum metadata -->
        <div *ngIf="page === 5 && currentSpectrum !== null" class="card">
            <div class="card-header">
              <nav class="navbar navbar-expand-md" style="width: 100%;">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                    <li class="previous"><button class="fakeRef davis-blue" (click)="previousPage()"><fa-icon [icon]="faArrowLeft"></fa-icon> Previous</button></li>
                  </ul>
                </div>
                <div class="mx-auto order-0">
                  <ul class="navbar-nav mx-auto">
                    <li><strong style="font-size: 1.2em;" class="text-nowrap">Spectrum Metadata II</strong></li>
                  </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="next"><button class="fakeRef davis-blue" (click)="nextPage()">Next <fa-icon [icon]="faArrowRight"></fa-icon></button></li>
                  </ul>
                </div>
              </nav>
            </div>

            <div class="card-body">
                <div class="lead">
                    <small>
                        In addition to the recommended metadata, we encourage users to provide any other information
                        available about this mass spectral record including:
                        <ul>
                            <li>Sample properties</li>
                            <li>Instrument manufacturer and model</li>
                            <li>Analytical methods and conditions</li>
                            <li>More...</li>
                        </ul>
                    </small>
                </div>
                <br />

                <div *ngIf="metaDataErrors.length > 0">
                  <h3 class="text-danger">{{metaDataErrors[0]}}</h3>
                </div>

                <div id="metadata_editor" style="margin-top: 10px;">
                    <div *ngFor="let meta of currentSpectrum.meta; index as i">
                      <div class="row">
                        <div class="col-sm-5 form-group" [ngClass]="{'has-error': !meta.name && meta.name !== ''}">
                          <input required type="text"
                                 [(ngModel)]="meta.name"
                                 placeholder="Metadata Name"
                                 class="form-control" />
                        </div>
                        <div class="col-sm-5 form-group">
                          <div class="input-group">
                          <input required type="text"
                                 [(ngModel)]="meta.value"
                                 [disabled]="!meta.name || meta.name === ''"
                                 placeholder="Metadata Value"
                                 class="form-control" />
                            <button (click)="removeMetadataField(i)" class="btn btn-default"
                                    ngbTooltip="Remove this metadata field"><fa-icon [icon]="faMinusSquare"></fa-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default" (click)="addMetadataField()" ngbTooltip="Add a new metadata field"><fa-icon [icon]="faPlusSquare"></fa-icon> </button>
                    </div>
                </div>
            </div>


            <div class="card-footer">
              <nav class="navbar navbar-expand-md" style="width: 100%;">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                    <li class="previous"><button class="fakeRef davis-blue" (click)="previousPage()"><fa-icon [icon]="faArrowLeft"></fa-icon> Previous</button></li>
                  </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="next"><button class="fakeRef davis-blue" (click)="validateMetadata()">Next <fa-icon [icon]="faArrowRight"></fa-icon></button></li>
                  </ul>
                </div>
              </nav>
            </div>
        </div>

        <!-- Summary -->
        <div *ngIf="page === 6 && currentSpectrum !== null" class="card">
            <div class="card-header">
              <nav class="navbar navbar-expand-md" style="width: 100%;">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                    <li class="previous"><button class="fakeRef davis-blue" (click)="previousPage()"><fa-icon [icon]="faArrowLeft"></fa-icon> Previous</button></li>
                  </ul>
                </div>
                <div class="mx-auto order-0">
                  <ul class="navbar-nav mx-auto">
                    <li><strong style="font-size: 1.2em;">Summary</strong></li>
                  </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="next" *ngIf="authenticationService.isLoggedIn()"><button class="btn btn-primary" (click)="uploadFile()"><fa-icon [icon]="faCloudUpload"></fa-icon> Upload to MoNA</button></li>
                    <li class="next"*ngIf="!authenticationService.isLoggedIn()">
                      <button class="fakeRef davis-blue" (click)="authenticationService.requestModal()">Log in before uploading to MoNA <fa-icon [icon]="faSignInAlt"></fa-icon></button>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>

            <div class="card-body">
                <p class="lead">
                    <small>Please verify the provided information before uploading</small>
                </p>

                <div class="page-header"><h3>Mass Spectrum</h3></div>
                <div class="masspec-modal">
                    <lib-ng-mass-spec-plotter [spectrum]="currentSpectrum.ions" [id]="'lastSpec'"></lib-ng-mass-spec-plotter>
                </div>

                <br/> <br/>
                <div class="page-header"><h3>Compound Information</h3></div>
                <div>
                    <ul>
                        <li *ngFor="let name of currentSpectrum.names">{{name}}</li>
                    </ul>
                </div>
                <div *ngIf="currentSpectrum.molFile" style="text-align: center;">
                    <div [libChemdoodle]="currentSpectrum.molFile"
                         id="compoundSummaryViewer"></div>
                </div>


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>InChIKey</td>
                            <td>
                                <span *ngIf="currentSpectrum.inchiKey">{{currentSpectrum.inchiKey}}</span>
                                <span *ngIf="!currentSpectrum.inchiKey"><i>None Provided</i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>InChI</td>
                            <td style="max-width: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <span *ngIf="currentSpectrum.inchi">{{currentSpectrum.inchi}}</span>
                                <span *ngIf="!currentSpectrum.inchi"><i>None Provided</i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>SMILES</td>
                            <td>
                                <span *ngIf="currentSpectrum.smiles">{{currentSpectrum.smiles}}</span>
                                <span *ngIf="!currentSpectrum.smiles"><i>None Provided</i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br/> <br/>
                <div class="page-header"><h3>Spectrum Metadata</h3></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngIf="metadata.chromatography && metadata.chromatography != 'Select One'">
                        <td>Source Introduction / Chromatography Type</td>
                        <td>{{metadata.chromatography}}</td>
                    </tr>

                    <tr *ngIf="metadata.mslevel && metadata.mslevel != 'Select One'">
                        <td>MS Type / Level</td>
                        <td>{{metadata.mslevel}}</td>
                    </tr>

                    <tr *ngIf="metadata.precursormz && metadata.precursormz != 'Select One'">
                        <td>Precursor m/z</td>
                        <td>{{metadata.precursormz}}</td>
                    </tr>

                    <tr *ngIf="metadata.precursortype && metadata.precursortype != 'Select One'">
                        <td>Precursor Type</td>
                        <td>{{metadata.precursortype}}</td>
                    </tr>

                    <tr *ngIf="metadata.ionization && metadata.ionization != 'Select One'">
                        <td>Ionization Method</td>
                        <td>{{metadata.ionization}}</td>
                    </tr>

                    <tr *ngIf="metadata.ionmode && metadata.ionmode != 'Select One'">
                        <td>Polarity / Ion Mode</td>
                        <td>{{metadata.ionmode}}</td>
                    </tr>

                    <tr *ngIf="metadata.authors">
                        <td>Authors</td>
                        <td>{{metadata.authors}}</td>
                    </tr>

                    <tr *ngFor="let meta of currentSpectrum.meta">
                        <td>{{meta.name}}</td>
                        <td>{{meta.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
              <nav class="navbar navbar-expand-md" style="width: 100%;">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                  <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
                    <li class="previous"><button class="fakeRef davis-blue" (click)="previousPage()"><fa-icon [icon]="faArrowLeft"></fa-icon> Previous</button></li>
                  </ul>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                  <ul class="navbar-nav ml-auto">
                    <li class="next" *ngIf="authenticationService.isLoggedIn()"><button class="btn btn-primary" (click)="uploadFile()"><fa-icon [icon]="faCloudUpload"></fa-icon> Upload to MoNA</button></li>
                    <li class="next"*ngIf="!authenticationService.isLoggedIn()">
                      <button class="fakeRef davis-blue" (click)="authenticationService.requestModal()">Log in before uploading to MoNA <fa-icon [icon]="faSignInAlt"></fa-icon></button>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
        </div>
    </div>
</div>
