<div class="row">
    <div class="col-md-12">
    <br>
    <h1 class="h2"><fa-icon [icon]="faCloudUploadAlt"></fa-icon> Upload Status</h1>
    <br>
        <div *ngIf="!authenticationService.isLoggedIn()" class="alert alert-warning" role="alert">
            <h2 class="h4"><fa-icon [icon]="faUser"></fa-icon> You must <button class="fakeRef davis-blue" (click)="authenticationService.requestModal()">log in</button> to upload spectra</h2>
        </div>

        <div *ngIf="uploadLibraryService.uploadedSpectraCount > 0">
            <h2 class="h4">Thank you for your submission!</h2>

            <p>Please <b>do not close or refresh this window</b> while your upload is
                being processed, otherwise your submission will not be sent to the server.</p>
            <br/><br/>

            <spectra-upload-progress-bar></spectra-upload-progress-bar>
            <hr/>
            <a class="btn btn-primary btn-lg" [routerLink]="['/upload']"><fa-icon [icon]="faCloudUploadAlt"></fa-icon> Upload More Mass Spectra</a>

            <br /><br />
            <hr/>
            <div>
                <h2 class="h4">Your uploaded spectra will appear below after they are processed:</h2>

                <div *ngIf="uploadLibraryService.uploadedSpectraCount == 0">
                    <h3 class="h4">Loading... <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> </h3>
                </div>

                <div *ngIf="uploadLibraryService.uploadedSpectra && !uploadLibraryService.isSTP" class="overflow-auto" style="max-height: 405px">
                    <ul>
                        <li *ngFor="let spectrum of uploadLibraryService.uploadedSpectra">
                            Spectrum <a class="davis-blue text-decoration-none font-weight-bold" [routerLink]="['/spectra/display/'+spectrum]">{{spectrum}}</a> was successfully uploaded!
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="uploadLibraryService.uploadedSpectraCount === 0">
            <h2 class="h4" *ngIf="!uploadLibraryService.isSTP">The upload queue is empty!</h2>
            <h2 class="h4" *ngIf="uploadLibraryService.isSTP">Straight Through Processing Is Enabled, Please Wait For Batch Load... <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon></h2>
            <br/>

            <a class="btn btn-primary btn-lg" [routerLink]="['/upload']"><fa-icon [icon]="faCloudUploadAlt"></fa-icon> Upload Mass Spectra</a>
        </div>
    </div>
</div>
