
<div class="row">
    <div class="col-md-12">
        <h3><fa-icon [icon]="faCloudUploadAlt"></fa-icon> Upload Spectra</h3>

        <div *ngIf="!authenticationService.isLoggedIn()" class="alert alert-warning" role="alert">
            <h4><fa-icon [icon]="faUser"></fa-icon> Please <button class="fakeRef" (click)="authenticationService.requestModal()">log in</button> before uploading spectra!</h4>
            <h5>You can start using the uploader without an account, but you will not be able to submit your spectra without registering and logging in.</h5>
        </div>

        <div style="padding-left: 3em;">
            <h4> <a [routerLink]="['/upload/basic']" class="btn btn-primary btn-lg mr-1"> <fa-icon [icon]="faFile"></fa-icon> Basic Uploader</a></h4>
            <div class="h5">Upload single mass spectra using a simple, guided wizard</div>
            <br />

            <h4> <a [routerLink]="['/upload/advanced']" class="btn btn-primary btn-lg mr-1"> <fa-icon [icon]="faDatabase"></fa-icon> Advanced Uploader</a></h4>
            <div class="h5">Advanced wizard used to upload mass spectral libraries or multiple spectral files</div>
        </div>
    </div>
</div>
