
<div class="row">
    <div class="col-md-12">
        <h3><fa-icon [icon]="faCloudUploadAlt"></fa-icon> Upload Spectra</h3>

        <div *ngIf="!authenticationService.isLoggedIn()" class="alert alert-warning" role="alert">
            <h4><fa-icon [icon]="faUser"></fa-icon> You must <button class="fakeRef davis-blue" (click)="authenticationService.requestModal()">log in</button> to upload spectra</h4>
        </div>

        <div style="padding-left: 3em;">
            <h4> <a [routerLink]="['/upload/basic']" class="btn btn-primary btn-lg mr-1"> <fa-icon [icon]="faFile"></fa-icon> Basic Uploader</a></h4>
            <div class="h6">Upload single mass spectra using a simple, guided wizard</div>
            <br />

            <h4> <a [routerLink]="['/upload/advanced']" class="btn btn-primary btn-lg mr-1"> <fa-icon [icon]="faDatabase"></fa-icon> Advanced Uploader</a></h4>
            <div class="h6">Advanced wizard used to upload mass spectral libraries or multiple spectral files</div>
        </div>
    </div>
</div>
