<li class="dropdown navbar-top-links mr-4" ngbDropdown>
    <a role="button" class="dropdown-toggle" ngbDropdownToggle>
      <fa-icon [icon]="faChartBar"></fa-icon> Spectra <fa-icon [icon]="faCaretDown"></fa-icon>
    </a>

    <ul class="dropdown-menu" ngbDropdownMenu>
        <li><a ngbDropdownItem data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/spectra/search']">Search Spectra</a></li>
        <li><a ngbDropdownItem data-toggle="collapse" data-target=".navbar-collapse.show" (click)="resetQuery()"  [routerLink]="['/spectra/browse']">Browse Spectra</a></li>
        <li><a ngbDropdownItem data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/spectra/statistics']">Database Index &amp; Statistics</a></li>
        <div class="dropdown-divider"></div>
        <li>
            <a ngbDropdownItem data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/upload/status']">
                    <p>
                        <strong>Upload Progress</strong>
                        <span class="pull-right text muted">&nbsp;</span>
                    </p>

                    <spectra-upload-progress-bar></spectra-upload-progress-bar>
            </a>
        </li>
    </ul>
</li>
