<ul class="nav navbar-nav navbar-top-links navbar-right">
    <!-- User Login -->
    <li class="dropdown" ngbDropdown>
        <a role="button" class="dropdown-toggle" ngbDropdownToggle>
          <fa-icon [icon]="faUser"></fa-icon>
          <fa-icon [icon]="faCaretDown"></fa-icon>
        </a>
        <ul class="uib-dropdown-menu dropdown-user" ngbDropdownMenu>
            <li *ngIf="isLoggedIn()">
              <a ngbDropdownItem data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['/profile']"><fa-icon [icon]="faUser"></fa-icon> User Profile</a>
            </li>
            <li *ngIf="isLoggedIn()" class="divider"></li>

            <li>
              <a ngbDropdownItem data-toggle="collapse" data-target=".navbar-collapse.show" (click)="handleLogin()"><fa-icon [icon]="faSignOutAlt"></fa-icon> {{isLoggedIn() ?
                    "Logout" : "Login"}}</a>
            </li>
            <li *ngIf="!isLoggedIn()">
              <a ngbDropdownItem data-toggle="collapse" data-target=".navbar-collapse.show" (click)="handleRegistration()"><fa-icon [icon]="faUsers"></fa-icon> Register</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
</ul>
