<li class="dropdown mr-4" ngbDropdown>
    <a role="button" class="dropdown-toggle" ngbDropdownToggle>
      <fa-icon [icon]="faQuestionCircle"></fa-icon> Help <fa-icon [icon]="faCaretDown"></fa-icon>
    </a>
    <ul class="dropdown-menu" ngbDropdownMenu>
        <li><a ngbDropdownItem [routerLink]="['/documentation/license']">License</a></li>
        <li><a ngbDropdownItem [routerLink]="['/documentation/query']">REST Service Query</a></li>
        <li><a ngbDropdownItem
                href="https://github.com/metabolomics-us/mona/wiki/REST-Authentication-and-Uploading"
                target="_blank">REST API Authentication</a></li>
        <li><a ngbDropdownItem
                href="https://github.com/metabolomics-us/mona/wiki/webhooks-and-synchronization"
                target="_blank">Webhooks and Synchronization</a></li>

        <li><a ngbDropdownItem [routerLink]="['/documentation/terms']">Terms and Abbreviations</a></li>
        <li><a ngbDropdownItem href="https://github.com/metabolomics-us/mona" target="_blank">Sourcecode</a></li>
        <li><a ngbDropdownItem href="http://mona.fiehnlab.ucdavis.edu/repository/">Repository</a></li>
        <li><a ngbDropdownItem href="https://github.com/metabolomics-us/mona/wiki" target="_blank">Wiki</a></li>
        <li><a ngbDropdownItem href="https://wcmc.myjetbrains.com/youtrack/issues?q=mona" target="_blank">Bug Reports / Feature requests</a></li>
    </ul>
</li>
