<form name="searchBox"
      class="nav navbar-form navbar-right ng-pristine ng-valid" role="search">
    <div class="input-group custom-search-form">
        <input type="text" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="searchBoxQuery"
               [class.is-invalid]="inputError"
               placeholder="Quick search..." ngbTooltip="Search for metadata (3 character minimum)" triggers="focus"
               placement="bottom" name="search-box"/>

        <span class="input-group-btn">
            <button data-toggle="collapse" data-target=".navbar-collapse.show" class="btn btn-repeat btn-search" type="submit" (click)="performSimpleQuery(searchBoxQuery)" aria-label="Search">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </span>
    </div>
</form>
